<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    {include file="web/include/head_common.html"}
    {if $orientation != "p"}
        <link rel="stylesheet" href="//cdn.66173.cn/ins/css/web_h/account_rel.css?t={$smarty.now}">
    {else}
        <link rel="stylesheet" href="//cdn.66173.cn/ins/css/web_v/account_rel.css?t={$smarty.now}">
    {/if}
    {include file="web/include/head_script.html"}
</head>
<body class="account-rel fill-form account-change-password">
    {include file="web/include/menu_bar.html"}
    <div class="main-wrapper">
        <div class="main-width">
            <div class="line">
                <div class="font-lg left">旧密码：</div>
                <div class="font-md right psw-rel old-psw">{include file="web/include/input_with_clear.html" class="" type="password" placeholder="请输入旧密码验证" name="old-password"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">新密码：</div>
                <div class="font-md right psw-rel new-psw-rel">{include file="web/include/input_with_clear.html" class="" type="password" placeholder="请输入您的新密码" name="new-password"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">确认新密码：</div>
                <div class="font-md right psw-rel new-psw-rel">{include file="web/include/input_with_clear.html" class="" type="password" placeholder="请再次输入您的新密码" name="new-password-confirm"}</div>
            </div>
            <div class="font-sm page-tip"></div>
            <button class="font-lg submit-btn change-password-btn change-password-btn-can">确认并提交</button>
            <div class="forget-line"><a class="font-md text">忘记密码?</a></div>
        </div>
    </div>
</body>
{include file="web/include/MD5.html"}
{literal}
<script>
    var submitTimeout;
    var pwdReg = new RegExp(/^[\da-zA-Z]{6,12}$/);
    // 只允许数字和字母
    $("html").on("input", ".psw-rel input", function(e) {
        var $ele = $(e.target);
        $ele.val($ele.val().replace(/[^\da-zA-Z]/g, ''));
        if($ele.val().length > 12) {
            $ele.val($ele.val().substring(0, 12));
        }
    });
    $("body").on("click", ".change-password-btn-can", function() {
        $(".change-password-btn").removeClass("change-password-btn-can");
        commonS.btnTimeOutControl(".change-password-btn", "change-password-btn-can", submitTimeout, 2000);
        var oldPsw = $("input[name=old-password]").val();
        var newPsw = $("input[name=new-password]").val();
        var newPswConfirm = $("input[name=new-password-confirm]").val();
        if(!oldPsw) {
            pageTipControl("请输入旧密码");
            return false;
        }
        if(!newPsw) {
            pageTipControl("请输入新密码");
            return false;
        }
        if(!newPswConfirm) {
            pageTipControl("请输入确认新密码");
            return false;
        }
        // 密码强校验
        if(!pwdReg.test(oldPsw) || !pwdReg.test(newPsw) || !pwdReg.test(newPswConfirm)) {
            pageTipControl("密码只能由6到12位的数字或字母组成");
            return false;
        }
        if(newPsw != newPswConfirm) {
            pageTipControl("两次输入的新密码不一致");
            return false;
        }
        pageTipControl();
        var oldPswConv = oldPsw.MD5(32);
        var newPswConv = newPsw.MD5(32);
//        commonM.ajax({
//            url: "change_password.php",
//            data: {
//                oldPsw: oldPswConv,
//                newPsw: newPswConv
//            },
//            type: 'post',
//            dataType: 'text',
//            success: function (res) {
                var res = {
                    code: 1,
                    desc: '有错'
                };
                var code = res.code;
                if (code == 1) {
                    window.local_obj && window.local_obj.do_logout("密码修改成功，请重新登录");
                }
                else {
                    pageTipControl(res.desc);
                }
//            }
//        });
    });
    //  忘记密码
    $("body").on("click", ".forget-line .text", function() {
        window.local_obj && window.local_obj.forgot_pwd();
    });
</script>
{/literal}
</html>