<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>牛点余额</title>
    {include file="web/include/head_common.html"}
    {if $orientation != "p"}
        <link rel="stylesheet" href="//cdn.66173.cn/ins/css/web_h/account_rel.css?t={$smarty.now}">
    {else}
        <link rel="stylesheet" href="//cdn.66173.cn/ins/css/web_v/account_rel.css?t={$smarty.now}">
    {/if}
    {include file="web/include/head_script.html"}
</head>
<body class="account-rel account-niu-rel account-niudian">
{include file="web/include/menu_bar.html"}
<div class="main-wrapper">
    <div class="main-width">
        <div class="niu-rel-top">
            <div class="font-mder left"><span class="rest-wrapper">余额:</span><span class="num-wrapper"><span class="font-lger num">{$nd_info.nd_num}</span>牛点</span></div>
        </div>
        <div class="niu-rel-detail-wrapper">
            <div class="font-mder top-title">资金明细</div>
            {if $nd_log}
            <div class="has-list">
                <div class="table-wrapper">
                    <table cellPadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr class="font-mder title">
                            <th width="38%">订单号</th>
                            <th width="15%">金额</th>
                            <th width="12%">类型</th>
                            <th width="35%">时间</th>
                        </tr>
                        {foreach from=$nd_log item=data}
                        <tr class="font-md li">
                            <td class="order-id">{$data.orders}</td>
                            <td class="num {if $data.do_type eq '2'}minus{elseif $data.do_type eq '1'}add{/if}">{if $data.do_type eq '2'}-{/if}{$data.nd_num}</td>
                            {if $data.do_type eq '1'}
                            <td class="type1">充值</td>
                            {elseif $data.do_type eq '2'}
                            <td class="type2">消费</td>
                            {/if}
                            <td class="time">{'Y-m-d H:i:s'|date:$data.add_time}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                {if count($nd_log) eq 10}
                <div class="font-md get-status"><span class="more-btn more-btn-can">加载更多</span></div>
                {else}
                <div class="font-md get-status">没有了~</div>
                {/if}
            </div>
            {else}
            <div class="no-list">
                <img class="no-list-img" src="//cdn.66173.cn/ins/img/web_h/no_record.png"/>
                <div class="font-md text">您暂时没有记录~</div>
            </div>
            {/if}
        </div>
    </div>
</div>
</body>
<script>
//    toggleEles(".no-list",".has-list");
    var curPage = 1;
    var getMoreTimeout;
    var ajaxInstance;
    $(".account-niu-rel").on("click", ".more-btn-can", function() {
        $(".more-btn").removeClass("more-btn-can").html("加载中...");
        getList();
        commonS.btnTimeOutControl(".more-btn", "more-btn-can", getMoreTimeout, 3000);
    });
    // 获取消息列表
    function getList() {
        var reqPage = curPage + 1;
        ajaxInstance = $.ajax({
            url: "/web_account.php?act=niudian_more",
            type: 'post',
            dataType: 'text',
            data: {
                page: reqPage
            },
            success: function (res) {
                //type:  add表示充值，前端会在金额前加 '+' ， minus表示消费 ，金额前加 '-'
                var code = res.code;
                var list = res.list || [];
                if (code == 1) {
                    var content = "";
                    // 返回有消息
                    if (list.length != 0) {
                        for (var i = 0; i < list.length; i++) {
                            if (list[i].do_type == '2' || list[i].do_type == '3') {
                                var status = 'minus';
                                var num = '-';
                            } else {
                                status = 'add';
                                num = '';
                            }
                            if (list[i].do_type == '1') {
                                var type = 'type1';
                                var typeChar = '充值';
                            } else if (list[i].do_type == '2') {
                                type = 'type2';
                                typeChar = '消费';
                            }
                            if (list[i].orders) {
                                var order_id = list[i].orders;
                            } else {
                                order_id = "";
                            }
                            content += '<tr class="font-md li ">'
                                + '<td class="order-id">' + order_id + '</td><td class="num ' + status + '">' + num + list[i]['nd_num']
                                + '</td><td class="' + type + '">' + typeChar + '</td><td class="time">' + getLocalTime(list[i]['add_time']) + '</td></tr>';

                        }
                        $(".niu-rel-detail-wrapper tbody").append(content);
                        if (list.length < 10) {
                            $(".get-status").html('没有了~');
                        }
                        else {
                            $(".get-status").html('<span class="more-btn more-btn-can">加载更多</span>');
                        }
                        curPage++;
                    }
                    // 没有更多了
                    else {
                        $(".get-status").html('没有了~');
                    }
                }
                else {
                    commonS.tip(res.desc);
                }
            }
        }, ajaxInstance);
    }
</script>
</html>