<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号找回</title>
    {include file="web/include/head_common.html"}
    {if $orientation != "p"}
        <link rel="stylesheet" href="//cdn.66173.cn/ins/css/web_h/service_rel.css?t={$smarty.now}">
    {else}
        <link rel="stylesheet" href="//cdn.66173.cn/ins/css/web_v/service_rel.css?t={$smarty.now}">
    {/if}
    {include file="web/include/head_script.html"}
</head>
<body class="service-rel fill-form service-account-find">
{include file="web/include/menu_bar.html"}
<div class="main-wrapper">
    <div class="main-width">
        <form id="acc-back-from">
            <header class="font-lg top-tip-zone">
                {if $info}
                {if $info.status eq '1'}
                <span style="color: coral">{$info.reply}</span>
                <br/>
                {else}
                <span style="color: coral">您在{$info.add_time|date_format:'%Y-%m-%d %H:%M:%S'}提交的申请，等待受理中，处理结果将会通过提供的QQ或者手机号进行回复，请您耐心等待。</span>
                <br/>
                {/if}
                {else}
                <span style="color: coral"> 请耐心的填写相关信息,找回账号概率会加大。</span>
                {/if}
            </header>
            <div class="line">
                <div class="font-lg left">手机号码：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class=""  type="tel" placeholder="请输入您的手机号" name="mobile"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">QQ：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class=""  type="tel" placeholder="请输入您的联系QQ" name="qq"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">账号ID：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class=""  type="text" placeholder="" name="transfer_id"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">注册时间：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class="" type="date" placeholder="" name="creation_time"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">最后登录时间：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class=""  type="date" placeholder="" name="last_time"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">信息描述：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class=""  type="text" placeholder="" name="user_info"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">设备信息：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class="" type="text" placeholder="" name="device"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">充值信息：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class="" type="text" placeholder="" name="pay_order"}</div>
            </div>
            <div class="line">
                <div class="font-lg left">其他：</div>
                <div class="font-md right ">{include file="web/include/input_with_clear.html" class=""  type="text" placeholder="" name="other"}</div>
            </div>
            <div class="font-sm page-tip"></div>
            <span id="submit" type="submit" class="font-lg submit-btn submit-btn-can">确认并提交</span>
            <input type="hidden" value="{$uuid}" name="uuid"/>
            <input name="system" type="hidden" id="system" value="{$system}">
            <input name="email" type="hidden" value="">
        </form>
    </div>
</div>
</body>
{literal}
<script type="text/javascript">
    var submitTimeout;
    var system = $("#system").val();
    var regPhone = new RegExp(/^1[34578]\d{9}$/);
    var regQQ = new RegExp(/^[1-9][0-9]{5,11}$/);
    var reloadUrl = window.location.protocol + "//" + window.location.hostname + '/web.php?act=account_find';
    $('.service-account-find').on("blur", "input", function(e){
        var $ele = $(e.target);
        if($ele.val()) {
            $ele.removeClass("find-miss-border");
        }
    });
    function check_submit() {
        var $mobile = $("input[name='mobile']");
        var $qq = $("input[name='qq']");
        var $transfer_id = $("input[name='transfer_id']");
        var $creation_time = $("input[name='creation_time']");
        var $last_time = $("input[name='last_time']");
        var $user_info = $("input[name='user_info']");
        var $device = $("input[name='device']");
        var $pay_order = $("input[name='pay_order']");
        var $other = $("input[name='other']");
        if(!regPhone.test($mobile.val())){
            errorFillProcess($mobile, "请填写正确手机号");
            return false;
        }
        if(!regQQ.test($qq.val())){
            errorFillProcess($qq, "请填写正确QQ号");
            return false;
        }
        if(!$transfer_id.val()){
            errorFillProcess($transfer_id, "账号ID不能为空");
            return false;
        }
        if(!$creation_time.val()){
            errorFillProcess($creation_time, "请选择注册时间");
            return false;
        }
        if(!$last_time.val()){
            errorFillProcess($last_time, "请选择最后登录时间");
            return false;
        }
        if($creation_time.val()>$last_time.val()){
            errorFillProcess($last_time, "注册时间不能比最后登录时间晚");
            return false;
        }
        if(!$user_info.val()){
            errorFillProcess($user_info, "信息描述不能为空");
            return false;
        }
        if(!$device.val()){
            errorFillProcess($device, "设备信息不能为空");
            return false;
        }
        if(!$pay_order.val()){
            errorFillProcess($pay_order, "充值信息不能为空");
            return false;
        }
        var formStr = $("#acc-back-from").serialize();
        if(system == "50"){
            try {
                window.local_obj.account_submit(formStr, reloadUrl);
            }
            catch (e) {
                window.local_obj.account_submit(formStr);
            }
        }else {
            account_submit(formStr);
        }
    }
    function errorFillProcess(ele, text) {
        if(system == "50"){
            commonS.tip(text);
        }else {
            ios_native_alert(text);
        }
        ele.addClass("find-miss-border");
        ele.focus();
    }
    function do_upload(){
        if (document.getElementById("font_up").value!="预览截图") {
            document.getElementById("font_up").value="预览截图";
        }
        if(system == "50"){
            window.local_obj.uploadfile()
        }else {
            upload_img();
        }
    }
    function upload_img() {
    }
    function ios_native_alert() {
    }
    function account_submit(data){
    }
    $("body").on("click", ".submit-btn-can", function() {
        $(".submit-btn").removeClass("submit-btn-can");
        commonS.btnTimeOutControl(".submit-btn", "submit-btn-can", submitTimeout, 3000);
        check_submit();
    });
    $("body").on("keydown", function (e) {
        if(e.keyCode == 13) {
            $(".submit-btn-can").click();
        }
    })
</script>
{/literal}
</html>