<div class="user-side-memu">
    <div class="top"><img src="{$user_icon}" alt="" class="user-icon"><div class="text-overflow font-md name">{$name}</div></div>
    <div class="menu-list">
        <a class="font-md menu-li user" href="account.php?act=user_center"><span class="common-account-icon"></span><span class="text">个人资料</span></a>
        <a class="font-md menu-li realname-verify" href="account.php?act=real_verify"><span class="common-account-icon"></span><span class="text">实名认证</span></a>
        <a class="font-md menu-li phone-bind" href="account.php?act=phone_bind"><span class="common-account-icon"></span><span class="text">手机绑定</span></a>
        <a class="font-md menu-li feedback" href="/feedback"><span class="common-account-icon"></span><span class="text">意见反馈</span></a>
    </div>
</div>