<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>优惠卷</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="http://static.kuyoo.com/wwwv2/css/style.css?t=109" type="text/css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="http://static.kuyoo.com/www/css/page.css" />
    <script type="text/javascript" src="http://static.66173.cn/www/js/jquery-1.7.1.min.js" ></script>
</head>
{include file="include/top.html"}
{include file="include/header.html"}
{include file="include/nav.html"}
<div class="wrapper clearfix">
    <div class="w1000">
        <body>
        <div class="current_nav">
            当前位置：<a href="#">酷游手游交易平台</a>&nbsp;>&nbsp;我的优惠卷
        </div>
        <div class="user_center">
            {include file="include/user-side.html"}
            <div class="user_center_right">
                <div class="integral_detail">
                    <form action="?act=my_coupon&" method="get" id="get_my_coupon">
                        <input type="hidden" name="act" value="my_coupon">
                        <input class="text" type="hidden"  name="coupon_status" value=""/>
                        <div class="user_center_title">我的优惠卷</div>
                        <div class="mycoupon_margin"></div>
                        <div class="buy_list">
                            <div class="buy_tab_title">
                                <ul id="tab">
                                    <li {if $status eq ""}class="on"{/if} rel="">所有优惠卷</li>
                                    <li {if $status eq "1"}class="on"{/if} rel="1">已使用</li>
                                    <li {if $status eq "2"}class="on"{/if} rel="2">已过期</li>
                                </ul>
                            </div>
                            <div id="buy_content">
                                {if  $data|@count eq 0}
                                <div class="no_record">对不起，没有找到相应的记录！</div>
                                {else}
                                {foreach from=$data item=datas}
                                <div class="mycoupon_body">
                                    {if $datas.type eq "1"}
                                    <div {if $datas.gift_state eq "1"}class="mycoupon_content1"{else if $datas.gift_state eq "2"}class="mycoupon_content4"{else if $datas.gift_state eq "3"}class="mycoupon_content3"{/if}>
                                        <span class="mycoupon_font">
                                              <div>{$datas.discount}折</div>
                                         </span>
                                    <div class="class_both"></div>
                                    <ul>
                                        <li class="mycoupon_desc1">券名:{$datas.name}</li>
                                        <li class="mycoupon_desc2">使用条件:实付金额满{$datas.total_amount}元使用</li>
                                        <li class="mycoupon_desc3">使用时间:{$datas.start_time|date_format:"%Y.%m.%d"}-{$datas.end_time|date_format:"%Y.%m.%d"}</li>
                                    </ul>
                                </div>
                                {/if}
                                {if $datas.type eq "2"}
                                <div {if $datas.gift_state eq "1"}class="mycoupon_content2"{else if $datas.gift_state eq "2"}class="mycoupon_content4"{else if $datas.gift_state eq "3"}class="mycoupon_content3"{/if}>
                                    <span class="mycoupon_font">
                                       <div>{$datas.discount_amount}元</div>
                                    </span>
                                <div class="class_both"></div>
                                <ul>
                                    <li class="mycoupon_desc1">券名:{$datas.name}</li>
                                    <li class="mycoupon_desc2">使用条件：实付金额满{$datas.total_amount}元使用</li>
                                    <li class="mycoupon_desc3">使用时间:{$datas.start_time|date_format:"%Y.%m.%d"}-{$datas.end_time|date_format:"%Y.%m.%d"}</li>
                                </ul>
                            </div>
                            {/if}
                        </div>
                        {/foreach}
                        {/if}
                </div>
            </div>
            <div class="clear_both"></div>
            {if $data|@count > 0}
            <div id="pagebar" class="pagelimit">{$pageBar}</div>
            {/if}
            </form>
        </div>
    </div>
</div>
</div>
</div>
<!--footer-->
{include file="include/footer.html"}
<!--//footer-->
<script type="text/javascript" src="http://static.66173.cn/www/js/plugin.js"></script>
{literal}
<script type="text/javascript">
    $(document).ready(function(){
        $("ul#tab li").click(function(){
            rel = $(this).attr("rel");
            $("input[name='coupon_status']").val(rel);
            $('#get_my_coupon').submit();
        });
    })
</script>
{/literal}
</body>
</html>