<form action="account.php?act=do_menu&id={$info.id}" method="post" enctype="multipart/form-data" data-toggle="ajaxform" id="myform" class="form-horizontal" role="form" data-animation="modal" data-parsley-validate novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">账号权限修改</h4>
    </div>
    <div class="modal-body">
        <table class="table m-0 table-hover">
            <thead>
            <tr>
                <th>菜单名称</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {foreach from=$menu_list item=parent}
            <tr data-id="0">
                <td>
                    <input type="checkbox" value="{$parent.id}" name="menu[]" id="check{$parent.id}" onclick="select_child_menu(this,'{$parent.id}')" rel="0" {if $parent.id|in_array:$modules}checked {/if}/>
                    <label for="check{$parent.id}">【{$parent.name}】</label>
                </td>
                <td class="align-right">
                    <p class="form-control-static">
                        {if $parent.sub_list|count neq 0}<a class="on-default edit-row" href="#;" onclick="toggle_menu({$parent.id})"><i class="fa fa-plus-square"></i></a>{/if}
                    </p>
                </td>
            </tr>
                {if $parent.sub_list|count neq 0}
                    {foreach from=$parent.sub_list item=sub}
                    <tr data-id="{$parent.id}" class="hidden">
                        <td>
                            <input data-id="{$parent.id}" value="{$sub.id}" type="checkbox" onclick="select_parent_menu('{$parent.id}')"
                                   name="menu[]" id="check{$sub.id}" {if $sub.id|in_array:$modules}checked {/if}/>
                            <label for="check{$sub.id}">----[{$sub.name}]</label>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                        {if $sub.child_list|count neq 0}
                            {foreach from=$sub.child_list item=child}
                            <tr data-id="{$parent.id}" class="hidden">
                                <td>
                                    <input data-id="{$parent.id}" value="{$child.id}" type="checkbox" onclick="select_parent_menu('{$parent.id}')"
                                           name="menu[]" id="check{$child.id}" {if $child.id|in_array:$modules}checked {/if}/>
                                    <label for="check{$child.id}">--------{$child.name}</label>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            {/foreach}
                        {/if}
                    {/foreach}
                {/if}
            {/foreach}
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="id" value="{$info.id}" />
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">保存</button>
    </div>
</form>

{literal}
<style>
    label{margin-left:5px;}
</style>
<script type="text/javascript">
    function toggle_menu(pid) {
        $("tr").each(function () {
            if($(this).attr("data-id") == pid){
                $(this).toggleClass("hidden");
            }
        });
    }
    function select_child_menu(obj,id) {
        var target = $(obj).attr("rel");
        $("input[name='menu[]']").each(function () {
            if($(this).attr("data-id")==id){
                if(target==1){
                    $(this).prop("checked","");
                    $(obj).attr("rel",0);
                }else{
                    $(this).prop("checked",'checked');
                    $(obj).attr("rel",1);
                }
            }
        });
    }

    function select_parent_menu(id) {
        $("input[type='checkbox'][value='"+id+"']").attr("rel","1").prop("checked","checked");
    }
</script>
{/literal}