<link href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
<form action="app.php?act=app_verify_code_save" method="post" enctype="multipart/form-data" data-toggle="ajaxform" id="verifycode_form" class="form-horizontal" role="form" data-animation="modal" data-parsley-validate novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">编辑游戏验证码方式</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-md-3 control-label">游戏名称</label>
            <div class="col-md-9">
                <input type="text" value="[{$app.app_id}]{$app.app_name}" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">类型</label>
            <div class="col-md-9" style="margin-top: 5px!important;">
                短信：<input type="radio" {if $app.verifycode_type eq 0}checked="checked"{/if} name="verifycode_type" value="0" />
                语音: <input type="radio" {if $app.verifycode_type eq 1}checked="checked"{/if} name="verifycode_type" value="1" />
            </div>
        </div>
        <div class="form-group" style="display: none;" id="date_select">
            <label class="col-md-3 control-label">日期范围</label>
            <div class="col-md-9">
                <div class="input-daterange input-group" id="date-range">
                    <input type="text" class="form-control" name="start_time" {if $app.verifycode_type eq 1}value="{$app.start_time}"{/if} />
                    <span class="input-group-addon bg-custom b-0 text-white">to</span>
                    <input type="text" class="form-control" name="end_time" {if $app.verifycode_type eq 1}value="{$app.end_time}"{/if} />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" value="{$app.app_id}" name="app_id" />
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-info waves-effect waves-light" id="btn_charge">保存</button>
    </div>
</form>
<script src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    jQuery(document).ready(function() {
        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#date-range').datepicker({
            format: "yyyy-mm-dd",
            toggleActive: true
        });
    })
    $("#verifycode_form").on("submit",function(){
        if ($("input[name='verifycode_type']:checked").val()==1 &&($("input[name='start_time']").val()=="" || $("input[name='end_time']").val()==""))
        {
            $.Notification.notify('error','top left',"日期不能为空！");
            return false;
        }
    });
    function show_page() {
        var verifycode_type = $("input[name='verifycode_type']:checked").val();
        if (verifycode_type==0){
            $("input[name='start_time']").val("");
            $("input[name='end_time']").val("");
            $("#date_select").hide();
        }else if(verifycode_type==1){
            $("#date_select").show();
        }
    }
    $("input[name='verifycode_type']").on("click",function(){
        show_page();
    });
    show_page();
</script>
