<form  method="post" enctype="multipart/form-data" data-toggle="ajaxform" id="myform" class="form-horizontal" role="form" data-animation="modal" data-parsley-validate novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">审核记录</h4>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">申请人id</label>
        <div class="col-md-9" style="margin-top: 5px!important;">尾巴商会</div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">申请时间</label>
        <div class="col-md-9" style="margin-top: 5px!important;">2017-12-11 08:00:10</div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">审核人</label>
        <div class="col-md-9" style="margin-top: 5px!important;">成耀</div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">审核时间</label>
        <div class="col-md-9" style="margin-top: 5px!important;">2017-12-11 12:00:10</div>
    </div>
    <div class="form-group" >
        <label class="col-md-3 control-label">审核状态</label>
        <div class="col-md-9"><span style="color:red">申请成功</span></div>
    </div>
    <div class="form-group" >
        <label class="col-md-3 control-label">订单号</label>
        <div class="col-md-9"><span style="color:red">661737789</span></div>
    </div>
    <div class="form-group" >
        <label class="col-md-3 control-label">类型</label>
        <div class="col-md-9"><span style="color:red">充值</span></div>
    </div>
    <div class="form-group" >
        <label class="col-md-3 control-label">金额</label>
        <div class="col-md-9"><span style="color:red">￥123</span></div>
    </div>
    <div class="form-group" >
        <label class="col-md-3 control-label">商品名称</label>
        <div class="col-md-9"><span style="color:red">购买魔域游戏账号</span></div>
    </div>
    <div class="form-group" >
        <label class="col-md-3 control-label">账号</label>
        <div class="col-md-9"><span style="color:red">yyq@66173.cn</span></div>
    </div>
    <div class="form-group" >
        <label class="col-md-3 control-label">密码</label>
        <div class="col-md-9"><span style="color:red">yyq@66173.cn</span></div>
    </div>
    <div class="form-group" >
        <label class="col-md-3 control-label">备注</label>
        <div class="col-md-9"><span style="color:red"></span></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
    </div>
</form>