<form action="guild.php?act=nd_user_frozen_save" method="post" enctype="multipart/form-data" data-toggle="ajaxform" id="nd_frozen_form" class="form-horizontal" role="form" data-animation="modal" data-parsley-validate novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">是否确认操作？</h4>
    </div>
    <input type="hidden" value="{$params.is_frozen}" name="is_frozen" />
    <input type="hidden" value="{$params.app_id}" name="app_id" />
    <input type="hidden" value="{$params.user_id}" name="user_id" />
    <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">确定</button>
    </div>
</form>