<!---表单验证器加载 参考地址http://coderthemes.com/ubold_1.3/dark_1/form-validation.html-->
<script type="text/javascript" src="assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
<!--end--->
<form action="ry_info.php?act=ext_do_edit" method="post" enctype="multipart/form-data" data-toggle="ajaxform" id="myform" class="form-horizontal" role="form" data-animation="modal" data-parsley-validate novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">编辑</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-md-2 control-label">id</label>
            <div class="col-md-10 m-t-7">{$data.id}</div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">渠道名称</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="channel_name" value="{$data.channel_name}" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">活动名称</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="activity_name" value="{$data.activity_name}" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">苹果id</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="apple_id" value="{$data.apple_id}" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">活动id</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="act_id" value="{$data.act_id}" required />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="id" value="{$data.id}">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">保存</button>
    </div>
</form>