<link href="assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="assets/plugins/multiselect/css/multi-select.css"  rel="stylesheet" type="text/css" />
<link href="assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="assets/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
<link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<script src="assets/plugins/switchery/dist/switchery.min.js"></script>
<script type="text/javascript" src="assets/plugins/multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
<script src="assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <form id="form_data">
                    <div class="col-sm-12 text-xs-center">
                        <div class="col-md-1">
                            <button data-action="modal" class="btn btn-default m-b-20" href="youxi9.php?act=import_view">导入订单</button>
                        </div>
                        <!--<div class="col-md-1">-->
                            <!--<button data-action="modal" class="btn btn-default m-b-20" href="youxi9.php?act=add&pay_way=2"><i class="fa fa-plus m-r-5"></i>采购</button>-->
                        <!--</div>-->
                        <div class="col-md-2">
                            <input type="text" value="{$params.order_id}" name="order_id" class="form-control" placeholder="请输入订单号"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" value="{$params.qq}" name="qq" class="form-control" placeholder="请输入QQ号"/>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control select2" name="status">
                                <option value="">请选择状态</option>
                                <option value="1"{if $params.status eq '1'} selected{/if}>充值中</option>
                                <option value="2"{if $params.status eq '2'} selected{/if}>已成功</option>
                                <option value="3"{if $params.status eq '3'} selected{/if}>有提示失败原因</option>
                                <option value="4"{if $params.status eq '4'} selected{/if}>已失败</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control select2" name="operation_id">
                                <option value="">请选择操作人</option>
                                {foreach from=$operation_list item=operation}
                                <option value="{$operation.id}" {if $operation.id eq $params.operation_id}selected{/if}>[{$operation.id}]{$operation.real_name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control select2" name="game_id">
                                <option value="">请选择游戏</option>
                                <option value="0"{if $params.game_id eq '0'} selected{/if}>魔域口袋版（网龙）</option>
                                <option value="1"{if $params.game_id eq '1'} selected{/if}>问道</option>
                                <option value="2"{if $params.game_id eq '2'} selected{/if}>魔域手游（西山居）</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 text-xs-center">
                        <div class="col-md-2">
                            <input type="text" value="{$params.merchant_order_id}" name="merchant_order_id" class="form-control" placeholder="请输入平台订单号"/>
                        </div>
                        <div class="col-md-3">
                            <div class="input-daterange input-group" id="date-range">
                                <input type="text" class="form-control" name="start_time" {if $params.start_time}value="{$params.start_time}"{/if} />
                                <span class="input-group-addon bg-custom b-0 text-white">to</span>
                                <input type="text" class="form-control" name="end_time" {if $params.end_time}value="{$params.end_time}"{/if} />
                            </div>
                        </div>
                        <span class="btn btn-default m-b-20" href="#;" onclick="search();"><i class="fa fa-search m-r-5"></i>搜索</span>
                        <span class="btn btn-default m-b-20" href="#;" onclick="reloadsearch();"> <i class="fa fa-undo"></i>清空搜索</span>
                        <a type="button" class="btn btn-default m-b-20" href="youxi9.php?act=export&order_id={$params.order_id}&qq={$params.qq}&status={$params.status}&operation_id={$params.operation_id}&game_id={$params.game_id}&start_time={$params.start_time}&end_time={$params.end_time}&pay_way=2">导出</a>
                    </div>
                </form>
                <!--end--->
            </div>
            <div class="table-responsive">
                <!---核心内容列表区域-->
                <table class="table table-hover m-0">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>平台订单号</th>
                        <th>购买数量</th>
                        <th>价格</th>
                        <th>qq号</th>
                        <th>状态</th>
                        <th>游戏</th>
                        <th>下单时间</th>
                        <th>更新时间</th>
                        <th>说明</th>
                        <th>操作人ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach from=$data_list item=data}
                    <tr{if $data.status eq 3} class="danger"{/if}>
                        <th scope="row">{$data.order_id}</th>
                    <th scope="row">{$data.merchant_order_id}</th>
                    <td>{$data.amount}</td>
                        <td>
                            {$data.price}
                        </td>
                        <td>{$data.qq}</td>
                        <td>
                            {if $data.status eq 1}<span class="text-info"><a class="on-default edit-row text-info" data-action="modal" {if $smarty.session.usr_id eq '84'}href="youxi9.php?act=status_edit&id={$data.id}&channel=youxi9"{/if}>充值中</a></span>{/if}
                            {if $data.status eq 2}<span class="text-success">已成功</span>{/if}
                            {if $data.status eq 3}<span class="text-danger">游戏久充值失败</span>{/if}
                        </td>
                        <td>{if $data.game_id==='0'}魔域口袋版（网龙）{elseif $data.game_id === '1'}问道{elseif $data.game_id === '2'}魔域手游（西山居）{/if}</td>
                        <td>{'Y-m-d H:i:s'|date:$data.add_time}</td>
                        <td>
                            {if $data.callback_time}
                            {'Y-m-d H:i:s'|date:$data.callback_time}
                            {/if}
                        </td>
                        <td>{$data.msg}</td>
                        <td>{$data.operation_id}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!---内容区域end--->
            </div>
        </div>
    </div>
</div>
<div class="row"><div class="col-lg-12"><div id="page">{$page_bar}</div></div></div>
<script src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    jQuery(document).ready(function() {
        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#date-range').datepicker({
            format: "yyyy-mm-dd",
            toggleActive: true
        });
        $(".select2").select2();
    });
    function search() {
        var url = "youxi9.php?act=list";
        var formStr = $('#form_data').serialize();
        post_main_data_load(url,formStr);
    }
    function reloadsearch(){
        var url = "youxi9.php?act=list";
        var formStr = "";
        post_main_data_load(url,formStr);
    }
</script>