{include file="include/head.html" web_title='手机游戏免费下载_下载列表' web_key='游戏下载列表，手机游戏下载，热门手游下载，手游免费下载，66173手游下载平台'}
<body>
{include file="include/top.html"}
{include file="include/header.html"}
{include file="include/nav.html" nav="down"}
<div class="w1000">
    <div class="current_nav ">
        当前位置：<a href="/">{if $domain_name eq 1}66173{else if $domain_name eq 2}u2590{/if}交易平台</a>&nbsp;>&nbsp;优惠券中心
    </div>
    <div class="title_sub"><strong class="name">满减专区</strong></div>
    <div style="margin: 15px 0;overflow: hidden">
        <div style="width: 320px;float: left;height: 130px;margin-right: 15px;margin-bottom: 10px;">
            <section style="width: 216px;height: 100%;border: 1px solid red;border-right:none;float: left;">
            </section>
            <section style="width: 100px;height: 100%;background:url('/htdocs/static/wwwv2/img/bc-red.png') no-repeat;background-size: 100%;"></section>
        </div>
        <div style="width: 320px;float: left;height: 130px;border: 1px solid #333;margin-right: 15px;margin-bottom: 10px"></div>
        <div style="width: 320px;float: left;height: 130px;border: 1px solid #333;margin-bottom: 10px"></div>
        <div style="width: 320px;float: left;height: 130px;border: 1px solid #333;margin-right: 15px;margin-bottom: 10px;"></div>
        <div style="width: 320px;float: left;height: 130px;border: 1px solid #333;margin-right: 15px;margin-bottom: 10px"></div>
        <div style="width: 320px;float: left;height: 130px;border: 1px solid #333;margin-bottom: 10px"></div>
    </div>
    <div class="title_sub"><strong class="name">折扣专区</strong></div>
    <div></div>
    {include file="include/footer.html"}
</div>
</div>
</div>
</body>
</html>
