<!---表单验证器加载 参考地址http://coderthemes.com/ubold_1.3/dark_1/form-validation.html-->
<script type="text/javascript" src="assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('form').parsley();
        $(".inside-select2").select2();
        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#date-range').datepicker({
            format: "yyyy-mm-dd",
            toggleActive: true
        });
        jQuery('#date-range-order').datepicker({
            format: "yyyy-mm-dd",
            toggleActive: true
        });
    });
</script>
<style>
    .modal-dialog {
        width: 60%;
        overflow: auto;
    }
    .ke-container {
        width: 50% !important;
    }
    .notice-content-preview {
        border: 1px solid #999;
    }
    .tags{
        margin-right:10px;
    }
    .modal-info{
        margin-left: 20px;
        font-weight: 600;
    }
    .automatic_input{
        display: none;
    }
</style>
<!--end--->
<form action="business_inside_second.php?act=do_add_sell" method="post" enctype="multipart/form-data" data-toggle="ajaxform" id="myform" class="form-horizontal" role="form" data-animation="modal" data-parsley-validate novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">订单添加</h4>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">游戏名称</label>
            <div class="col-md-8">
                <select class="form-control inside-select2" name="app_id" id="app_id" required>
                    <option value="">请选择游戏</option>
                    {foreach from=$app_list item=app}
                    <option value="{$app.app_id}">[{$app.app_id}]---{$app.app_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">区服名称</label>
            <div class="col-md-8">
                <select class="form-control inside-select2" name="service_id" id="server_name" required>
                    <option value="">请选择区服</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">职业名称</label>
            <div class="col-md-8">
                <select class="form-control inside-select2" name="role_job" required>
                    <option value="">请选择职业</option>
                    <option value="狂战士">狂战士</option>
                    <option value="亡灵巫师">亡灵巫师</option>
                    <option value="魔法师">魔法师</option>
                    <option value="异能者">异能者</option>
                    <option value="血族">血族</option>
                    <option value="暗黑龙骑">暗黑龙骑</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">vip等级</label>
            <div class="col-md-8">
                <select class="form-control inside-select2" name="vip_grade" required>
                    <option value="">请选择vip等级</option>
                    {foreach item=vip from=$vip_list key=k}
                    <option value="{$k}">{$vip}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">收款方式</label>
            <div class="col-md-8">
                <select class="form-control " name="pay_mode" id="pay_mode">
                    <option value="">无</option>
                    <option value="1">微信收款</option>
                    <option value="2">支付宝收款</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">账号类型</label>
            <div class="col-md-8">
                <select class="form-control inside-select2" name="type" id="account_type" required>
                    <option value="">请选择类型</option>
                    <option value="1">空号</option>
                    <option value="2">整号</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">出售状态</label>
            <div class="col-md-8">
                <select class="form-control " name="status" id="sell_type" required>
                    <option value="">请选择状态</option>
                    <option value="0">待出售</option>
                    <option value="1">已出售</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">角色名</label>
            <div class="col-md-8">
                <input type="text" value="" name="role_name" class="form-control" placeholder="" required>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">登录账号</label>
            <div class="col-md-8">
                <input type="text" value="" name="login_account" class="form-control" placeholder="" required>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">登录密码</label>
            <div class="col-md-8">
                <input type="text" value="" name="login_pwd" class="form-control" placeholder="" required>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">角色性别</label>
            <div class="col-md-8 m-t-7">
                男: <input type="radio" name="role_sex" value="1" checked="checked" />&nbsp;&nbsp;&nbsp;&nbsp;
                女: <input type="radio" name="role_sex" value="2" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">充值金额</label>
            <div class="col-md-8">
                <input type="text" value="" name="re_money" class="form-control" placeholder="" required>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">进仓代币</label>
            <div class="col-md-8">
                <input type="text" value="" name="enter_depot" class="form-control" placeholder="" required>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">出仓代币</label>
            <div class="col-md-8">
                <input type="text" value="" name="exit_depot" class="form-control" placeholder="" >
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">购买人</label>
            <div class="col-md-8">
                <input type="text" value="" name="buy_name" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">收入金额</label>
            <div class="col-md-8">
                <input name="in_money" type="number"  class="form-control" parsley-trigger="change">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">做号时间</label>
            <div class="col-md-8  input-daterange input-group " id="date-range-order">
                <input type="text" class="form-control" name="do_time" />
            </div>
        </div>
        <div class="form-group">
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label">卖号时间</label>
            <div class="col-md-8 input-daterange input-group" id="date-range">
                <input type="text" class="form-control" name="sell_time" />
            </div>
        </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">备注说明</label>
            <div class="col-md-10">
                <textarea class="form-control" parsley-trigger="change" name="desc" ></textarea>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">保存</button>
    </div>
</form>
<script>
    $("body").on("change","select[name='type']",function(e){
        var account_type = $("#account_type").val();
        if(account_type == '1'){
            $("#sell_type").val(0);
            $("#pay_mode").val('').attr("disabled","disabled");
            $('input[name="in_money"]').val(0).attr("disabled","true");
            $('input[name="exit_depot"]').val(0).attr("disabled","true");
            $('input[name="buy_name"]').val('').attr("disabled","true");
            $('input[name="sell_time"]').val('').attr("disabled","true");
        }else if(account_type == '2'){
            $("#sell_type").val(1);
            $("#pay_mode").removeAttr("disabled");
            $('input[name="in_money"]').removeAttr("disabled");
            $('input[name="buy_name"]').removeAttr("disabled");
            $('input[name="exit_depot"]').removeAttr("disabled");
            $('input[name="sell_time"]').removeAttr("disabled");
        }else{
            $("#sell_type").val('');
            $("#pay_mode").removeAttr("disabled");
            $('input[name="in_money"]').removeAttr("disabled");
            $('input[name="buy_name"]').removeAttr("disabled");
            $('input[name="exit_depot"]').removeAttr("disabled");
            $('input[name="sell_time"]').removeAttr("disabled");
        }
    });
    $("body").on("change","select[name='status']",function(e){
        var status = $("#sell_type").val();
        if(status == '0'){
            $("#pay_mode").val('').attr("disabled","disabled");
            $('input[name="in_money"]').val(0).attr("disabled","true");
            $('input[name="buy_name"]').val('').attr("disabled","true");
            $('input[name="sell_time"]').val('').attr("disabled","true");
        }else if(status == '1'){
            $("#pay_mode").removeAttr("disabled");
            $('input[name="in_money"]').removeAttr("disabled");
            $('input[name="buy_name"]').removeAttr("disabled");
            $('input[name="sell_time"]').removeAttr("disabled");
        }
    });
    $("body").off('change', "#app_id");
    $("body").on('change','#app_id',function(e){
        var app_id = $(this).val();
        if(app_id){
            $.ajax({
                type:'post',
                url:'/business_inside.php?act=get_service',
                data:{
                    app_id: app_id,
                },
                dataType: 'json',
                success: function (res) {
                    if(res.code==1){
                        var data = res.list;
                        $("#s2id_server_name .select2-choice .select2-chosen").html('请选择区服');
                        $('#server_name').empty().append('<option value="">请选择区服</option>');
                        for(var i=0;i<data.length;i++){
                            $('#server_name').append('<option value="'+data[i].service_id+'">'+data[i].service_name+'</option>');
                        }
                    }else{
                        $("#s2id_server_name .select2-choice .select2-chosen").html('请选择区服');
                        $('#server_name').empty();
                    }
                }
            })
        }
    });
</script>