<script type="text/javascript">
    $(function(){
        $("select[name=game_id]").chosen();
        $("select[name=channel_id]").chosen();
        $("select[name=type]").chosen();
    })
</script>
<div class="bjui-pageHeader">
    <form id="pagerForm" action="app_gifts.php?act=gift_list" method="post" data-toggle="ajaxsearch">
        <div class="bjui-searchBar">
            <a href="app_gifts.php?act=add_view" class="btn btn-green" data-toggle="navtab" data-id="add_view" data-title="新建礼包">新建</a>
            <label>礼包批次名：</label>
            <input name="title" cols="8" rows="1"  class="form-control" value="{$params.title}">&nbsp;
            <label>游戏：</label>
            <select name="game_id">
                <option value="" {if $params.game_id eq ''}selected="selected"{/if}>请选择</option>
                {foreach from=$game_list item=game}
                <option value="{$game.id}" {if $params.game_id eq $game.id}selected="selected"{/if}>{$game.game_name}-{$game.id}</option>
                {/foreach}
            </select>&nbsp;
            <!--<label>区服：</label>-->
            <!--<select name="serv_id" >-->
                <!--<option value="" {if $params.serv_id eq ''}selected="selected"{/if}>请选择</option>-->
                <!--{foreach from=$servs_list item=servs}-->
                <!--<option value="{$servs.serv_id}" {if $params.serv_id eq $servs.serv_id}selected="selected"{/if}>{$servs.serv_name}-{$servs.serv_id}</option>-->
                <!--{/foreach}-->
            <!--</select>&nbsp;-->
            <!--<label>渠道：</label>-->
            <!--<select name="channel_id">-->
                <!--<option value="" {if $params.channel_id eq ''}selected="selected"{/if}>请选择</option>-->
                <!--{foreach from=$channels_list item=channel}-->
                <!--<option value="{$channel.id}" {if $params.channel_id eq $channel.id}selected="selected"{/if}>{$channel.channel_name}-{$channel.id}</option>-->
                <!--{/foreach}-->
            <!--</select>&nbsp;-->
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
        </div>
    </form>
</div>
<div class="bjui-pageContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
        <tr align="center">
            <th>No.</th>
            <th>游戏</th>
            <th>礼包批次名</th>
            <th>类型</th>
            <th>剩余数/礼包数</th>
            <th>礼包价格</th>
            <th>礼包积分</th>
            <th>是否推荐</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach key=key item=data from=$dataList}
        <tr align="center">
            <td>{$data.id}</td>
            <td>{$data.game_name}</td>
            <td>{if $data.is_del eq 1}<span class="orange">[已下架]</span>{/if}{$data.title}</td>
            <td>{if $data.is_top eq 1}<span class="green">[顶]</span>{/if}

                {if $data.type eq '0'}新手礼包{else if $data.type eq '1'}特权礼包{else if $data.type eq '2'}白银礼包{else}专属礼包{/if}
            </td>
            <td>{$data.remain}/{$data.num}</td>
            <td>{$data.price}</td>
            <td>{$data.integral}</td>
            <td>{if $data.is_recomm eq '0'}否{else}是{/if}</td>
            <td>{'Y-m-d H:i:s'|date:$data.start_time}</td>
            <td class="green{if $data.end_time<now|strtotime} red{/if}">
                {'Y-m-d H:i:s'|date:$data.end_time}</td>
            <td>
                <a href="app_gifts.php?act=gift_view&id={$data.id}" class="btn btn-green" data-toggle="navtab" data-id="gift_info_view" data-reload-warn="本页已有打开的内容，确定将刷新本页内容，是否继续？" data-title="编辑礼包内容">编辑</a>
                <!--<a type="button" href="game_gifts.php?act=do_del&id={$data.id}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删除</a>-->
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages"> <span>每页{$page.pageSize}条&nbsp;&nbsp;共{$page.pageTotal}条记录</span></div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$page.pageTotal}" data-page-size="{$page.pageSize}" data-page-current="{$page.pageCurrent}" data-url=""></div>
</div>