<script type="text/javascript">
    $(function(){
        $("select[name=game_id]").chosen();
    })
</script>
<div class="bjui-pageContent">
    <form action="channels_discount.php?act=do_channels_discount_edit"  data-toggle="validate" data-alertmsg="false" method="post" >
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td>
                    <label  class="control-label x120">游戏ID：</label>
                    <select name="game_id"   data-toggle="selectpicker">
                        <option value="" {if $channel_discount.game_id eq ''}selected="selected"{/if}>请选择</option>
                        {foreach from=$game_list item=game}
                        <option value="{$game.id}" {if $channel_discount.game_id eq $game.id}selected="selected"{/if}>{$game.game_name}-{$game.id}</option>
                        {/foreach}
                    </select>&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x120">渠道：</label>
                    <select name="channel_id">
                        <option value="" {if $channel_discount.channel_id eq ''}selected="selected"{/if}>请选择</option>
                        {foreach from=$channels_list item=channel}
                        <option value="{$channel.id}" {if $channel_discount.channel_id eq $channel.id}selected="selected"{/if}>{$channel.channel_name}-{$channel.id}</option>
                        {/foreach}
                    </select>&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="control-label x120">折扣：</label>
                    <input type="text" name="discount" value="{$channel_discount.discount}" cols="18" rows="1"  class="form-control" data-rule="required">
                </td>
            </tr>
            <input type="hidden" name="id" value="{$channel_discount.id}">
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
