<div class="bjui-pageContent">
    <form action="friendly_link.php?act=do_link_add"  data-toggle="validate" data-alertmsg="false" method="post" enctype="multipart/form-data">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td>
                    <label  class="control-label x120">标题：</label>
                    <input type="text" name="title" value=""  class="form-control" size="25" data-rule="required">
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="control-label x120">ICON：</label>
                    <button type="button" class="btn-default" data-icon="cloud-upload" onclick="link_icon.click()">选择图片</button>
                    <input type="file" name="link_icon" style="display: none;" onchange="l_icon.value=value"/>
                    <input type="text" name="l_icon" placeholder="None file" class="form-control" size="15" readonly/>&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="control-label x120">跳转URL：</label>
                    <input type="text" name="go_url" value="" class="form-control" size="30" data-rule="required">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>


