<script type="text/javascript">
    $(function(){
        $("select[name=game_id]").chosen();
    })
</script>
<div class="bjui-pageContent">
    <form action="game_servs.php?act=do_import"  data-toggle="validate" data-alertmsg="false" method="post" enctype="multipart/form-data">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td>
                    <label  class="control-label x120">游戏：</label>
                    <select name="game_id" data-rule="required">
                        <option value="">请选择</option>
                        {foreach from=$game_list item=game}
                        <option value="{$game.id}">{$game.game_name}-{$game.id}</option>
                        {/foreach}
                    </select>&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="control-label x120">区服：</label>
                    <button type="button" class="btn-default" data-icon="cloud-upload" onclick="servs.click()">选择文件</button>
                    <input type="file" name="servs" style="display: none;" onchange="servs_import.value=value"/>
                    <input type="text" name="servs_import" placeholder="None file" class="form-control" size="15" readonly/>&nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>


