<div class="bjui-pageContent">
    <form action="game_info.php?act=do_import"  data-toggle="validate" data-alertmsg="false" method="post" enctype="multipart/form-data">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td>
                    <label  class="control-label x120">导入文件：</label>
                    <button type="button" class="btn-default" data-icon="cloud-upload" onclick="games.click()">选择文件</button>
                    <input type="file" name="games" style="display: none;" onchange="games_import.value=value"/>
                    <input type="text" name="games_import" placeholder="None file" class="form-control" size="15" readonly/>&nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>


