{literal}
<script type="text/javascript">
    $(function(){
        $("#games").chosen().change(function(event){
            var target = $(event.target),
            priorDataSet = target.data("chosen-values"),
            currentDataSet = target.val();
            $("input[name='hot_games']").val(currentDataSet);
        });
    })
</script>
{/literal}
<div class="bjui-pageContent">
    <form action="game_info.php?act=save_hot_games"  data-toggle="validate" data-alertmsg="false" method="post">
        <input type="hidden" name="type" value="{$type}">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td>
                    <label class="control-label x120">游戏名：</label>
                    <select id="games" name="game_ids[]" multiple="true" style="width:1000px;" data-placeholder="请选择本栏目显示的游戏">
                        {foreach from=$game_list key=id item=game}
                        <option value="{$game.id}" {if in_array($game.id, $hot_games)}selected="selected"{/if}>{$game.game_name}-{$game.id}</option>
                        {/foreach}
                    </select>
                </td>
             </tr>
        </table>
        <input type="hidden" name="hot_games" value='{","|implode:$hot_games}' />
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>