<div class="bjui-pageContent">
    <form action="products_info.php?act=do_intro_img_add"  data-toggle="validate" data-alertmsg="false" method="post" enctype="multipart/form-data">
        <input type="hidden" name="game_id" value="{$game_id}">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td>
                    <label class="control-label x120">图片预览：</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span id="product_intro_img_preview" style="color: #ff0000"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x120">选择图片：</label>
                    <input id="product_intro_img" type="file" name="imgs[]"  style="display: none"  multiple/>
                    <a href="javascript:void(0)" class="btn btn-default btn-sm Huploadify-button" id="product_intro_img_bnt">选择图片</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label x120">商品类型：</label>
                    <select name="type" data-toggle="selectpicker" data-rule="required">
                        <option value="99">通用</option>
                        <option value="1">首充号</option>
                        <option value="2">首充号代充</option>
                        <option value="3">代充</option>
                    </select>&nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
<script>
    $(function(){
        $("#product_intro_img_bnt").bind('click',function(){
            var ie=navigator.appName=="Microsoft Internet Explorer" ? true : false;
            if(ie){
                $("#product_intro_img").click;
            }else{
                var a=document.createEvent("MouseEvents");
                a.initEvent("click", true, true);
                document.getElementById("product_intro_img").dispatchEvent(a);
            }
        })

        rFilter = /^(?:image\/bmp|image\/gif|image\/jpeg|image\/jpeg|image\/jpeg|image\/png|)$/i;
        (function () {
            var viewFiles = document.getElementById("product_intro_img");
            function viewFile (file,i) {
                html = $("#product_intro_img_preview").html();
                //通过file.size可以取得图片大小
                var reader = new FileReader();
                reader.onload = function(evt){
                    html +="<img style='max-height: 400px;max-width: 500px;margin-bottom : 10px; margin-left: 120px'  src=\""+evt.target.result+"\" /></br>";
                    $("#product_intro_img_preview").html(html);
                }
                reader.readAsDataURL(file);
            }
            viewFiles.addEventListener("change", function () {
                for(i=0;imgFile = document.getElementById("product_intro_img").files[i];i++){
                    if (!rFilter.test(imgFile.type)) {
                        document.getElementById("game_img_add").value="";
                        $("#product_intro_img_preview").html("图片格式不对，支持jpg、png、gif!");
                        return;
                    }
                }
                $("#product_intro_img_preview").html('');
                for (var i = 0; file = this.files[i]; i++) {
                    viewFile(file,i);
                }
            }, false);
        })();
    })
</script>


