<div class="bjui-pageContent">
    <form action="website.php?act=promoter_save" method="post" data-toggle="validate" data-alertmsg="false">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td colspan="4">
                    <label  class="control-label x120">推广人名字：</label>
                    <input type="text" name="name" value="" cols="18" rows="1"  class="form-control" data-rule="required">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label  class="control-label x120">手机号：</label>
                    <input type="text" name="phone_num" value="" cols="18" rows="1"  class="form-control" data-rule="required">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label  class="control-label x120">代码：</label>
                    <input type="text" name="code" value="" cols="18" rows="1"  class="form-control" data-rule="required">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>


