<script type="text/javascript">
    $(function(){
        $("select[name=shop_id]").chosen();
        $("select[name=game_id]").chosen();
        $("select[name=serv_id]").chosen();
        $("select[name=game_channel]").chosen();
    })
</script>
<div class="bjui-pageHeader" style="height:35px;" >
    <form id="pagerForm" action="qb_order.php?act=order_list" method="post" data-toggle="ajaxsearch">
        <div class="bjui-searchBar">
            <label>订单号：</label>
            <input type="text" name="order_id" value="{$params.order_id}"  class="form-control" size="10">&nbsp;
            <label>订单状态：</label>
            <select name="status"   data-toggle="selectpicker">
                <option value="" {if $params.status eq ''}selected="selected"{/if}>请选择</option>
                <option value="0" {if $params.status eq '0'}selected="selected"{/if}>已下单</option>
                <option value="1" {if $params.status eq '1'}selected="selected"{/if}>已付款</option>
                <option value="2" {if $params.status eq '2'}selected="selected"{/if}>已发货</option>
                <option value="6" {if $params.status eq '6'}selected="selected"{/if}>已退款</option>
            </select>&nbsp;
            <label>充值渠道：</label>
            <select name="reg_channel" data-toggle="selectpicker">
                <option value="" {if $params.reg_channel eq ''}selected="selected"{/if}>请选择</option>
                <option value="1" {if $params.reg_channel eq '1'}selected="selected"{/if}>66app</option>
                <option value="2" {if $params.reg_channel eq '2'}selected="selected"{/if}>M站</option>
            </select>
            <!--<label>区服：</label>
            <select name="serv_id">
                <option value="" {if $params.serv_id eq ''}selected="selected"{/if}>请选择</option>
                {foreach from=$servs_list item=servs}
                <option value="{$servs.serv_id}" {if $params.serv_id eq $servs.serv_id}selected="selected"{/if}>{$servs.serv_name}-{$servs.serv_id}</option>
                {/foreach}
            </select>&nbsp;-->
            <label>购买时间：</label>
            <input type="text" name="time" data-toggle="datepicker" value="{$params.time}" placeholder="开始时间">-
            <input type="text" name="time2" data-toggle="datepicker"  value="{$params.time2}" placeholder="结束时间">
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
            <!--<a type="button" class="btn btn-default" href="javascript:;" data-url="orders_info.php?act=export" data-toggle="doexport" data-confirm-msg="确定要导出吗？">导出</a>-->
        </div>
    </form>
</div>
<div class="bjui-pageContent" style="top:35px;">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
        <tr align="center">
            <th width="60px">状态</th>
            <th width="250px">商品</th>
            <th width="100px">购买人</th>
            <th width="100px">客服</th>
            <th width="150px">订单ID</th>
            <th width="100px">金额</th>
            <th width="250px">支付/银行单号</th>
            <th width="150px">充值QQ</th>

            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach key=key item=data from=$order}
        <tr align="center"{if $data.status eq 0} class="text-muted"{/if} >
            <td>
                    {if $data.status eq '0'}
                    <span class="text-muted">待付款</span>
                    {elseif $data.status eq '2'}
                    <span class="text-success">已发货</span>
                    {elseif $data.status eq '1'}
                    <span class="orange">已付款</span>
                    {elseif $data.status eq '9'}
                    <span class="text-muted">已取消</span>
                    {elseif $data.status eq '6'}
                    <span class="text-muted">已退款</span>
                    {else}<span class="text-success"></span>
                    {/if}

            </td>
            <td>{if $data.title}{$data.title}{/if}</td>
            <td>{$data.buyer_id}</td>
            <td>{$data.real_name}</td>
            <td>
                {if $data.status eq 1}
                    <span class="orange">{$data.order_id}</span>
                {elseif $data.status eq 2}
                <span class="text-success">{$data.order_id}</span>
                {else}
                <span class="text-muted">{$data.order_id}</span>
                {/if}
                <br /><span class="text-muted"> @{'Y-m-d H:i:s'|date:$data.buy_time}</span>
            </td>
            <td><code class="bg-info">￥{$data.pay_money}</code></td>
            <td {if $data.status eq 1} class="orange"{elseif $data.status eq 2} class="text-success"{/if} >
                {$data.channel_order_id}
                {if $data.bank_order_id}<br/>{$data.bank_order_id}{/if}
                {if $data.status>1 && $data.pay_time>0}<p>{$pay_channel[$data.pay_channel]}<span class="text-muted">@{'Y-m-d H:i:s'|date:$data.pay_time}</span></p>{/if}
            </td>
            <td>
                {$data.charge_qq}
            </td>
            <td>
                <a href="qb_order.php?act=order_details&id={$data.id}" class="btn btn-green" data-toggle="dialog"
                   data-mask="true" data-width="700"  data-height="600" data-id="order_detail" data-title="订单明细">详情</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages"> <span>每页{$page.pageSize}条&nbsp;&nbsp;共{$page.pageTotal}条记录</span></div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$page.pageTotal}" data-page-size="{$page.pageSize}" data-page-current="{$page.pageCurrent}" data-url=""></div>
</div>
