<div class="bjui-pageContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
        <tr align="center">
            <th width="60">No.</th>
            <th width="100">用户ID</th>
            <th width="60">类型</th>
            <th width="100">审核状态</th>
            <th width="60">审核人</th>
            <th>理由</th>
            <th width="180">创建时间</th>
            <th width="180">审核时间</th>
        </tr>
        </thead>
        <tbody>
        {foreach key=key item=data from=$info}
        <tr align="center">
            <td>{$data.id}</td>
            <td>{$data.user_id}</td>
            <td>{if $data.type eq 4}<span class="green">[账号]</span>{elseif $data.type eq 5}<span class="green">[代币]</span>
                {elseif $data.type eq 6}<span class="green">[道具]</span>{else}<span class="orange">类型异常</span>{/if}</td>
            <td>
                {if $data.status eq 1}<span class="orange">[审核通过]</span>
                {elseif $data.status eq 2}<span class="red">[审核不通过]</span>{/if}
            </td>
            <td>{$data.real_name}</td>
            <td>{$data.desc}</td>
            <td>{$data.create_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
            <td>{$data.end_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
