
<div class="bjui-pageHeader">
    <div class="bjui-searchBar"></div>
</div>
<div class="bjui-pageContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
        <tr align="center">
            <th>No.</th>
            <th>客服电话</th>
            <th>微信号</th>
            <th>微信号图</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach key=key item=data from=$dataList}
        <tr align="center">
            <td>{$data.id}</td>
            <td>{$data.tel}</td>
            <td>{$data.weixin}</td>
            <td>{if $data.weixin_img} <img src="http://static.66173.cn{$data.weixin_img}" height="100px" width="100px">{/if}</td>
            <td>
                <a href="site_setting.php?act=setting_edit_view&id={$data.id}" class="btn btn-green" data-toggle="navtab"  data-id="setting_edit_view" data-title="站点设置编辑">编辑</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages"> <span>每页{$page.pageSize}条&nbsp;&nbsp;共{$page.pageTotal}条记录</span></div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$page.pageTotal}" data-page-size="{$page.pageSize}" data-page-current="{$page.pageCurrent}" data-url=""></div>
</div>