<div class="bjui-pageContent">
    <form id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td colspan="4">
                    <label class="control-label x120">旧密码：</label>
                    <input type="password" name="oldPwd" cols="30" rows="1" class="form-control">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label  class="control-label x120">新密码：</label>
                    <input type="password" name="newPwd"  cols="30" rows="1"  class="form-control">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label class="control-label x120">再次输入新密码：</label>
                    <input type="password" name="reTypeNewPwd" cols="30" rows="1" class="form-control">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="button" onclick="changePwd()" class="btn-default" id="save">保存</button></li>
    </ul>
</div>
<script type="text/javascript">
    jQuery(function(){
        $("input[name='oldPwd']").focus();
    })
    function changePwd(){
        var oldPwd =$.trim($("input[name='oldPwd']").val());
        var newPwd = $.trim($('input[name="newPwd"]').val());
        if(newPwd!= $.trim($('input[name="reTypeNewPwd"]').val())){
            $("#save").alertmsg('warn',"新密码不一致，请重新输入");
            $("input[name='oldPwd']").focus();
            return false;
        }
        $.ajax({
            type:'post',
            url:'system_password.php?act=changePassword',
            dataType:'json',
            data:{
                oldPwd:oldPwd,
                newPwd:newPwd
            },
            success: function(json){
                if(json.statusCode=='200'){
                    $("#save").alertmsg('correct',json.message);
                }else{
                    $("#save").alertmsg('error',json.message);
                }
            }

        });
    }
</script>



