<script type="text/javascript">
    $(function(){
        $("select[name=page_id]").chosen();
    })
</script>
<div class="bjui-pageContent">
    <form action="website.php?act=add_save"  data-toggle="validate" data-alertmsg="false" method="post" enctype="multipart/form-data">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <tr>
                <td>
                    <label class="control-label x120">渠道名称：</label>
                    <input type="text" name="ch_name" value="" cols="18" rows="1"  class="form-control" data-rule="required">
                </td>
            </tr>
            <tr>
                <td><label  class="control-label x120">游戏页面ID：</label>
                    <select name="page_id" data-rule="required" style="width: 200px">
                        <option value="">请选择</option>
                        {foreach from=$game_list item=game}
                        <option value="{$game.id}">{$game.title}-{$game.id}</option>
                        {/foreach}
                    </select>&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="control-label x120">二维码：</label>
                    <button type="button" class="btn-default" data-icon="cloud-upload" onclick="game_icon.click()">选择图片</button>
                    <input type="file" name="game_icon" style="display: none;" onchange="g_icon.value=value"/>
                    <input type="text" name="g_icon" placeholder="None file" class="form-control" size="15" data-rule="required" readonly/>&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="control-label x120">安卓下载地址：</label>
                    <input type="text" name="down_url" value="" cols="18" rows="1"  class="form-control" data-rule="required">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
