<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$game.title}</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="http://cdn.66173.cn/website/css/zt3.css?t={$smarty.now}" rel="stylesheet">
</head>
<script src="http://cdn.66173.cn/www/js/jquery-1.8.3.min.js"></script>
<body>
<div class="warpbox">
    <div class="pagebox1 pagebox"  style="background-image:url(http://cdn.66173.cn/{$game.top_img[0]})">
        <div class="page1 pages" style="background-image:url(http://cdn.66173.cn/{$game.top_img[1]})">
            <div class="qr_box" style="margin-left: -100px;">
                <h5 class="l-h-30">扫描二维码下载游戏到手机</h5>
                {if $info}
                <img class="m-b-10" width="122" height="122" src="http://cdn.66173.cn/{$info.qr_url}">
                <a href="{$info.down_url}"><img src="http://cdn.66173.cn/website/imgs/down_btn.png"></a>
                {else}
                <img class="m-b-10" width="122" height="122" src="http://cdn.66173.cn/{$game.qr_code}"/>
                <a href="{$game.down_url}">
                    <img src="http://cdn.66173.cn/website/imgs/down_btn.png"/>
                </a>
                {/if}
            </div>
        </div>
    </div>
    <div class="pagebox2 pagebox" style="background-image:url(http://cdn.66173.cn/{$game.middle_img[0]})">
        <div class="page2 pages" style="background-image:url(http://cdn.66173.cn/{$game.middle_img[1]})">
            <div class="guide_box">
                <div class="nav" id="tab">
                    <ul>
                        {foreach item=tab key=k from=$game.tabList}
                        <li {if $k == 0}class="cur"{/if}>{$tab.text}</li>
                        {/foreach}
                    </ul>
                </div>
                <div id="con" class="img_box" style="background-image:url(http://cdn.66173.cn/{$game.box_img})">
                    {foreach item=data key=k from=$game.tabList}
                    <div  class="con">
                        <img src="http://cdn.66173.cn/{$data.img}"/>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagebox3 pagebox" style="background-image:url(http://cdn.66173.cn/{$game.bottom_img[0]})">
    <div class="page3 pages" style="background-image:url(http://cdn.66173.cn/{$game.bottom_img[1]})">
        <div class="game_box">
            <div class="screenshot_box">
                <ul>
                    {foreach from=$game.game_img item=game_img}
                    <li ><img width="240" src="http://cdn.66173.cn/{$game_img}" /></li>
                    {/foreach}
                </ul>
            </div>
        </div>
        {if $links}
        <div class="yl_div">
            <p>友情链接：</p>
            <div class="yl_box">
                {if $links}<span>|</span>{/if}
                {foreach from=$links item=link}
                <a href="{$link.go_url}" target="_blank" rel="noopener noreferrer">{$link.title}</a>
                <span>|</span>
                {/foreach}
            </div>
        </div>
        {/if}
    </div>
</div>
<div class="pagebox4 pagebox">
    <div class="page4 pages">
        <div class="copyright">
            <div>Copyright &copy; 2015 66173.cn 版权所有 ICP证：闽ICP备15010904号-1 文网文许可备案号： 闽网文〔2016〕1554-024号</div>
            <div>
                <p class="honor-list">
                    <a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/5ffb075bf30c4fdbb5bdc7b2a7a57694" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-5.jpg"/></a>
                    <a href="http://www.miibeian.gov.cn/publish/query/indexFirst.action" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-2.jpg"/></a>
                    <a href="http://t.knet.cn/index_new.jsp" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-3.jpg"/></a>
                    <a href="http://61.154.18.10:3080/observed/" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-4.jpg"/></a>
                    <a href="http://webscan.360.cn/index/checkwebsite/url/66173.cn" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-1.jpg"/></a>
                    <a href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.66173.cn&at=business" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-6.png"/></a>
                    <a href="http://si.trustutn.org/info?sn=828160711022825664830&certType=1" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-7.png"/></a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
<script language="javascript">
//    $(".nav ul").each(function(){
//        //取出ul下的第一个li
//        var li= $(this).children().first();
//        li.addClass("cur");
//    });
    window.onload=function(){
        var nav=document.getElementById("tab").getElementsByTagName("li");
        var con=document.getElementById("con").getElementsByTagName("div");
        for(i=0;i < nav.length;i++){
            nav[i].index = i;
            nav[i].onmouseover=function(){
                for(var n = 0; n < con.length; n++) {
                    con[n].style.display = "none";
                    nav[n].className = "";
                }
                con[this.index].style.display = "block";
                nav[this.index].className = "cur";
            }

        }
    }
</script>
</html>