<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>我要卖-游戏商品发布成功</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="http://cdn.66173.cn/mobile/v2/css/common.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://cdn.66173.cn/mobile/v2/css/sale.css?t=2015121412345" media="screen" />
</head>
<body>
<header class="page-header clearfix">
    <h1 class="page-h1">{$info.game_name}商品发布</h1>
    <a class="p2-back" href="/">返回</a>
    {if $smarty.session.user_id}
    <a class="login-on" href="/account.php?act=user_center">个人中心</a>
    {else}
    <a class="login-link" href="/account.php?act=user_center" id="login-btn">登录</a>
    {/if}
</header>
<section class="clearfix">
    <div class="sale-info-box sale-info-box-t sel-type clearfix" style="text-align: center;color: #000;font-size: 14px;">尊敬的用户,您发布的商品已经提交,我们将尽快审核</div>
    <div class="error">
        {if $smarty.session.sell_error}
            {foreach from=$smarty.session.sell_error item=error}
            <li>{$error}</li>
            {/foreach}
        {/if}
    </div>
    <div class="sale-info-box clearfix"><label>商品名称：</label>{$info.title}</div>
    <div class="sale-info-box clearfix"><label>游戏名称：</label>{$info.game_name}</div>
    <div class="sale-info-box clearfix"><label>商品类型：</label>{$sell_type}</div>
    <div class="sale-info-box clearfix"><label>商品价格：</label>{$info.price}</div>
    <div class="sale-info-box clearfix"><label>平台/区服：</label>{$info.channel_name}/{$info.s_name}</div>
    <div class="sale-info-box clearfix"><label>数量：</label>{$info.stock}</div>
    <div class="sale-info-box clearfix" style="color:#f03;font-size: 14px;text-align: center">预计一小时内审核完成</div>
</section>
{include file="../include/footer.html"}
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src=http://lib.sinaapp.com/js/jquery/2.0.0/jquery.min.js><\/script>');
</script>
</body>
</html>
