<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>我要卖-游戏商品-游戏币</title>
    <meta name="keywords" content="{$info.game_name}" />
    <meta name="description" content="66173交易平台为玩家提供手机游戏[{$info.game_name}]游戏币销售,欢迎来到66173卖[{$info.game_name}]的游戏币,这里有很多[{$info.game_name}]的忠实玩家." />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="http://cdn.66173.cn/mobile/v2/css/common.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://cdn.66173.cn/mobile/v2/css/sale.css" media="screen" />
</head>
<body>
<header class="page-header clearfix">
    <h1 class="page-h1">{$info.game_name}商品发布</h1>
    <a class="p2-back" href="javascript:history.back();">返回</a>
    {if $smarty.session.user_id}
    <a class="login-on" href="/account.php?act=user_center">个人中心</a>
    {else}
    <a class="login-link" href="/account.php?act=user_center" id="login-btn">登录</a>
    {/if}
</header>
<section class="clearfix">
    <form action="/game{$info.id}/sell?act=account" method="post" enctype="multipart/form-data" name="form_coin" id="form">
        <div class="sale-info-box sale-info-box-t sel-type clearfix">
            <label>商品类型：</label>
            <a href="/game{$info.id}/sell">账号</a>
            <a href="/game{$info.id}/sell?act=props">装备</a>
            <a href="#;" class="on">游戏币</a>
        </div>
        <div class="error">
            {if $smarty.session.sell_error}
            {foreach from=$smarty.session.sell_error item=error}
            <li>{$error}</li>
            {/foreach}
            {/if}
        </div>
        <div class="sale-info-box clearfix">
            <label>游戏平台：</label>
            <select name="ch">
                <option value="0">请选择渠道</option>
                {foreach from=$chs item=ch}
                <option value="{$ch.id}">{$ch.channel_name}</option>
                {/foreach}
            </select>
        </div>
        <div class="sale-info-box  sel-type sel-type-2 clearfix" id="unit">
            <label>游戏币类型：</label>
            {foreach from=$units item=unit}{if $unit}<a rel="{$unit}">{$unit}</a>{/if}{/foreach}
        </div>
        <div class="sale-info-box clearfix">
            <label>数量：</label>
            <input name="pernum" maxlength="5" type="text" placeholder="请输入游戏币数量" class="sale-input" value="1" />
        </div>
        <div class="sale-info-box clearfix">
            <label>价格：</label>
            <input name="price" maxlength="5" type="text" placeholder="请输入商品价格" class="sale-input" value="1" />元
        </div>
        <div class="sale-info-box clearfix">
            <label>出售件数：</label>
            <input name="stock" maxlength="5" type="text" placeholder="请输入您想出售的 件数" class="sale-input" value="1" />
        </div>
        <div class="sale-info-box clearfix">
            <label>单价：</label><span id="unitprice">1元=</span>
        </div>
        <div class="sale-info-box clearfix">
            <label>总量：</label><span id="gross">1</span>
        </div>
        <a class="b-btn" href="#;" onclick="do_coin();">下一步</a>
        <input type="hidden" name="game_id" value="{$info.id}" />
        <input type="hidden" name="pagehash" value="{$pagehash}" />
        <input type="hidden" name="do" value="coin" />
        <input type="hidden" name="game_storage" value="" />
        <input type="hidden" name="title" value="" />
        <input type="hidden" name="desc" value="" />
        <input type="hidden" name="unit" value="" />
    </form>
</section>
{include file="../include/footer.html"}
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src=http://lib.sinaapp.com/js/jquery/2.0.0/jquery.min.js><\/script>');
</script>
<script src="http://cdn.66173.cn/mobile/v2/scripts/sell_account.js?t=20161301119"></script>
</body>
</html>
