* {-webkit-tap-highlight-color:rgba(0,0,0,0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */  color: #999;  }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  color: #999;  opacity:  1;  }
::-moz-placeholder { /* Mozilla Firefox 19+ */  color: #999;  opacity:  1;  }
:-ms-input-placeholder { /* Internet Explorer 10-11 */  color: #999; }
body,div,span,iframe,input,form,input,h1,h2,h3,h4,h5,h6,p,a,em,img,b,dl,dt,dd,ul,ol,li,label{padding:0;margin:0;}
button {border: none;outline: none;}
label {display:inline-block;}
ul {list-style: none;}
body {
    background-color: #f8f8f8;
    color: #333;
    font-size: 14px;
    font-family: "微软雅黑";
}
a {
    color: #333;
    text-decoration: none;
}
a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
textarea:focus, input:focus {
    outline: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-center {
    text-align: center;
}
.bg-white {
    background-color: white;
}
.font-lger {
    font-size: 0.5rem;
}
.font-lg {
    font-size: 0.45rem;
}
.font-mder {
    font-size: 0.4rem;
}
.font-md {
    font-size: 0.35rem;
}
.font-sm {
    font-size: 0.3rem;
}
.font-tiny {
    font-size: 0.25rem;
}
.account-common-icon {
    background-image: url(//cdn.66173.cn/ins/img/web_h/account_common_icon_v.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 8.3rem 4.21rem;
}
.menu-bar {
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 -4px 8px #d6d6d6;
    background-color: #f6f4f5;
    color: #b5b5b5;
    text-align: center;
    bottom: 0;
    white-space: nowrap;

}
.menu-item {
    height: 100%;
    width: 33.3%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0.15rem 0 0.1rem;

}
.menu-item .text{
    font-weight: 300;
    color: #b4b4b4;
}
.menu-item .account-common-icon {
    position: relative;
    display: inline-block;
    width: 0.825rem;
    height: 0.8rem;
    margin-bottom: 0.1rem;
}
.menu-item .dot {
    position: absolute;
    right: 0;
    top: 0.15rem;
    width: 0.15rem;
    height: 0.15rem;
    background-color: #ff2323;
    border-radius: 50%;
}
.menu-item.user .account-common-icon {
    background-position: -0.42rem -0.36rem;
}
.account-rel .menu-item.user .account-common-icon, .menu-item.active.user .account-common-icon, .menu-item:hover.user .account-common-icon {
    background-position: -0.42rem -1.315rem;
}
.account-rel .menu-item.user .text, .menu-item.active.user .text, .menu-item:hover.user .text {
    color: #1296db;
}
.menu-item.message .account-common-icon {
    position: relative;
    background-position: -1.67rem -0.4rem;
}
.message-rel .menu-item.message .account-common-icon, .menu-item.active.message .account-common-icon, .menu-item:hover.message .account-common-icon {
    background-position: -1.67rem -1.4rem;
}
.message-rel .menu-item.message .text, .menu-item.active.message .text, .menu-item:hover.message .text {
    color: #f8941e;
}
.menu-item.service .account-common-icon {
    background-position: -3.12rem -0.375rem;
}
.service-rel .menu-item.service .account-common-icon, .menu-item.active.service .account-common-icon, .menu-item:hover.service .account-common-icon {
    background-position: -3.12rem -1.325rem;
}
.service-rel .menu-item.service .text, .menu-item.active.service .text, .menu-item:hover.service .text {
    color: #6ed3dd;
}
.main-wrapper {
    width: 94%;
    margin: 0.6rem auto 2rem;
}
.main-wrapper-verticle-middle {

}
.main-width {
    width: 100%;
    margin: auto;
}
.main-inner {
    width: 100%;
    margin: 0 auto;
}
/*简单提示*/
.brief-tip-pop {
    position: fixed;
    top: 45%;
    z-index: 999;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    word-break: break-all;
}
.brief-tip-pop .con{
    background: rgba(0,0,0,0.6);
    color: white;
    max-width: 60%;
    padding: 5px 10px;
    display: inline-block;
}
/*加载更多*/
.get-status {
    text-align: center;
    padding: 0.1rem 0;
    color: #999;
    line-height: 2;
}
.get-status .more-btn {
    display: inline-block;
    padding: 0 0.3rem;
    /*background-color: #eee;*/
    /*border: 1px solid #ccc;*/
    border-radius: 2px;
    color: #333;
    /*cursor: pointer;*/
    /*box-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
    /*transition: box-shadow 0.5s ease-in-out;*/
}
.get-status .more-btn:active {
    box-shadow: none;
}

/*带消除的输入框*/
.input-with-clear-zone {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.input-with-clear-zone input {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 0.6rem;
    background-color: #eaeaea;
    color: #666;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    font-size: 0.35rem;
    -webkit-appearance: none;
    cursor: pointer;
}
.input-with-clear-zone .clear {
    position: absolute;
    right: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
    top: 50%;
    margin-top: -0.25rem;
    border-radius: 50%;
    display: none;

}
/*填写表单公用样式*/
.fill-form .line {
    font-size: 0;
    margin-bottom: 0.25rem;
}
.fill-form .line .left, .fill-form .line .right {
    display: inline-block;
    vertical-align: middle;
}
.fill-form .line .left {
    width: 30%;
    text-align: right;
}
.fill-form .line .right {
    width: 60%;
    height: 0.8rem;
}
.fill-form .page-tip {
    color: red;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
}
.fill-form .submit-btn {
    width: 80%;
    display: block;
    margin: 0.1rem 0 0.5rem 10%;
    background-color: #1296db;
    color: white;
    border-radius: 3px;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}
.ele-toggle-btn {
    position: fixed;
    padding: 2px 4px;
    right: 0%;
    top: 5%;
    background-color: #00a5de;
    color: white;
    display: none;
    z-index: 1000;
}
.done-img-zone {
    margin-top: 100px;
}
/*蒙层*/
.mask, .loading-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
}
.loading-mask {
    z-index: 100;
}
/*加载图*/
.loading-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.8rem;
    margin-left: -0.8rem;
    width: 1.6rem;
    height: 1.6rem;
}