{include file="include/head.html" web_title="支付"}
<body>
	{include file="include/top.html"}
	{include file="include/header.html"}
	{include file="include/nav.html"}
	<form method="post" id="payfrm">
	<div class="w1000">
		<div class="current_nav ">
			当前位置：<a href="javascript:;">酷游手游交易平台</a>&nbsp;>&nbsp;<a href="http://shouyou.kuyoo.com/games.php">游戏列表</a>&nbsp;>&nbsp;{$gameinfo.game_name}
		</div>
		<img src="{$IMG_PATH}order_process2.png" />
		<div class="title_sub mt_20">
			<strong class="name">订单信息</strong>
		</div>
		<ul class="orderinfo">
			<li class="title">[{$info.game_name}]&nbsp;{$info.title}</li>
			<li>正在支付订单：[{$info.game_name}]&nbsp;{$info.title}</li>
			<li>订单总价：<span class="color_red">¥{($order.price*$discount/10)|round}元</span></li>
			{if $order['game_user'] neq ""}
			<li>充值账号：<span class="color_red">{$order.game_user}</span></li>
			{/if}
			<li>所在区服：{$order.serv_name}</li>
			<li>商品单价：¥{$order.price}元</li>
			<li>购买数量：1</li>
		</ul>
		<div class="title_sub">
			<strong class="name">选择支付方式</strong>
		</div>
		<div class="pay_type">
		<!-- 预留支付方式 -->
<!-- 			<div class="item">
				<input type="checkbox" id="pay_balance" name="pay_balance" /><label for="pay_balance" class="fontbold">使用账户余额支付</label>
				<span class="ml_50 fontbold">余额：</span><span class="color_red" id="span_balance">0元</span>
				<div class="r_item fontbold">支付：<span class="color_red" id="span_pay">0元</span></div>
			</div> -->
<!-- 			<div class="item" style="border:0px;">
				<input type="checkbox" id="pay_other" name="pay_other" checked=""/>
				<label for="pay_other" class="fontbold" id="check_other">选择其他支付方式</label>
			</div> -->
			<div class="pay_method" style="margin-top:20px;">

				<ul class="pay_method_tab">
					<li class="cur" lang="pay_method_1" data-pc="1">支付宝支付</li>
					<!-- <li lang="pay_method_2" data-pc='2'>网银支付</li> -->
					<!-- <li lang="pay_method_3">手机充值卡支付</li> -->
					<!-- <li lang="pay_method_5" data-pc='5'>微信支付</li> -->
				</ul>

				<!-- 支付宝 -->
				<div class="pay_method_box" id="pay_method_1">
					<div class="pay_price"><span class="fontbold">支付：</span><span class="color_red">{($order.price*$discount/10)|round}元</span></div>
					<!-- <div class="msg"><i></i></div> -->
					<div class="msg_center">
						<img src="{$IMG_PATH}pay_alipay.png" />
						<div>亲~请点击下方按钮进行支付，支付成功后请联系客服提货哦~</div>
					</div>
				</div>

				<!-- 网银 -->
				<div class="pay_method_box" id="pay_method_2" style="display:none;">
					<div class="pay_price"><span class="fontbold">支付：</span><span class="color_red">{($order.price*$discount/10)|round}元</span></div>
					<div class="msg"><i></i>易宝公司需要收取手续费，手续费为0%；</div>
					<ul class="banklist">
						{foreach from=$banks item=bank key=k}
						<li>
							<div>
								<input type="radio" data-code="{$bank.code}" id="bank_{$bank.seq}" name="radio_bank" />
								<label for="bank_{$bank.seq}"><img src="{$IMAGES_PATH}bank/{$bank.code}.gif" /></label>
							</div>
						</li>
						{/foreach}
					</ul>
				</div>

			</div>
		</div>
		<div class="title_sub mt_20">
			<strong class="name">确认支付方式</strong>
		</div>
		<ul class="pay_confirm">
			<li id="li_balance">
				<label class="label fontbold">余额支付：</label>
				<span class="color_red" id="span_balance_pay">￥ {($order.price*$discount/10)|round} 元</span>
			</li>
			<li id="li_other" style="display:none;">
				<label class="label fontbold" id="method_name">手机充值卡支付：</label>
				<span class="color_red">￥ 3 元</span>
			</li>
			<li><br/><input type="button" class="btn_pay" value="确认支付"/></li>
		</ul>
		{include file="include/footer.html"}
	</div>
	<input type="hidden" name="pay-channel" value="1" id="pay_channel"/>
	<input type="hidden" name="id" value="{$info.id}" id="pid"/>
	<input type="hidden" name="game_id" value="{$info.game_id}"/>
	<input type="hidden" name="bank" value="" id="bank"/>
</form>
</div>

<!-- JS文件放在页面底部 -->
<script src="{$JS_PATH}zbc_check.js" ></script>
<script src="{$JS_PATH}product/order.js"></script>
</body>
</html>
