<div class="user_center_left">
    <dl  id="main_menu">
        <dt>我的{if $domain_name eq 1}66173{else if $domain_name eq 2}u2590{/if}</dt>
        <dd class="module_title">消息中心</dd>
        <dd> <a href="my.php?act=my_msgs">站内信</a></dd>
        {if $domain_name eq 1}
        <dd class="border_bottom_none"> <a href="my.php?act=my_gifts">我的礼包</a></dd>
        {/if}
        <dd class="border_bottom_none border_coupon"> <a href="my.php?act=my_coupon">我的优惠卷</a></dd>

        <dd class="module_title">买家管理</dd>
        <!--<dd> <a href="#">我要买</a></dd>-->
        <dd class="border_bottom_none"> <a href="my.php?act=my_orders">买家订单</a></dd>

        <!--<dd class="module_title">卖家中心</dd>-->
        <!--<dd> <a href="#">我要卖</a></dd>-->
        <!--<dd> <a href="#">订单管理</a></dd>-->
        <!--<dd> <a href="#">出售中的商品</a></dd>-->
        <!--<dd class="border_bottom_none"> <a href="#">仓库中的商品</a></dd>-->

        <!--<dd class="module_title">积分管理</dd>-->
        <!--<dd> <a href="#">积分商城</a></dd>-->
        <!--<dd class="border_bottom_none"> <a href="#">已兑换商品</a></dd>-->

        <!--<dd class="module_title">资金管理</dd>-->
        <!--<dd> <a href="#">资金明细</a></dd>-->
        <!--<dd> <a href="#">我要提现</a></dd>-->
        <!--<dd class="border_bottom_none"> <a href="#">我要充值</a></dd>-->

        {if $smarty.session.shop_id}
        <dd class="module_title">店铺管理</dd>
        <dd class="border_bottom_none"> <a href="#">店铺订单</a></dd>
        {/if}

        <dd class="module_title">账户设置</dd>
        <dd> <a href="account.php?act=modify_user">个人资料</a></dd>
        <dd> <a href="account.php?act=check_IDcard_view">实名认证</a></dd>
        <!--<dd> <a href="account.php?act=mobile_info">手机绑定</a></dd>-->
        <dd> <a href="account.php?act=modify_psw">修改登录密码</a></dd>
        <dd> <a href="#">设置支付密码</a></dd>
        <dd> <a href="#">绑定游戏</a></dd>
        <!--<dd class="border_bottom_none"> <a href="#">账号回购</a></dd>-->

    </dl>
</div>