<div id="top">
    <div id="logo">
        <h1>
            <!--<a href="http://66173.cn" target="_blank" rel="noopener noreferrer"><img src="http://static.66173.cn/game/css/img/logo.png" alt="66173.cn"></a>-->
            <a href="http://www.66173yx.com" target="_blank" rel="noopener noreferrer"><img src="http://static.66173.cn/game/css/img/logo1.png" alt="66173.cn"></a>
        </h1>
        <!--<div class="option">-->
            <!--{if $smarty.session.usr_id neq ''}-->
            <!--<a id="userinfo" href="http://go.cc/myaccount">{$smarty.session.usr_nickname}</a>-->
            <!--{else}-->
            <!--<a href="javascript:;" id="login">登录</a><a href="http://go.cc/register">注册</a>-->
            <!--{/if}-->
            <!--<a href="http://go.cc/help" target="_blank" rel="noopener noreferrer">客服中心</a><em></em>-->
            <!--<div id="login_con">-->
                <!--<form action="http://go.cc/account.php?act=login_submit" method="post" id="login_form" name="login_form">-->
                    <!--<ul>-->
                        <!--<li><input name="email" class="width" type="text" placeholder="请输入账号"></li>-->
                        <!--<li><input name="password" class="width" type="password" placeholder="请输入密码"></li>-->
                        <!--<li><input name="cookie_check" type="checkbox"><label>自动登录</label></li>-->
                        <!--<li><a href="#;" onclick="document.login_form.submit();" id="login_btn"><img src="http://cdndl.go.cc/www2/img/ajax-loader.gif" style="display:none"></a></li>-->
                        <!--<li id="forget">-->
                            <!--<a href="http://www.go.cc/forgot" target="_blank" rel="noopener noreferrer" class="left">忘记密码?</a>-->
                            <!--<a href="http://www.go.cc/register" target="_blank" rel="noopener noreferrer" class="register right">快速注册!</a>-->
                        <!--</li>-->
                        <!--<li id="dsflogin"><a href="http://ins.app-fame.com/LoginWeibo2.aspx?Mode=2&Access=1&Pid=1002&v=3&Back=aHR0cDovL3d3dy5nby5jYy9zb2NpYWxjYWxsYmFjay5waHA=" class="qq">QQ账号登录</a><a href="http://ins.app-fame.com/LoginWeibo2.aspx?Mode=1&Access=1Pid=1002&v=3&Back=aHR0cDovL3d3dy5nby5jYy9zb2NpYWxjYWxsYmFjay5waHA=" class="sina">新浪微博登录</a></li>-->
                    <!--</ul>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>