<link rel="stylesheet" type="text/css" href="http://static.66173.cn/shop/m/css/side.css?t={rand(1,10000)}" media="screen" />
<div class="side-box">
    <header class="side-title"><h2>商品选择</h2></header>
    <ul class="side-list clearfix">
        {foreach from=$products item=p}
            {if $params.type eq 2}
                <li>
                    <a href="/{$params.shop_id}-{$order.game_id}-{$order.id}-{$p.id}-recharge.html" rel="{$p.id}">{$p.title}</a>
                </li>
            {else}
                <li>
                    <a href="/{$params.shop_id}-{$params.game_id}-{$p.id}-character.html" rel="{$p.id}">{$p.title}</a>
                </li>
            {/if}
        {/foreach}
    </ul>
    <a class="side-btn">确定</a>
</div>