<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="robots" content="all">
    <meta name="author" content="Tencent-TGideas">
    <meta name="Copyright" content="Tencent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Mon, 20 Jul 2013 23:00:00 GMT" /> <!--//设置页面缓存-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,maximum-scale=1" />
    <meta name="Description" content="《龙城战歌手游》由同名端游IP改编，延续经典战法道三职业设定，复刻落霞夺宝、热血攻沙等经典玩法，带你重返记忆中的传世。召集兄弟，加入行会，随时随地，热血PK！" />
    <meta name="keywords" content="龙城战歌，传奇世界手游，传奇手游，经典传奇，炫彩传世" />
    <script>
        ! function(e, n) {
            function t() {
                var e = d.clientWidth,
                    n = d.clientHeight;
                d.style.fontSize = 375 / 667 < e / n ? e / 375 * 100 + "px" : n / 667 * 100 + "px";
            }
            if (e.addEventListener) {
                var d = document.documentElement;
                e.addEventListener("resize", t, !1), n.addEventListener("DOMContentLoaded", t, !1)
            }
        }(window, document);
    </script>
    <script src="https://cdn.66173.cn/mobile/website/lczg/js/swiper.js?t={$smarty.now}"></script>
    <title>龙城战歌手游官网</title>
    <link rel="stylesheet" href="//cdn.66173.cn/mobile/css/yhwz_m.css?t={$smarty.now}">
    <link href="https://cdn.66173.cn/mobile/website/lczg/css/index_pc.css?t={$smarty.now}" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.66173.cn/mobile/website/lczg/js/zepto.js?t={$smarty.now}"  ></script>
</head>
<script src="https://cdn.66173.cn/mobile/website/lczg/js/motion.js?t={$smarty.now}"></script>
<body>
<!--顶端头部-->
<div class="w_global" id="w_global">
    <div class="index_div_top ttt">
        <img width="100%" src="https://cdn.66173.cn/mobile/website/lczg/images/bg/fix.jpg" alt="">
    </div>
    <header class="w_menu" style="display:none;">
        <div class="topBox">
            <a style=" visibility:hidden;" ontouchend="PTTSendClick('btn','menu','menu');" href="#" data-open="0" id="b_menuBox" class="b_menuBox"></a>
        </div>
    </header>
    <div id="w_face" class="w_face">
        <img class="w_face_img1" src=" https://cdn.66173.cn/mobile/website/lczg/images/bg/bg_01.png" alt="">
        <div class="new_active">
            <img style="width: 100%;height: 100%" src=" https://cdn.66173.cn/mobile/website/lczg/images/news.png" alt="">
        </div>
    </div>

    <div class="contant_body">
        <!--中心新闻活动轮播图-->
        <div class="rotator clearfix bbb">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="imgimg"   src=" https://cdn.66173.cn/mobile/website/lczg/images/lunbo2.jpg" alt=""/></div>
                    <div class="swiper-slide"><img class="imgimg"  src=" https://cdn.66173.cn/mobile/website/lczg/images/lunbo1.jpg" alt=""/></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" data-seq="0"></span>
                    <span class="swiper-pagination-bullet" data-seq="1"></span>
                </div>
            </div>
        </div>
        <!--tab切换开始-->
        <div class="tab_tab_pc">
            <div class="tab_index_pc">
                <li class="current">最新</li>
                <li>活动</li>
                <li>新闻</li>
                <li>公告</li>
            </div>
            <div class="tab_div">
                <ul class="ul1 tab_div_ul">
                    {foreach from=$new_article item=latest}
                    <li>
                        <a class="li_a clearAfter" href="/detail/{$latest.id}">
                            <span class="float_l">{$latest.title}</span>
                            <span class="float_r">{'m/d'|date:$latest.lastupdate}</span>
                        </a>
                    </li>
                    {/foreach}
                </ul>
                <ul class="ul2 tab_div_ul" style="display: none">
                    {foreach from=$activity_list item=activity}
                    <li>
                        <a class="li_a clearAfter" href="/detail/{$activity.id}">
                            <span class="float_l">{$activity.title}</span>
                            <span class="float_r">{'m/d'|date:$activity.lastupdate}</span>
                        </a>
                    </li>
                    {/foreach}
                </ul>
                <ul class="ul3 tab_div_ul" style="display: none">
                    {foreach from=$news_list item=news}
                    <li>
                        <a class="li_a clearAfter" href="/detail/{$news.id}">
                            <span class="float_l">{$news.title}</span>
                            <span class="float_r">{'m/d'|date:$news.lastupdate}</span>
                        </a>
                    </li>
                    {/foreach}</ul>
                <ul class="ul4 tab_div_ul" style="display: none">
                    {foreach from=$notice_list item=notice}
                    <li>
                        <a class="li_a clearAfter" href="/detail/{$notice.id}">
                            <span class="float_l">{$notice.title}</span>
                            <span class="float_r">{'m/d'|date:$notice.lastupdate}</span>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <!--截图及底部相关部分开始-->
        <div class="game_jietu">
            <div class="gama_jietu_img">
                <img class="gama_jietu_img_img" src=" https://cdn.66173.cn/mobile/website/lczg/images/jietu.png" alt="">
            </div>
        </div>
        <div class="jietu_bottom">
        </div>
    </div>
    <!--游戏截图加底部开始--> <!--游戏截图开始-->
    <div class="jietu_div">
        <div class="jietu_div_item">
            <div class="swiper-container2 ppp">
                <div class="swiper-wrapper jietu_pc_img">
                    <div class="swiper-slide jietu_pc_img">
                        <img class="jietu_pc_img" src=" https://cdn.66173.cn/mobile/website/lczg/images/game_jietu/1.jpg" alt="" />
                    </div>
                    <div class="swiper-slide jietu_pc_img"><img class="jietu_pc_img" src=" https://cdn.66173.cn/mobile/website/lczg/images/game_jietu/2.jpg" alt="" /></div>
                    <div class="swiper-slide jietu_pc_img"><img class="jietu_pc_img" src=" https://cdn.66173.cn/mobile/website/lczg/images/game_jietu/3.jpg" alt="" /></div>
                    <div class="swiper-slide jietu_pc_img"><img class="jietu_pc_img" src=" https://cdn.66173.cn/mobile/website/lczg/images/game_jietu/4.jpg" alt="" /></div>

                </div>
                <div class="pre-btn">《</div>
                <div class="next-btn">》</div>
                <div class="swiper-pagination swiper-pagination-bullets" style="margin-top: -50px;z-index: 99999!important;">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" data-seq="0"></span>
                    <span class="swiper-pagination-bullet" data-seq="1"></span>
                    <span class="swiper-pagination-bullet " data-seq="2"></span>
                    <span class="swiper-pagination-bullet" data-seq="3"></span>
                </div>
            </div>
        </div>
        <div class="jiaqun_pc">
            <img src=" https://cdn.66173.cn/mobile/website/lczg/images/jiaqun.png" class="jiaqun_pc_i"  alt="">
            <div class="erweima_pc">
                <img src=" https://cdn.66173.cn/mobile/website/lczg/images/qqerweima.png" class="erweima_pc_i" alt="">
            </div>
            <p class="saomiao_txt">扫描二维码关注官方QQ群</p>
            <p class="sousuo_txt">或者搜索官方QQ群：<span class="txt_txt" >833690336</span> </p>
        </div>
        <div class="footer_enjoy_pc">
            <img src=" https://cdn.66173.cn/mobile/website/lczg/images/bg/foot_enjoy.png" class="foot_img"  alt="">
        </div>
    </div>
</div>
<!--微信分享的时间戳==============-->
<input type="hidden" value="" id="noncestr"/>
<input type="hidden" value="" id="timestamp"/>
<input type="hidden" value="" id="signature" />
<!--微信分享的时间戳结束===============-->
<script type="text/javascript">
    window.onload = function(){
        var swiper = new Swiper(".swiper-container2", {
            prevButton:'.pre-btn',
            nextButton:'.next-btn',
            pagination: ".swiper-pagination",//显示小圆点
            autoplay:2000,                     //轮播毫秒数
            loop:true,                         //可以重复轮播，默认方式是false
            paginationClickable: true,         //值为真时，当单击指示器时会执行过渡动画到目标slide
            speed:300,                         //slides滑动动画之间的持续时间
            autoplayDisableOninteraction:true,//autoplay不会被禁掉，用户操作之后每次都会重新启动autoplay
//            mode:'horizontal',                 //slides滑动方式，水平或垂直
        });
    }

</script>
<!--一下为脚本部分内容-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<!--相关点击事件的逻辑-->
<script>
    $('.tab_index_pc li').on("click",function () {
        $(this).addClass("current").siblings().removeClass("current")
    })
    $('.tab_index_pc li:nth-child(1)').on("click",function () {
        $(".ul1").show().siblings().hide()

    })
    $('.tab_index_pc li:nth-child(2)').on("click",function () {
        $(".ul2").show().siblings().hide()

    })
    $('.tab_index_pc li:nth-child(3)').on("click",function () {
        $(".ul3").show().siblings().hide()

    })
    $('.tab_index_pc li:nth-child(4)').on("click",function () {
        $(".ul4").show().siblings().hide()

    })
    $(".tab_index_pc li").click(function () {
        $(this).addClass("current").siblings().removeClass("current")
    })
    $(window).resize(function () {          //当浏览器大小变化时监听浏览器窗口的 大小
        var width=$(window).width();
        //浏览器时下窗口可视区域宽度 console.log(width)
        if(width<=466){
            $(".tab_div li").css("fontSize","14px")
            $(".tab_tab_pc").css("marginTop","-0.46rem")
        }else{
            $(".tab_tab_pc").css("marginTop","1rem")
            $(".tab_div li").css("fontSize","22px")
        }
    });
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        mode: 'horizontal',
        autoplay: 4000,
        crossFade: true ,///控制是否自动播放
        preloadImages: false, //是否初始时将所有轮播图加载完,
        lazyLoading: true, //是否图片懒加载，要和preloadImages: false一起使用
        paginationClickable: true,
        autoplayDisableOnInteraction: false //控制用户滑动或点击到其他图后是否不再轮播
    });
</script>
<script>
    $("#close").bind("touchstart",function(){
        $("#w_global").show();
        $("#pop").hide();
    });
    $(".float_l").each(function(){
        $(this).html($(this).text().substring(0,14))
    })
</script>

<script>
    // <!--判断手机端还是pc端,且非ios浏览器情况下下载游戏-->
    $(document).ready(function () {
        browserRedirect2()
    })
    function browserRedirect2() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            window.location.href="index.html"
            // alert("ios版本正在内测中，后期开放")
        } else {
        }
    }
    function browserRedirect3() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            // alert("ios版本正在内测中，后期开放")
        } else {
            window.location.href=""  //这里为pc下载地址链接

        }
    }
    $('.ttt').on("click",function () {
        browserRedirect3()
    })
    $(".footer_enjoy_pc").on("click",function () {
        alert("请用手机浏览并分享")
    })
</script>
<!--引入微信分享在线cdn的js微信分享=========-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    // <!--获取到签名-->
    var noncestr = $("#noncestr").val();
    var timestamp = $("#timestamp").val();
    var signature = $("#signature").val();
    document.addEventListener('WeixinJSBridgeReady', function() {
        wx.config({
            debug: false,
            appId: "wxbaed68c7f2f3a62c",// 必填，公众号的唯一标识
            timestamp: parseInt(timestamp),// 必填，生成签名的时间戳
            nonceStr: noncestr,// 必填，生成签名的随机串
            signature: signature,// 必填，签名
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo',
                'onMenuShareQZone'
            ]
        });

        //通过ready接口处理成功验证
        wx.ready(function() {
            var shareData = {
                title: '龙城战歌',
                desc: '《龙城战歌》一款热门手游,与玩家一起体验精品游戏,享受真福利与真特权，只为带给您高品质的游戏体验。',
                link: window.location.href,
                imgUrl: " https://cdn.66173.cn/mobile/website/lczg/images/logo.png",// 分享图标
                type: '',
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function() {
                    alert("分享成功")
                },
                cancel: function() {
                    alert("取消分享");
                }
            };
            // 分享给朋友事件绑定
            wx.onMenuShareAppMessage(shareData);
            // 分享到朋友圈
            wx.onMenuShareTimeline(shareData);
            // 分享到QQ
            wx.onMenuShareQQ(shareData);
            // 分享到QZone
            wx.onMenuShareQZone(shareData);
            // 分享到微博
            wx.onMenuShareWeibo(shareData);
        });
    });
</script>
</body>
</html>