<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常见问题详情</title>
    {include file="help_v2/include/head_common.html"}
    <link rel="stylesheet" href="//cdn.66173.cn/ins/css/help_v2/service_rel.css?t={$smarty.now}">
    {include file="help_v2/include/head_script.html"}
</head>
<body class="service-rel service-common-detail">
{include file="help_v2/include/menu_bar.html"}
<div class="main-wrapper">
    <div class="main-width">
        <div class="font-lg detail-title">{$info.title}</div>
        <div class="font-mder detail-text">
            <div>{$info.content}</div>
        </div>
        <div class="font-md bottom">
            <div class="left"></div><div class="center">客服妹妹在线相随,在线时间：09:00&nbsp;-&nbsp;18:00</div><div class="right"></div>
        </div>
    </div>
</div>
</body>
</html>