<!DOCTYPE html>
<html lang="en" class="detail-page-html">
<head>
    <meta charset="UTF-8">
    <title>{$info.title}</title>
    <meta name="description" content="英魂外传"/>
    <meta name="keywords" content="英魂外传"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <link rel="stylesheet" href="//cdn.66173.cn/mobile/css/yhwz_m.css?t={$smarty.now}">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="application/javascript" src="http://cdn.66173.cn/mobile/v2/scripts/activity_yh_m_func.js?t={$smarty.now}"></script>
</head>
<body class="detail-page">
    <img class="top-img" src="//cdn.66173.cn/mobile/css/img/yhwz_m/img_detail_banner.png" alt="">
    <div class="main-zone">
        <div class="article-title">{$info.title}</div>
        <div class="time-line">发布时间：<span class="time">{'Y-m-d H:i:s'|date:$info.add_time}</span></div>
        <div class="arcticle-con">
            {$info.intro|htmlspecialchars_decode}
        </div>
    </div>
    <input type="hidden" value="{$noncestr}" id="noncestr"/>
    <input type="hidden" value="{$timestamp}" id="timestamp"/>
    <input type="hidden" value="{$signature}" id="signature" />
</body>
{include file="website/yh/include/footer.html"}
</html>