<div class="friendly-link-wrapper">
    <div class="container">
        <div class="border-left-title-wrapper link-title-wrapper">
            <span class="font-lg title">友情链接</span>
        </div>
    </div>
    <ul class="friendly-links-ul">
        <div class="container">
            <li><a class="font-md" href="http://www.nd.com.cn/" target="_blank" rel="noopener noreferrer">网龙网络</a></li>
            <li><a class="font-md" href="http://www.kpzs.com/" target="_blank" rel="noopener noreferrer">靠谱网络</a></li>
            <li><a class="font-md" href="http://www.15w.com/" target="_blank" rel="noopener noreferrer">要我玩</a></li>
            <li><a class="font-md" href="http://www.178.com" target="_blank" rel="noopener noreferrer">178游戏网</a></li>
            <li><a class="font-md" href="http://www.skymoons.com/" target="_blank" rel="noopener noreferrer">天象互动</a></li>
            <li><a class="font-md" href="http://game.91.com/" target="_blank" rel="noopener noreferrer">91手机网</a></li>
            <li><a class="font-md" href="http://www.hiapk.com/" target="_blank" rel="noopener noreferrer">安卓网</a></li>
            <li><a class="font-md" href="http://www.app111.com/" target="_blank" rel="noopener noreferrer">苹果园</a></li>
            <li><a class="font-md" href="http://www.babybus.com" target="_blank" rel="noopener noreferrer">宝宝巴士</a></li>
            <li><a class="font-md" href="http://www.18183.com/" target="_blank" rel="noopener noreferrer">18183</a></li>
            <li><a class="font-md" href="http://www.go.cc/" target="_blank" rel="noopener noreferrer">云顶游戏</a></li>
            <li><a class="font-md" href="http://www.gao7.com/" target="_blank" rel="noopener noreferrer">搞趣网</a></li>
            <li><a class="font-md" href="http://zhanggame.com/" target="_blank" rel="noopener noreferrer">掌游网</a></li>
            <li><a class="font-md" href="http://jiahehuyu.com/" target="_blank" rel="noopener noreferrer">佳和互娱</a></li>
            <li><a class="font-md" href="http://www.yingxiong.com/" target="_blank" rel="noopener noreferrer">英雄互娱</a></li>
            <li><a class="font-md" href="http://www.91.com/" target="_blank" rel="noopener noreferrer">91门户</a></li>
            <li><a class="font-md" href="http://www.haote.com/xz/545449.html " target="_blank" rel="noopener noreferrer">好特网</a></li>
            <li><a class="font-md" href="http://download.pchome.net/mobile/games/gmtools/detail-200666.html" target="_blank" rel="noopener noreferrer">pchome</a></li>
            <li><a class="font-md" href="http://www.huacolor.com/app/160169.html" target="_blank" rel="noopener noreferrer">华彩软件站</a></li>
            <li><a class="font-md" href="http://www.downcc.com/soft/313598.html" target="_blank" rel="noopener noreferrer">绿色资源网</a></li>
            <li><a class="font-md" href="https://www.hookbase.com/youxi/yxfz/143849.html" target="_blank" rel="noopener noreferrer">顶库下载</a></li>
            <li><a class="font-md" href="https://www.vipcn.com/shoujiyouxi/shouyoufuzhu/553196.html" target="_blank" rel="noopener noreferrer">清风手游网</a></li>
            <li><a class="font-md" href="http://www.jisuxia.com/soft/niuguoyouxizhong-51614.html" target="_blank" rel="noopener noreferrer">极速下载</a></li>
            <li><a class="font-md" href="http://www.onlinedown.net/soft/1075253.htm" target="_blank" rel="noopener noreferrer">华军软件园</a></li>
            <li><a class="font-md" href="http://www.minixiazai.com/android/apk_10085.html" target="_blank" rel="noopener noreferrer">迷你下载</a></li>
            <li><a class="font-md" href="http://www.newasp.net/android/339418.html" target="_blank" rel="noopener noreferrer">新云下载</a></li>
            <li><a class="font-md" href="http://www.9553.com/android/85887.html" target="_blank" rel="noopener noreferrer">9553下载</a></li>
        </div>
    </ul>
</div>