body{background: #f8f8f8;margin: 0;padding: 0}
header{
    text-align: center;
    color: #333;
    border-bottom: 1px solid #dbdbdb;
    height: 48px;
    line-height: 48px;
    font-size: 1.2rem;
    background: #fefefe;
}
.orange{color: #e4393c}
section{
    padding: 6px 12px;
    border-bottom: 1px solid #dbdbdb;
}
h2{
    color: #666;
    margin: 5px 0;
    padding: 0;
    font-weight: normal;
    font-size: 1rem;
}
h3{
    font-size: 1.3rem;
    margin: 8px 0;
}
section p{
    margin: 5px 0;
}
section.sec{
    background: #fff;
    padding: 15px 12px;
    text-indent: 20px;
}
section.title{
    text-indent: 0;
}
section.alipay{
    color: #666;
    background: #fff url("img/alipay.png") no-repeat 32px center;
    position: relative;
    text-indent: 109px;
    padding: 0 12px;
}
section img{
    vertical-align: middle;
    position: absolute;
    right: 20px;
    height: 50%;
    top:25%
}
section a{
    text-decoration: none;
    color: #666;
    display: block;
    height: 100%;
    padding: 15px 0;
}
.sub_bnt{
    margin-left: 10px;margin-right:10px;font-size: 1.3em;
    border: 1px solid #dddddd;margin-top: 10px;height: 40px;
    line-height: 40px;text-align: center;color: #ffffff;
    background: #f04452;-webkit-border-radius: 5px;position: relative
}
.sub_bnt a{color: #fff;text-decoration: none;display:block;width: 100%;height: 40px;}
