<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>{$title}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="http://cdn.66173.cn/mobile/css/common.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://cdn.66173.cn/mobile/css/list.css" media="screen" />
</head>

<body>
<header class="page-header clearfix">
    <h1 class="h1-txt">{if $title}{$title}{else}游戏充值列表页{/if}</h1>
    <a href="javascript:history.back();" class="back-link"></a> <a class="idv-link" href="/account.php?act=user_center"></a> </header>
<!--Str 搜索框-->
<section class="srh-box">
    <form class="s-form clearfix">
        <input type="text" placeholder="世界OL" class="s-input" />
        <button class="s-btn">搜索</button>
    </form>
</section>
<!--End 搜索框-->
<!--Str 游戏列表-->
<section class="clearfix">
    <header><h2 class="bor-tit">选择游戏</h2></header>
    <div class="list-con clearfix">
        <div class="label-box clearfix">
            <ul class="label-list clearfix">
                <li class="on"><a rel="hot">热</a></li>
                {assign var=i value=0}
                {section name=total loop=26}{assign var=i value=$i+1}<li><a href="#;" rel="{($i+64)|chr}">{($i+64)|chr}</a></li>{/section}
            </ul>
        </div>
        <div class="soft-box clearfix">
            <ul class="soft-list clearfix">
                {foreach from=$games item=game}
                <li><a href="/game{$game.id}"><img src="http://cdn.66173.cn/{$game.game_icon}" alt="{$game.game_name}"/><span>{$game.game_name}</span><em>{$game.discount}</em></a></li>
                {/foreach}
            </ul>
            <ul class="soft-list soft-list2" style="display:none"></ul>
        </div>
    </div>
</section>
<!--End 游戏列表-->
{include file="include/footer.html"}
<!--End 页面通用底部-->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"><\/script>');
</script>
<script src="http://cdn.66173.cn/mobile/scripts/game.js"></script>
</body>
</html>
