<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>66173手游交易平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="/favicon.ico" type="image/x-icon" rel=icon>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <style>
    html, body {  position: relative; height: 100%; }
    body { background: #eee; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color:#000; margin: 0; padding: 0; }
    .swiper-container { width: 100%; max-width: 800px; height: 100%; margin-left: auto; margin-right: auto; }
    .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
    .swiper-slide img{ display:block; height: 100%; width: 100%; } 
    </style>
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a href="http://m.66173.cn/account.php?act=register" class="swiper-slide">
                <img src="http://cdn.66173.cn//images/reg_guide/m1.jpg" alt="安全保障">
            </a>
            <a href="http://m.66173.cn/account.php?act=register" class="swiper-slide">
                <img src="http://cdn.66173.cn//images/reg_guide/m2.jpg" alt="优质服务">
            </a>
            <a href="http://m.66173.cn/account.php?act=register" class="swiper-slide">
                <img src="http://cdn.66173.cn//images/reg_guide/m3.jpg" alt="最优折扣">
            </a>
            <a href="http://m.66173.cn/account.php?act=register" class="swiper-slide">
                <img src="http://cdn.66173.cn//images/reg_guide/m4.jpg" alt="交易简单">
            </a>
        </div>
    </div>
    <script src="http://cdn.66173.cn/mobile/v2/scripts/script.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', { direction: 'vertical', slidesPerView: 1, autoplay: 2500, loop: true, autoplayDisableOnInteraction: false });
    </script>
</body>
</html>