<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title></title>
    <link rel="stylesheet" href="//cdn.66173.cn/93kk/css/style.css?t=1.0.2">
    <script src="//cdn.66173.cn/93kk/js/setFontSize.min.js" type="text/javascript"></script>
</head>

<body>
    <header class="header">
        <a href="/index" class="return js-go-back"></a>
        <h1>客服中心</h1>
    </header>
    <div class="contact-page">
        <div class="contact-header">
            <!--<p class="qq">客服QQ：270772735</p>-->
            <!--<p class="tel">客服电话：0591-8866173</p>-->
            <a href="http://wpa.qq.com/msgrd?v=3&uin=3004929660&site=qq&menu=yes">联系客服</a>
        </div>
        <div class="contact-time">----- 客服在线时间：9:30-23:30 -----</div>
        <div class="contact-ques">
            <h2>常见问题</h2>
            <dl>
                <dt>Q1：如何进入牛果游戏？</dt>
                <dd>
                    <p>1、【推荐】移动设备下载牛果游戏APP，通过下载进入游戏</p>
                    <p>2、通过官网下载游戏，使用模拟器加载进入牛果游戏</p>
                </dd>
                <dt>Q2：牛果账号怎么找回？</dt>
                <dd>
                    <p>1、密码忘记：可以通过手机绑定和邮箱绑定进行修改</p>
                    <p>2、账号找回：向客服人员进行申诉找回，申诉提交成功后一般24小时内处理完毕</p>
                </dd>
                <dt>Q3：无法登录游戏怎么办？</dt>
                <dd>
                    <p>1、判断有无维护更新并检查网络环境良好</p>
                    <p>2、查看手机或设备内存是否不足</p>
                    <p>3、卸载游戏重新安装</p>
                </dd>
                <dt>Q4：我网银充值已经扣费了，为什么没到帐呢？</dt>
                <dd>
                    <p>您好，请您先退出游戏查看相应的游戏币是否到帐，若仍未到帐，请联系我们充值客服提供游戏帐号和银行扣费订单号码协助您查询。</p>
                </dd>
                <dt>Q5：充值成功后多久才能到帐？</dt>
                <dd>
                    <p>银行卡充值成功后，充值金额会立即增加到您的帐户内。但有时可能会因为网络传输情况而稍有延迟。重新登录后，到充值管理中心,即可查询充值记录。</p>
                </dd>
                <dt>Q6：什么情况下会被纳入防沉迷系统？</dt>
                <dd>
                    <p>1、没有登记真实姓名及身份证号</p>
                    <p>2、登记了虚假的身份证号及姓名</p>
                    <p>3、您填写的身份证号未满18周岁</p>
                    <p>提示：只有您填写真实的身份证号和对应真实姓名，并且该身份证对应的公民年满18岁才不受防沉迷系统的限制</p>
                </dd>
            </dl>
        </div>
    </div>
</body>

</html>