<div class="pay-page-con select-box clearfix">
<div class="card-info-box">
<label>道具</label>
<input type="text" placeholder="请输入话费卡卡号" />
</div>
<div class="card-info-box">
<label>角色名称</label>
<input type="text" placeholder="请填写新建角色名称" />
</div>
<div class="card-info-box">
<label>备用名称</label>
<input type="text" placeholder="名称被占用将使用备用名称" />
</div>
<div class="card-info-box">
<label>初始精灵</label>
<input type="text" placeholder="请选择初始精灵" />
</div>
<div class="card-info-box">
<label>性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
<input type="text" placeholder="请选择性别" />
</div>
</div>