<div class="pay-page-con select-box clearfix">
    <div class="card-info-box">
        <label>选择区服</label>
        <select name="serv_id" id="serv_id">
            <option value="0">请选择服务器</option>
            {foreach from=$servs item=serv}
            <option value="{$serv.id}">{$serv.serv_name}</option>
            {/foreach}
        </select>
    </div>
    <div class="card-info-box">
        <label>代充账号</label>
        <input type="text" name="game_user" placeholder="请输入代充账号" />
    </div>
    <div class="card-info-box">
        <label>登入密码</label>
        <input type="text" name="game_pwd" placeholder="请输入登入密码" />
    </div>
    <div class="card-info-box">
        <label>代充角色名</label>
        <input type="text" name="role_name" placeholder="请输入游戏角色名" />
    </div>
    <input type="hidden" name="do" value="topup" />
</div>