.message-wrapper{
    width:95%;
    margin:0 auto;
}
.message-ul{
    margin-top:0.15rem;
}
.message-item .left{
    margin: 0 0.25rem 0 0.39rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.message-icon{
    background-image: url(//cdn.66173.cn/ins/img/web_h/message_common_icon.png);
    background-size: 2.75rem 1.28rem;
    width: 0.6rem;
    height: 0.5rem;
    display: block;
}
 .message-system{
     background-position: 2.45rem -0.07rem;
}
.message-system-unread{
     background-position: 2.45rem 1.92rem;
}
.message-service-unread{
     background-position: 0.88rem 1.92rem;
}
.message-service{
     background-position: 0.88rem -0.052rem;
}
.message-activity{
    background-position: 1.65rem -0.062rem;
}
.message-activity-unread{
    background-position: 1.65rem 1.92rem;
}
 .message-item{
     border-bottom: 1px solid #d1d1d1;
     font-size: 0;
     padding: 0.15rem 0;
 }
 .message_unread{
     position: absolute;
     top: 0.1rem;
     width: 0.1rem;
     right: 0.08rem;
 }
.message-item .center{
     display: inline-block;
     vertical-align: middle;
     width:61%;

 }
.message-item .center .title{
     color:#333333;
 }
.message-item .center .desc{
     color:#999999;
 }
.message-item .right{
    display: inline-block;
    width:22%;
    vertical-align: middle;
    text-align: right;
}
.message-item  .right .time{
    display: inline-block;
    vertical-align: middle;
    color:#999999;
}
.message-item .right .box{
    width: 0.22rem;
    height: 0.32rem;
    line-height: 0.32rem;
    position: relative;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.18rem;
}
/*黑色三角形   */
.message-item .right .box:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    border-color: transparent transparent transparent #6c6c6c;
}
/*背景色三角形*/
.message-item .right .box:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 2px;
    width: 0;
    height: 0;
    border:10px solid;
    margin-top: -10px;
    border-color: transparent transparent transparent #f8f8f8;
}
.no-message {
    text-align: center;
    height: 100%;
}
.no-message .no-list-img {
    width:33%;
    margin:0 auto;
}
.no-message .text {
    font-weight: 300;
    color: #ccc;
    line-height: 3;
}

/*消息详情页*/
.message-detail .main-width{
    width:88%;
}
.message-detail .detail-head{
    border-bottom: 1px solid #d1d1d1;
    font-size:0;
    padding:0.4rem 0 0.1rem;
    text-align: center;
}
.message-detail .detail-title{
    width: 90%;
    margin: 0 auto 0.1rem;
    color: #333333;
}
.message-detail .detail-time{
    color: #666666;
}
.message-detail .detail-text{
    padding:0.15rem 0.1rem;
    color: #666666;
}
.message-detail .detail-text img{
    display: block;
    max-width:90%;
    margin:0 auto;
    padding:0.1rem 0;
}