<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>提示</title>
</head>
<body align="center">
	<div style="display: block;margin-bottom: 30px;"><font style="font-size: 200%;" color="red">系统升级中,请扫描下载客户端体验。</font></div>
	<div style="display: block;margin-bottom: 30px;width: 100%"><img src="http://cdn.66173.cn/15solo/down.png"></div>
	<div style="display: block;margin-bottom: 30px;">
		<font style="font-size: 200%">
		游戏遇到问题请扫描下方二维码联系!<br>
		微信：18871380138<br>
		商会：阳光工会
		</font>
	</div>
	<div><img src="http://cdn.66173.cn/15solo/wx.png"></div>
</body>
</html>




