<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="expires" content="{$expires}" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="width=device-width; initial-scale=1; minimum-scale=1, maximum-scale=1; user-scalable=1" name="viewport">
    <title>错误页面</title>
</head>
<body>
<section class="mod"><span class="green">{$msg}</span></section>
<section class="mod">缺少必要参数,请重新点击左上角"菜单"按钮,重新进入.</section>
</body>
</html>