<!---表单验证器加载 参考地址http://coderthemes.com/ubold_1.3/dark_1/form-validation.html-->
<link href="assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script type="text/javascript" src="assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('form').parsley();
        $('input[name="version_time"]').datetimepicker({
            locale: 'zh',format: 'yyyy-mm-dd hh:ii'
        });
    });
</script>
<!--end--->
<form action="super_app.php?act=do_edit&id={$info.app_id}" method="post" enctype="multipart/form-data" data-toggle="ajaxform" id="myform" class="form-horizontal" role="form" data-animation="modal" data-parsley-validate novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">游戏修改</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-md-3 control-label" for="field-1">APP ID</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="field-1" name="app_id" readonly value="{$info.app_id}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">APP KEY</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="app_key" readonly value="{$info.app_key}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">游戏名称</label>
            <div class="col-md-9">
                <input type="text" class="form-control" parsley-trigger="change" required name="app_name" value="{$info.app_name}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">游戏类型</label>
            <div class="col-md-9">
                <select name="app_type" class="form-control">
                    <option value="1"{if $info.app_type eq 1} selected{/if}>安卓游戏</option>
                    <option value="2"{if $info.app_type eq 2} selected{/if}>iOS游戏</option>
                    <option value="3"{if $info.app_type eq 3} selected{/if}>H5游戏</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">回调接口</label>
            <div class="col-md-9">
                <input type="text" class="form-control" parsley-trigger="change" name="sdk_charge_url" value="{$info.sdk_charge_url}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">状态</label>
            <div class="col-md-9">
                <select class="form-control" name="status">
                    <option value="1"{if $info.status eq 1} selected{/if}>运营</option>
                    <option value="2"{if $info.status eq 2} selected{/if}>下线</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">版本号</label>
            <div class="col-md-9">
                <input type="text" class="form-control" parsley-trigger="change" name="version" value="{$info.version}"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="app_id" value="{$info.app_id}" />
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">保存</button>
    </div>
</form>