# Created by .ignore support plugin (hsz.mobi)
.idea
.svn
vendor/.git
/vendor/*
/vendor
composer.lock
/composer/*
/vendor/composer/*
/vendor/autoload.php
cache/
config_local.php
htdocs/admin/assets/plugins/jstree/themes/default/
htdocs/ins/test.php
htdocs/ins/test_order.php
htdocs/m/ong.php
htdocs/pma.zip
htdocs/static/images/game_icon/201606/
htdocs/static/images/game_icon/7.png
logs/
htdocs/static/ins/css/img/check.png
htdocs/static/ins/css/img/check2.png
htdocs/static/ins/css/img/icon-phone.png
htdocs/static/ins/css/img/icon-qq.png
htdocs/static/ins/css/img/icon-user.png
config.php
*.DS_Store

/verdor/composer/autoload_real.php
/verdor/autoload.php
/verdor/composer/installed.json
