<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>用户协议</title>
    <link rel="stylesheet" href="//cdn.66173.cn/mobile/trading/css/news_detail.css?t={$smarty.now|date_format:'%Y%m%d'}">
    <link rel="stylesheet" href="//cdn.66173.cn/mobile/trading/css/comment.css?t={$smarty.now|date_format:'%Y%m%d'}">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js?t={$smarty.now|date_format:'%Y%m%d'}"></script>
</head>
<body>
<div class="page_top2">
    <div class="page_top_left2">
        <img class="margin_two" src="//cdn.66173.cn/mobile/trading/image/index_image/back.png" alt="">
    </div>
    <div class="page_top_center2">
       用户协议
    </div>
    <a class="page_top_right2" href="/moyu">
        <span class="login_my">
            <img class="page_top_r_img" src="//cdn.66173.cn/mobile/trading/image/person_center/index2.png" alt="">
        </span>
    </a>
</div>
<div class="new_detail_txt margin_t">
    <div class="title_contant">
        <div class="title_contant_text">
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>欢迎阅读服务条款协议，本协议阐述之条款和条件适用于您使用www.66173.cn网站（以下简称“网站”）的各种功能和享受的各项网站服务（以下简称“服务”）。 本服务协议双方为本网站所有者福建牛牛网络信息技术有限公司（以下简称“本公司”）与本网站用户。</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>本服务协议具有合同效力。本服务协议内容包括本协议正文及所有本网站已经发布的或将来可能发布的各类规则、声明等各项规范网站运营及明确本公司和用户权利义务、责任的文件资料。所有规则、声明等均为本服务协议不可分割的一部分，与本服务协议具有同等法律效力。在本网站中没有以“规则”、“声明”字样表示的链接文字所指示的文件就专门的事项与本服务协议有不同规定的，在不违反本服务协议基本原则的前提下优先适用其规定，且仅适用于该专门的事项。
            用户在使用本网站提供的各项服务的同时，承诺接受并遵守本服务协议及各项相关规则、声明的规定。本网站有权根据需要不时制定、修改本协议或各类规则、声明，如本协议有任何变更，将在网站上以刊载公告的方式通知予用户。如用户不同意相关变更，必须停止使用本网站各项功能和享受各项“服务”。经修订的协议一经在本网站上公布，立即自动生效。各类规则、声明等会在发布后生效，亦成为本协议的一部分。登录或继续使用本网站各项功能或享受各项“服务”将表示用户接受经修订的协议。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本协议约束。
            按照国家对未成年人保护的相关法律法规规定及国家对网络游戏进行管理的相关要求：66173交易平台加入身份验证系统。将对注册时所填写的帐号身份证信息进行验证，同时要求注册用户在注册时提供有效身份证复印件。凡未填写身份信息（真实姓名、身份证号码）、
            身份证号码年龄在18岁以下以及身份证号码与姓名不符的用户帐号，将不支持使用66173平台功能。 在用户点击“我同意”选项确认本服务协议后，本服务协议即在用户和本公司之间产生法律效力。请用户务必在注册之前认真阅读全部服务协议内容，如有任何疑问，可
             向本网站咨询。鉴于本网站无法掌控和确定用户是否已仔细阅读服务协议内容，且阅读与否责任并不在本网站和本公司，因此特别声明如下：</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(1) 无论用户事实上是否在注册之前认真阅读了本服务协议，只要用户点击注册页面的“我同意”选项，并按照网站注册程序成功注册为用户，即视为用户已经全文阅读并接受本服务协议之全部内容，本服务协议即在本公司和用户之间签订，对双方具有约束力。</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>(2) 本协议仅系本公司与本网站用户间因使用本网站而产生的权利义务关系，不涉及本网站用户之间因网上交易而产生的法律关系及法律纠纷。</p>
            <p>第一部分 定义</p>
            <p>1、本网站网上交易平台</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>有关本网站网上交易平台上的术语或图标的含义，详见本网站帮助。</p>
            <p>2、用户及用户注册</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>用户必须是具备完全民事行为能力的自然人，或者是具有合法经营资格的组织。无民事行为能力人、限制民事行为能力人以及无经营资格或无特定经营资格的组织违反规定以任何方式注册为本网站用户或超过其民事权利或行为能力范围从事交易，其注册行为及与本公司之间的服务协议均自始无效，本网站一经发现，有权立即注销该用户，并追究其使用本网站“服务”的一切法律责任。用户注册是指用户登陆本网站，按要求填写相关信息，提供有效身份证复印件，并确认同意履行相关用户协议的过程。 用户因进行交易、获取有偿服务或接触本网站服务器而发生的所有应纳税赋，以及一切硬件、软件、服务及其他方面的费用均由用户自己承担并负责自行支付。 本网站仅作为本公司为注册用户提供的进行虚拟物品交易的网络交易平台，并通过该平台向用户提供在线交易支持服务。</p>
            <p> 第二部分 权利义务</p>
            <p> 一、用户权利和义务</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>1、用户有权利拥有自己在本网站的通行证，包括但不限于用户名、登录密码及交易密码，并有权利使用自己的用户名及密码随时登陆本网站交易平台。用户不得以任何形式擅自转让或授权他人使用自己在本网站注册的用户名。</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>2、用户有权根据本服务协议的规定以及本网站上发布的相关规则、声明利用网上交易平台查询物品信息、发布交易信息、登录物品、购买物品、与其他用户订立物品买卖合同、参加本网站的有关活动以及有权享受本网站提供的其他的相关信息服务。用户保证其具有相应</p>
            <p>的法律权利和行为能力进行上述活动，其在本网站交易平台进行或参与上述行为不会导致其违反任何适用的法律法规，及对用户具有约束力的合同、协议、法院及仲裁机构的有效裁判、规章、行政许可、政府命令、禁令及其他文件的规定，并保证对该等行为独立承担一切法律责任（包括但不限于出售非法或侵权物品的法律责任及任何对第三方的侵权及违约责任）。若本网站因任何可归咎于用户违反法律法规，或对用户具有约束力的合同、协议、法院及仲裁机构的有效裁判、规章、行政许可、政府命令、禁令及其他文件的行为承担任何连带责任，用户同意对本网站的损失予以全额赔偿。同时，鉴于66173为用户提供服务过程中，有时需要使用游戏客户端软件，因此，用户须自行下载、安装游戏客户端软件于66173服务器上，用户在此确认，用户在下载、安装游戏客户端软件前已经阅读、理解并完全接受运营商相关游戏之客户端协议，66173不负责游戏客户端软件的下载、和安装。同时用户全权委托及授权66173代表用户本人使用游戏客户端软件提供相关交易服务。用户同时保证，如因下载、安装或使用游戏客户端软件导致66173被控侵权或被要求承担违约等其他法律责任，66173将有权删除用户下载及安装到66173服务器的游戏软件客户端，且对于因侵权或违约等行为所产生的全部责任由用户自身承担。</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>3、用户在本网站进行网上交易过程中如与其他用户因交易产生纠纷，可以请求网站从中予以协调。用户如发现其他用户有违法或违反本服务协议的行为，可以向本网站进行反映要求处理。如用户因网上交易与其他用户产生诉讼的，用户有权通过司法部门要求本网站提供相关资料。</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>4、用户有义务在注册时提供自己的真实资料（包括但不限于有效身份证复印件），并保证诸如电子邮件地址、联系电话等内容的真实性、有效性及安全性，保证本网站及其他用户可以通过上述联系方式与自己进行联系。同时，用户也有义务在相关资料实际变更时及时更新有关注册资料。用户保证不以他人资料在本网站进行注册或认证。用户保证当绑定注册信息（包括但不限于电子邮件、银行帐户）丢失或失效时，及时与本网站联系，并注销该帐户。</p>
            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>5、用户应当保证在使用本网站网上交易平台进行交易过程中遵守诚实信用的原则，不发布虚假信息，不恶意抬高物价，不在交易过程中采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。 </p>
        </div>
    </div>
</div>
</body>
<script>
    $(".page_top_left2").click(function () {
        history.back()
    })
</script>
</html>
