<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>用户注册</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="http://cdn.66173.cn/mobile/css/account.css?t={$smarty.now|date_format:'%Y%m%d'}" media="screen" />
</head>

<body>
<header class="login-header clearfix">
    <h1 class="h1-tit">用户注册</h1>
    <a class="back-icon" href="javascript:history.back();"></a>
</header>
<section class="input-con clearfix">
    <form action="login.php?act=do_register" method="post" id="register">
        <div class="sinp-box"><label>手机号</label><input  name="mobile" type="text" placeholder="请输入手机号"  /></div>
        <div class="sinp-box"><label>验证码</label><input  name="sms_code"  type="text" placeholder="输入验证码" /><a class="get-code" id="send_code" rel="1">获取验证码</a></div>
        <div class="sinp-box"><label>设置密码</label><input name="password" type="password" placeholder="6-16位字符，区分大小写"  /></div>
        <div class="sinp-box"><label>重复密码</label><input name="cpassword" type="password" placeholder="再次输入密码"  /></div>
        <div class="check-box">
            <input type="checkbox" value="None" id="slideOne"  name="i-read" checked="" class="check-input" >
            <label for="slideOne">我同意《66173交易平台服务条款》</label>
        </div>
        <div class="re_error" id="register_error"   {if $smarty.session.m_reg_error}style="display: block"{/if}>{$smarty.session.m_reg_error}</div>
        <a class="b-btn" id="submit">立即注册</a>
        <input type="hidden" name="pagehash" value="{$pagehash}" />
    </form>
</section>
</body>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?1f0a1f65ba01082e76f89fd1b54a087a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"><\/script>');
</script>
<script src="http://cdn.66173.cn/mobile/scripts/register.js?t={$smarty.now|date_format:'%Y%m%d'}"></script>
</html>
