<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>手机验证</title>
    <link rel="stylesheet" href="//cdn.66173.cn/mobile/trading/css/news_detail.css?t={$smarty.now|date_format:'%Y%m%d'}">
    <link rel="stylesheet" href="//cdn.66173.cn/mobile/trading/css/comment.css?t={$smarty.now|date_format:'%Y%m%d'}">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
</head>
<body>
<div class="page_top2">
    <div class="page_top_left2">
        <img class="margin_two" src="//cdn.66173.cn/mobile/trading/image/index_image/back.png" alt="">
    </div>
    <div class="page_top_center2">
        手机验证
    </div>
    <a class="page_top_right2" href="/moyu">
        <span class="login_my">
            <img class="page_top_r_img" src="//cdn.66173.cn/mobile/trading/image/person_center/index2.png" alt="">
        </span>
    </a>
</div>
<div class="check_identity margin_t"></div>
<div class="phone_input">
    <div class="phone_input_img">
        <img class="message_img" src="//cdn.66173.cn/mobile/trading/image/person_center/phone_c.png" alt="">
    </div>
    <input class="phone_number" placeholder="请输入您的手机号码" type="number">
</div>
<div class="phone_input2">
    <div class="phone_input_img2">
        <div class="phone_input_message">
            <img class="message_img" src="//cdn.66173.cn/mobile/trading/image/person_center/message.png" alt="">
        </div>
        <input class="phone_code" placeholder="请输入短信验证码" type="text">
    </div>
    <button onclick="getCode()" class="phone_input_right">
         获取验证码
    </button>
</div>
<div class="tips_message tips">
</div>
<div class="save_btn">保存</div>
<input class="pagehash" type="hidden" name="pagehash" value="{$pagehash}">
</body>
<script src="//cdn.66173.cn/mobile/trading/js/phone_check.js?t={$smarty.now|date_format:'%Y%m%d'}"></script>
<script src="//cdn.66173.cn/mobile/trading/js/getUrlParam.js?t={$smarty.now|date_format:'%Y%m%d'}"></script>
<script src="//cdn.66173.cn/mobile/trading/js/base64_a.js?t={$smarty.now|date_format:'%Y%m%d'}"></script>
</html>