<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta content="True" name="HandheldFriendly" />
    <title>牛币使用规则</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
        p{
            margin: 5px 0;
            text-indent: 25px;
        }
        h2{
            margin: 0;
            font-size: 20px;
            color: red;
        }
    </style>
</head>
<body>
<h2>1．什么是牛币？</h2>
<p>答：牛币是一种在牛果平台游戏充值中心支付的通用虚拟货币。可用来支付“牛果精品游戏区的游戏”的各种有偿服务，在“牛果精品游戏区的游戏”牛币价值等同于人民币，按照1牛币=1元RMB的比例换算。　
<br>*注：活动期间充值牛币会有额外奖励，请关注我们的运营活动</p>
<h2>2．如何获取牛币？</h2>
<p>答：用户可以通过牛果手游市场客户端充值。</p>
<h2>3．如何使用牛币?</h2>
<p>答：现阶段，牛币可以用于“牛果精品游戏区的游戏“各种有偿服务的支付，不能兑换现金，不能进行转账交易，后续会有更多的服务敬请期待！</p>
<h2>4．如何查看牛币余额？</h2>
<p>答：进入“会员中心-牛币”，可看到牛币的余额。</p>
<h2>5．牛币充值后多久到账？</h2>
<p>答：正常几分钟内到账，特殊情况由于网络问题、第三方支付超时可能需要数小时，带来的不便敬请谅解！</p>
<h2>6．付款了牛币没到账怎么办？</h2>
<p>答：不要着急！提供支付端的支付记录截图联系客服QQ：252432349，客服核实会第一时间给你拨币。</p>
<h2>7．如何查看牛币消耗情况？</h2>
<p>答：其一，牛币充值中心-充值记录；其二，会员中心-充值记录</p>
<h2>8．牛币特色</h2>
<p>a. 一次充值，全平台游戏通用，无需经历麻烦的支付流程，轻松快捷!</p>
<p>b. 牛币只限于本账号进行充值，无法更换其他账号！</p>
<p>c. 参与不定期举行平台充值返利活动，玩家可以提前充值获取返利，再根据自己需要进行游戏充值!充的越多返的越多!</p>
</body>