<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>website</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.66173.cn/reactRel/dist/bundle.css">
    <link rel="icon" href="http://cdn.66173.cn/website/imgs/zt3/t2.png" type="image/x-icon"/>
</head>

<body class="skin-blue">
<div id="main-wrapper" class="main-wrapper"></div>
<script src="http://cdn.66173.cn/www/js/jquery-1.7.1.min.js"></script>
<script src="http://cdn.bootcss.com/react/0.14.5/react.min.js"></script>
<script src="http://cdn.bootcss.com/react/0.14.5/react-dom.min.js"></script>
<script src="http://cdn.66173.cn/reactRel/dist/vendor.js"></script>
<script src="http://cdn.66173.cn/reactRel/dist/bundle.js"></script>
</body>
</html>