<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$web_title}_手游交易_酷游手游交易平台</title>
	{if $web_des neq ""}
	<meta name="description" content="{$web_des}" />
	{else}
	<meta name="description" content="酷游(shouyou.kuyoo.com)是国内权威的手机游戏交易平台，安全快捷有保障的手游充值中心，酷游是提供手游账号交易、首充号购买、首充号续充、手机游戏充值、苹果IOS代充、手游退游、装备及道具、游戏币交易的手机游戏交易平台。">
	{/if}
	<meta name="keywords" content="{$web_key}">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link href="/favicon.ico" type="image/x-icon" rel=icon>
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
	<link href="http://static.kuyoo.com/kuyoo/wwwv2/css/style.css" type="text/css" rel="stylesheet">
	{if $canonical neq ""}<link rel="canonical" href="{$canonical}" />{/if}
</head>