<div class="user_center_left">
    <dl  id="main_menu">
        <dt>我的酷游</dt>
        <dd class="module_title">消息中心</dd>
        <dd> <a href="my.php?act=my_msgs">站内信</a></dd>
        <dd class="border_bottom_none border_coupon"> <a href="my.php?act=my_coupon">我的优惠卷</a></dd>
        <dd class="module_title">买家管理</dd>
        <dd class="border_bottom_none"> <a href="my.php?act=my_orders">买家订单</a></dd>
        <dd class="module_title">账户设置</dd>
        <dd> <a href="account.php?act=modify_user">个人资料</a></dd>
        <dd> <a href="account.php?act=check_IDcard_view">实名认证</a></dd>
        <!--<dd> <a href="account.php?act=mobile_info">手机绑定</a></dd>-->
        <dd> <a href="account.php?act=modify_psw">修改登录密码</a></dd>
    </dl>
</div>