<div class="w1000">
	<div class="right_fixed">
		<div class="title">66173</div>
		<!--<a class="item" href="#;" rel="nofollow"><div class="icon_1"></div>我要卖</a>-->
		<a class="item" href="/games.html" rel="nofollow"><div class="icon_2"></div>我要买</a>
		<a class="item" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin={$ser_qq}&site=qq&menu=yes" target="_blank" rel="noopener noreferrer"><div class="icon_3"></div>联系客服</a>
		<a href="http://www.66173.cn/info/20" class="item" href="/info/14" rel="nofollow"><div class="icon_4"></div>商务洽谈</a>
		<div class="goto_top" style="display:none;"><a rel="nofollow" href="#">返回顶部</a></div>
	</div>
</div>