    <div class="w1000">
        <div class="ensure">
            <img src="http://cdn.66173.cn/wwwv2/css/img/ensure.jpg"/>
        </div>
        <div class="foot_a_z">
            <dl>
                <dt>选择游戏：</dt>
                <dd><a href="/games.php#game_A">A</a></dd>
                <dd><a href="/games.php#game_B">B</a></dd>
                <dd><a href="/games.php#game_C">C</a></dd>
                <dd><a href="/games.php#game_D">D</a></dd>
                <dd><a href="/games.php#game_E">E</a></dd>
                <dd><a href="/games.php#game_F">F</a></dd>
                <dd><a href="/games.php#game_G">G</a></dd>
                <dd><a href="/games.php#game_H">H</a></dd>
                <dd><a href="/games.php#game_I">I</a></dd>
                <dd><a href="/games.php#game_J">J</a></dd>
                <dd><a href="/games.php#game_K">K</a></dd>
                <dd><a href="/games.php#game_L">L</a></dd>
                <dd><a href="/games.php#game_M">M</a></dd>
                <dd><a href="/games.php#game_N">N</a></dd>
                <dd><a href="/games.php#game_O">O</a></dd>
                <dd><a href="/games.php#game_P">P</a></dd>
                <dd><a href="/games.php#game_Q">Q</a></dd>
                <dd><a href="/games.php#game_R">R</a></dd>
                <dd><a href="/games.php#game_S">S</a></dd>
                <dd><a href="/games.php#game_T">T</a></dd>
                <dd><a href="/games.php#game_U">U</a></dd>
                <dd><a href="/games.php#game_V">V</a></dd>
                <dd><a href="/games.php#game_W">W</a></dd>
                <dd><a href="/games.php#game_X">X</a></dd>
                <dd><a href="/games.php#game_Y">Y</a></dd>
                <dd><a href="/games.php#game_Z">Z</a></dd>
            </dl>
        </div>
    </div>
    <div class="w1000">
        <div class="right_fixed">
            <div class="title">66173</div>
            <!--<a class="item" href="#;" rel="nofollow"><div class="icon_1"></div>我要卖</a>-->
            <a class="item" href="/games.html" rel="nofollow"><div class="icon_2"></div>我要买</a>
            <a class="item" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=252432349&site=qq&menu=yes" target="_blank" rel="noopener noreferrer"><div class="icon_3"></div>联系客服</a>
            <a href="http://www.66173.cn/info/20" class="item" href="/info/14" rel="nofollow"><div class="icon_4"></div>商务洽谈</a>
            <div class="goto_top" style="display:none;"><a rel="nofollow" href="#">返回顶部</a></div>
        </div>
    </div>
</div>
<!--底部版权-->
<div class="copyright">
    <div>Copyright &copy; 2015 66173.cn 版权所有 ICP证：闽ICP备15010904号-1</div>
    <div>
        <p class="honor-list">
            <a href="http://webscan.360.cn/index/checkwebsite/url/66173.cn" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-1.jpg"/></a>
            <a href="http://www.miibeian.gov.cn/publish/query/indexFirst.action" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-2.jpg"/></a>
            <a href="http://t.knet.cn/index_new.jsp" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-3.jpg"/></a>
            <a href="http://61.154.18.10:3080/observed/" target="_blank" rel="noopener noreferrer" rel="nofollow"><img border="0" src="http://cdn.66173.cn/images/footer-4.jpg"/></a>
        </p>
    </div>
    <div>友情合作：
        {foreach from=$links item=link}
        <a href="{$link.go_url}" target="_blank" rel="noopener noreferrer" rel="nofollow">{$link.title}</a>
        {/foreach}
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0323a07bab41ef36312f92afd8dd1b20' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</div>
{literal}
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"><\/script>');
</script>
<script type="text/javascript" src="http://cdn.66173.cn/www/js/service.js"></script>
<script type="text/javascript" src="http://cdn.66173.cn/wwwv2/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="http://cdn.66173.cn/wwwv2/js/zbc_common.js" ></script>
{/literal}