<div id="tab1_box">
	<div class="pro_img_big f_pro_img_big">
		<ul class="pro_img_small">
			{foreach from=$imgs item=gimg key=k}
			<li {if $k eq 0}class="cur"{/if}>
				<i class="icon_arrow"></i>
				<img src="http://static.kuyoo.com/{$gimg['img_url']}" alt="{$gameinfo.game_name}VIP商城图{$k+1}" />
			</li>
			{/foreach}
		</ul>
		<i class="prev"></i>
		<i class="next"></i>
	</div>
	<div class="pro_img_big">
		<i class="icon_arrow_left"></i>
		<i class="icon_arrow_right"></i>
		<img src="http://static.kuyoo.com/{$imgs[0]['img_url']}" id="bigimg" />
	</div>
</div>