<div class="side-bg" id="login"></div>
<!--Str 页面通用底部-->
<footer class="footer">
    <nav class="footer-nav">
        <ul class="footer-nav-list clearfix">
            <li><a href="http://m.66173.cn">66173</a></li>
            <li><a href="http://shop.66173.cn">店铺列表</a></li>
            <li><a href="http://shop.66173.cn/service.html">联系客服</a></li>
        </ul>
    </nav>
    <section class="footer-btm">
        <p>用心创造安全交易 &copy shop.66173.cn</p>
        <p>客服热线：<em>0591-87766173</em></p>
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?bf48cf472d00edb57ebcbaba9327ebe2";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </section>
</footer>
{if $shop_id}
<div id="service-fix">
    <a href="http://shop.66173.cn/service{$shop_id}.html">在线咨询</a>
</div>
{/if}
<!--End 页面通用底部-->

<!-- 本地测试jquery -->
<script src="http://static.66173.cn/wwwv2/js/jquery-1.9.1.min.js"></script>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src=http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js><\/script>');
</script>
<script src="http://static.66173.cn/shop/m/scripts/common.js"></script>