{literal}
<style>
    .page-header-title{ margin-left: 57px; font-size: 18px; line-height: 40px; color: #FFF; font-weight: bolder; }
</style>
{/literal}
<section id="search" style="position: static; top:35px;margin-top: 4px;">
    <div class="page-header clearfix">
    <div class="page-header-title">查询结果如下：</div>
        <h1 class="logo">66173.cn</h1>
        <a class="cancel" href="#;">取消</a> 
    </div>
    <div id="search-box">
        <a href='javascript:;' class='default' style='width:98%;'>请输入要查询的关键字</a>
    </div>
</section>