<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="0">
	<meta name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no'>
	<title>三生三世</title>
	<style>
		html, body {
			-ms-touch-action: none;
			background: rgba(0,0,0,0);
			padding: 0;
			border: 0;
			margin: 0;
			height: 100%;
		}
	</style>
</head>
<body>
<script type="text/javascript">
    sdkLogin();
    function sdkLoginResult(result,msg,uid,usertoken,username){
        if(result == 1){
            url = 'http://login.66173bqz.hhhhh55555.cn';
            window.location.href = url;
        }
        else{
            alert(msg);
        }
    }
</script>
</html>