<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="0">
	<meta name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no'>
	<title>游戏</title>
	<style>
		html, body {
			-ms-touch-action: none;
			background: rgba(0,0,0,0);
			padding: 0;
			border: 0;
			margin: 0;
			height: 100%;
		}
	</style>
</head>
<body>
<script type="text/javascript">
    window.webkit.messageHandlers.sdklogin.postMessage("examine");
    function sdkLoginResult(result,msg,uid,usertoken,username){
        if(result == 1){
//            url = 'http://bzcxyx.bqzbweb.com/h566/login.php?logotype=1&osplat=ios&uid='+uid+'&usertoken='+usertoken+'&username='+username;
            url = 'http://yzbqyx.com/h566/login.php?logotype=1&osplat=ios&uid='+uid+'&usertoken='+usertoken+'&username='+username;
            window.location.href = url;
        }
        else{
            alert(msg);
        }
    }
</script>
</html>