<!doctype html>
<html lang="en">
<head>
    <title>个人资料</title>
    {include file="../include/head.html"}
    <link href="//cdn.66173.cn/niuguo/css/bootstrap3.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.66173.cn/niuguo/css/common.css?t={$smarty.now}">
    <link rel="stylesheet" href="//cdn.66173.cn/niuguo/css/account.css?t={$smarty.now}">
    <script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body class="user-center-page">
    <input type="hidden" value="{if $info.mobile}{$info.mobile}{else}{$info.login_name}{/if}" id="loginAccount"/>
    <input type="hidden" value="{$info.birthday}" id="userBirthday"/>
    {include file="../include/header.html"}
    <div class="with-top-user-nav-mg container pd0 account-with-menu-container">
        {include file="../include/user_side_menu.html" user_icon="//cdn.66173.cn/niuguo/img/{if $info.sex eq 2}account_head_girl_icon.png{else}account_head_boy_icon.png{/if}" name="{if $info.nick_name}{$info.nick_name}{else}{$info.mobile}{/if}"}
        <div class="bg-white container-main">
            <div class="common-box-top top">
                <div class="font-lg title">个人资料</div>
            </div>
            <div class="user-center-form">
                <div class="user-center-form-main">
                    <div class="current-block">
                        <div class="line">
                            <div class="input-wrapper account-wrapper">
                                <label class="font-lg common-input-label">登录账号：</label>
                                <span class="font-lg common-line-info">{if $info.mobile}{$info.mobile}{else}{$info.login_name}{/if}</span>
                            </div>
                        </div>
                        <div class="line">
                            <div class="input-wrapper nickname-wrapper">
                                <label class="font-lg common-input-label">用户昵称：</label>
                                <span class="font-lg common-line-info">{if $info.nick_name}{$info.nick_name}{/if}</span>
                            </div>
                        </div>
                        <div class="line">
                            <div class="input-wrapper birthday-wrapper">
                                <label class="font-lg common-input-label">生日：</label>
                                <span class="font-lg common-line-info">{if $info.birthday}{$info.birthday}{else}保密{/if}</span>
                            </div>
                        </div>
                        <div class="line">
                            <div class="input-wrapper birthday-wrapper">
                                <label class="font-lg common-input-label">性别：</label>
                                <span class="font-lg common-line-info">{if $info.sex eq '1'}男{else if $info.sex eq '2'}女{else}保密{/if}</span>
                            </div>
                        </div>
                        <div class="line">
                            <div class="input-wrapper address-wrapper">
                                <label class="font-lg common-input-label">地址：</label>
                                <span class="font-lg common-line-info">{if $info.address}{$info.address}{else}保密{/if}</span>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="line">
                            <div class="input-wrapper account-wrapper">
                                <label class="font-lg common-input-label">登录账号：</label>
                                <span class="font-lg common-line-info">{if $info.mobile}{$info.mobile}{else}{$info.login_name}{/if}</span>
                            </div>
                        </div>
                        <div class="line">
                            <div class="input-wrapper nickname-wrapper">
                                <label class="font-lg common-input-label">用户昵称：</label>
                                <input type="text" class="font-lg common-input"  id="nickname" name="nickname" value="{$info.nick_name}"/>
                                <label for="nickname" class="font-sm msg-label"></label>
                            </div>
                        </div>
                        <div class="line">
                            <div class="input-wrapper birthday-wrapper">
                                <label class="font-lg common-input-label">生日：</label>
                                <div class="font-lg modify-zone birthday-modify date-select-zone" id="birthday">
                                    <select class="year"></select>
                                    <span class="text">年</span>
                                    <select class="month"></select>
                                    <span class="text">月</span>
                                    <select class="day"></select>
                                    <span class="text">日</span>
                                </div>
                                <label for="birthday" class="font-sm msg-label"></label>
                            </div>
                        </div>
                        <div class="line">
                            <div class="input-wrapper birthday-wrapper">
                                <label class="font-lg common-input-label">性别：</label>
                                <div class="font-lg modify-zone sex-modify edit" id="sex">
                                    <input type="radio" name="sex" value="1" {if $info.sex eq '1'}checked{/if}><span class="text">男</span>
                                    <input type="radio" name="sex" value="2" {if $info.sex eq '2'}checked{/if}><span class="text">女</span>
                                    <input type="radio" name="sex" value="0" {if $info.sex eq '0'}checked{/if}><span class="text">保密</span>
                                </div>
                                <label for="sex" class="font-sm msg-label"></label>
                            </div>
                        </div>
                        <div class="line">
                            <div class="input-wrapper address-wrapper">
                                <label class="font-lg common-input-label">地址：</label>
                                <textarea class="font-lg edit" name="address" id="address">{$info.address}</textarea>
                                <label for="address" class="font-sm msg-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-center-btn-zone">
                    <div class="edit-btn-wrapper"><span class="operation-btn edit-btn">编辑资料</span></div>
                    <div class="save-btn-wrapper"><span class="operation-btn save-btn save-btn-can">保存</span></div>
                </div>
            </div>

        </div>
    </div>
    {include file="../include/side_float.html"}
    {include file="../include/footer.html"}
</body>
<script src="//cdn.66173.cn/niuguo/scripts/bootstrap3.3.6.min.js"></script>
{literal}
<script>
    var saveBtnTimeout;
    var $label_nickname = $("label[for=nickname]");
    var $label_birthday = $("label[for=birthday]");
    var $label_sex = $("label[for=sex]");
    var $label_address = $("label[for=address]");
    var loginAccount = $("#loginAccount").val(); // 登录账号
    var userBirthday = $("#userBirthday").val(); // 生日
    var regBirthDay = new RegExp(/^[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}$/); // 校验生日
    var regBirthDayWrong = new RegExp(/(^[0-9]{4}--$)|(^[0-9]{4}-[0-9]{1,2}-$)|(^[0-9]{4}--[0-9]{1,2}$)/);
    dateSelectsInit();
    // 输入时取消该提示
    $("body").on("input", ".common-input, input[name=sex]", function(e) {
        $(e.target).parents(".line").find(".msg-label").html("");
    });
    // 点击性别取消提示
    $("body").on("click", "input[name=sex]", function(e) {
        $(e.target).parents(".line").find(".msg-label").html("");
    });
    // 改变年月日取消提示
    $("body").on("change", ".date-select-zone select", function(e) {
        $(e.target).parents(".line").find(".msg-label").html("");
    });
    // 点击编辑资料
    $("body").on("click", ".edit-btn", function(e) {
        $(".user-center-form-main .current-block").hide().siblings().show();
        $(".user-center-btn-zone .edit-btn-wrapper").hide().siblings().show();
        $(".nickname-wrapper .common-input").focus();
    });
    // 点击保存个人资料
    $("body").on("click", ".save-btn-can", function(e) {
        var nickname = $("input[name=nickname]").val();
        var sex = $("input[name=sex]:checked").val();
        var address = $("textarea[name=address]").val();
        var birthday = $(".date-select-zone .year").val()+'-'+ $(".date-select-zone .month").val()+'-'+ $(".date-select-zone .day").val();
        var pass = true;
        if(!nickname || !regNickname.test(nickname)) {
            pass = false;
            $label_nickname.html(!nickname ? formMsgTip.nickname.required:formMsgTip.nickname.error);
        }
        if(!sex) {
            pass = false;
            $label_sex.html(!sex ? formMsgTip.sex.required:formMsgTip.sex.error);
        }
        if(!regAddress.test(address)) {
            pass = false;
            $label_address.html(formMsgTip.address.error);
        }
        if(!regBirthDay.test(birthday)) {
            if(birthday == '--') {
                birthday = '';
            }
            else {
                pass = false;
                $label_birthday.html("请将生日填写完整或不填");
            }
        } else {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1 < 10 ? '0' + (now.getMonth() + 1) : (now.getMonth() + 1);
            var day = now.getDate();
            console.log("birday:"+parseInt(birthday.replace(/-/g,"")));
            console.log("now:"+parseInt(year + month + day));
            if(parseInt(birthday.replace(/-/g,"")) > parseInt(year + month + day)) {
                pass = false;
                $label_birthday.html("生日超过当前日期，请正确填写");
            }
        }
        if(!pass) {
            return false;
        } else {
            btnTimeOutControl(".save-btn", "save-btn-can", saveBtnTimeout);
            var sendData = {
                mobile: loginAccount,
                nick_name: nickname,
                birthday: birthday,
                sex: sex,
                address: address
            };
//            console.log(sendData);
            $.ajax({
                url: "/account.php?act=do_user_info",
                type: "post",
                dataType: "json",
                data: sendData
            }).success(function(data) {
            // type: 1 昵称有问题，2 生日有问题 ，其他数字则为其他异常
            var type = data.type;
            var msg = data.msg;
            if(data.code == 1){
                window.location.reload();
            }
            if(type == 1) {
                $label_nickname.html(msg);
            } else if(type == 2) {
                $label_birthday.html(msg);
            } else {
                briefTipControl(msg);
            }
            })
        }
    });
    // 点击月份对应更改天数
    $(".date-select-zone").on("change", ".month", function(e) {
        var year = parseInt($(".date-select-zone .year").val());
        var month = parseInt($(e.target).val());
        if($.inArray(month, [1,3,5,7,8,10,12]) > -1){
            dateSelectControl(".date-select-zone .day", 1, 31, true);
        } else if (month == 2) {
            if(year % 4 == 0 && (year % 100 != 0 || year % 400 == 0)) {
                dateSelectControl(".date-select-zone .day", 1, 29, true);
            }
            else {
                dateSelectControl(".date-select-zone .day", 1, 28, true);
            }
        } else {
            dateSelectControl(".date-select-zone .day", 1, 30, true);
        }
    });
    // 点击年份对应更改天数
    $(".date-select-zone").on("change", ".year", function(e) {
        var year = parseInt($(".date-select-zone .year").val());
        if(year % 4 == 0 && (year % 100 != 0 || year % 400 == 0)) {
            dateSelectControl(".date-select-zone .day", 1, 29, true);
        }
        else {
            dateSelectControl(".date-select-zone .day", 1, 28, true);
        }
    });
    // 日期初始化
    function dateSelectsInit() {
        var curYear = (new Date()).getFullYear();
        var yearCon = '<option value="">请选择</option>';
        for(var i = curYear; i > 1949; i--) {
            yearCon += '<option value="' + i + '">' + i + '</option>';
        }
        $(".date-select-zone .year").html(yearCon);
        dateSelectControl(".date-select-zone .month", 1, 12, true);
        dateSelectControl(".date-select-zone .day", 1, 31, true);
        if(regBirthDay.test(userBirthday)) {
            var arr = userBirthday.split("-");
            $(".date-select-zone .year").val(arr[0]);
            $(".date-select-zone .month").val(arr[1]);
            $(".date-select-zone .day").val(arr[2]);
        }
    }
    function dateSelectControl(eleClass, start, end, hasDefault) {
        var con = hasDefault ? '<option value="">请选择</option>' : '';
        for(var i = start; i < end + 1; i++) {
            con += '<option value="' + (i < 10 ? '0'+ i : i) + '">' + (i < 10 ? '0'+ i : i) + '</option>';
        }
        $(eleClass).html(con);
    }
</script>
{/literal}

</html>