<div class="w1000">
    <div id="logo_search">
        <div id="logo">
            <a href="http://shouyou.kuyoo.com"></a>
            <!-- <div class="code"></div> -->
        </div>
        <div id="search">
            <form>
                <div class="input_txt">
                    <input type="text" autocomplete="off" placeholder="请输入汉字或拼音" id="keyword" class="keyword"/><input type="button" class="btn" value="搜索" id="btn_search">
                </div>
                <div class="search_keyword">
                    <dl>
                        <dt></dt>
                        {foreach from=$games item=game key=key}
                        {if $key < 8}
                        <dd><a href="/games/{$game.id}.html" class="color_red">{$game.game_name}</a></dd>
                        {/if}
                        {/foreach}
                    </dl>
                </div>
            </form>
        </div>
        <div id="keyword_box">
            <ul class="keyword-inner"> </ul>
        </div>
    </div>
</div>