<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>牛果游戏</title>
  <link rel="stylesheet" href="//cdn.66173.cn/93kk/css/reset.css">
  <link rel="stylesheet" href="//cdn.66173.cn/93kk/css/style.css">
</head>

<body>
  <div class="enter">
    <div class="enter-bg">
      <img src="//cdn.66173.cn/93kk/images/bg.png" alt="">
      <div class="btn">
        <button>
          <a href="index.html">
            <img src="//cdn.66173.cn/93kk/images/icon.png" alt=""> 触屏版（适用手机用户）</button>
          </a>
        <button>
          <a href="index.html">
            <img src="//cdn.66173.cn/93kk/images/icon.png" alt=""> 电脑版（适用手机用户）</button>
          </a>
        <button>
          <a href="index.html">
            <img src="//cdn.66173.cn/93kk/images/icon.png" alt=""> APP（适用手游用户）</button>
          </a>
      </div>
    </div>
    <div class="enter-logo">
      <img src="//cdn.66173.cn/93kk/images/logo.png" alt="">
    </div>
  </div>
</body>

</html>