<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>牛果游戏</title>
  <link rel="stylesheet" href="//cdn.66173.cn/93kk/css/reset.css">
  <link rel="stylesheet" href="//cdn.66173.cn/93kk/css/style.css">
</head>

<body>
  <div class="contact">
    <div class="c-tit">
      <em onclick="javascript: history.back(-1);"></em>
      <span>客服中心</span>
    </div>


    <!-- 图片到时候替换 -->
    <div class="c-info">
      <div>
        <p>客服QQ：56231288</p>
        <p>客服电话：0591-8866173</p>
      </div>
      <div class="btn">联系客服</div>
    </div>
    <p class="c-timer">----- 客服在线时间：8:20-23:30 -----</p>
    <div class="space">

    </div>
    <!-- 常见问题 -->
    <div class="c-ques">
      <p class="tit">常见问题</p>
      <div class="content">
        <p>Q1：如何进入牛果游戏？</p>
        <div>
          <p>1. 推荐移动设备下载牛果游戏APP，通过下载进入游戏</p>
          <p>2. 推荐移动设备下载牛果游戏APP，通过下载进入游戏，通过下载进入游戏，通过下载进入游戏。</p>
        </div>

        <p>Q2：如何进入牛果游戏？</p>
        <div>
          <p>1. 推荐移动设备下载牛果游戏APP，通过下载进入游戏</p>
          <p>2. 推荐移动设备下载牛果游戏APP，通过下载进入游戏，通过下载进入游戏，通过下载进入游戏。</p>
        </div>

        <p>Q3：如何进入牛果游戏？</p>
        <div>
          <p>1. 推荐移动设备下载牛果游戏APP，通过下载进入游戏</p>
          <p>2. 推荐移动设备下载牛果游戏APP，通过下载进入游戏，通过下载进入游戏，通过下载进入游戏。</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>