<title>18k玩</title>
<meta charset="UTF-8">
<!--<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<meta name="description" content="18k玩游戏是一个致力于提供优质手游的应用平台。实时同步市场热门手游,与玩家一起发现精品游戏,享受真福利与真特权，只为带给您高品质的游戏体验。"/>
<meta name="keywords" content="18k玩游戏官网,手游下载,热门手游,官方正版手游,安卓免费手游,手游免费下载,好玩的手游下载"/>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no"/>
<link rel="shortcut icon" href="//www.18kwan.com/favicon.ico">
<script>
    if(judgeIELower()) {
        alert("您使用的浏览器版本过低，为了您的浏览体验，请使用360浏览器或Chrome浏览器");
    }
    function judgeIELower() {
        var b_appName = navigator.appName;
        var b_version = navigator.appVersion;
        var reg = new RegExp(/.+MSIE\s+([5678])\.0;.+/);
        reg.test(b_version);
        return b_appName == "Microsoft Internet Explorer" && reg.test(b_version);
    }
    function judgeIE() {
        var b_appName = navigator.appName;
        return b_appName == "Microsoft Internet Explorer";
    }
</script>