<!--<link rel="shortcut icon" href="http://android.data.yd.cc//static/images/favicon.png">-->
<!--<link href="http://android.data.yd.cc//static/js/plugins/morris/morris.css" rel="stylesheet">-->
<!--<link href="http://android.data.yd.cc//static/js/plugins/bootstrap-table/dist/bootstrap-table.min.css"  rel="stylesheet"/>-->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/core.css?t=11" rel="stylesheet" type="text/css" />
<link href="assets/css/components.css" rel="stylesheet" type="text/css" />
<link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!--<link href="/static/js/plugins/footable/css/footable.core.css" rel="stylesheet">-->
<!--<link href="/static/js/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">-->

<script src="assets/js/modernizr.min.js"></script>
