<div class="mask">
    <div class="pop-wrapper">
        <div class="background-img pop-bg pop-bg-large" style="background-image: url(http://cdn.66173.cn/mobile/v2/css/img/dsgl/pop_bg_large.png)">
            <a class="close-pop"></a>
            <div class="pop-title">我的礼包</div>
            <div class="con">
                <div class="has-my-gifts"><ul class="my-gifts-list"></ul></div>
                <div class="rules-tip">{str_replace("\n","<br/>",{$act_info['activity_rules']})}</div>
            </div>
        </div>
        <div class="background-img pop-bg pop-bg-small" style="background-image: url(http://cdn.66173.cn/mobile/v2/css/img/dsgl/pop_bg_small.png)">
            <a class="close-pop"></a>
            <div class="pop-title">我的礼包</div>
            <div class="con">
                <div class="no-my-gifts">
                    <img src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/no_sad.png" class="no-sad-img"/>
                    <div class="msg">您当前还没有礼包哦</div>
                </div>
                <div class="after-preorder-pop">
                    <div class="msg-title"></div>
                    <div class="msg-con"></div>
                    <div class="btn-zone">
                        <img class="bt-btn tip-bag-btn tip-bag-btn-can" src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/tip_my_bag.png"/>
                        <img class="bt-btn tip-invite-btn" src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/tip_invite_btn.png"/>
                    </div>
                </div>
                <div class="has-prize-pop">
                    <div class="msg-title"></div>
                    <div class="msg-con"></div>
                    <div class="btn-zone">
                        <img class="bt-btn tip-bag-btn tip-bag-btn-can" src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/tip_my_bag.png"/>
                        <img class="bt-btn tip-share-btn" src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/tip_share_btn.png"/>
                    </div>
                </div>
                <div class="no-prize-pop">
                    <img src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/no_sad.png" class="no-sad-img"/>
                    <div class="msg">很遗憾未抽中奖品，赶紧分享赢抽奖机会吧~</div>
                    <div class="btn-zone">
                        <img class="bt-btn tip-share-btn" src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/tip_share_btn.png"/>
                    </div>
                </div>
                <div class="to-login-pop">
                    <div class="pop-form-wrap">
                        <div class="pop-form-line">
                            <label>手机号&nbsp;:</label>
                            <input type="tel" class="tel-input" id='mobile' placeholder="请输入您的手机号"/>
                        </div>
                        <div class="pop-form-line">
                            <label>验证码&nbsp;:</label>
                            <input type="number" class="captcha-input" placeholder="请输入收到的验证码"/>
                            <span class="captcha-tip to-get-captcha">获取验证码</span>
                        </div>
                        <div class="btn-zone">
                            <img class="bt-btn go-login go-login-can" src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/tip_login.png"/>
                        </div>
                    </div>
                </div>
                <div class="tel-preorder-pop">
                    <div class="pop-form-wrap">
                        <div class="pop-form-line">
                            <label>手机号&nbsp;:</label>
                            <input type="tel" class="tel-input" placeholder="请输入您的手机号"/>
                        </div>
                        <div class="pop-form-line">
                            <label>邀请码&nbsp;:</label>
                            <input type="text" class="invite-code-input" placeholder="选填"/>
                        </div>
                        <div class="btn-zone">
                            <img class="bt-btn go-preorder go-preorder-can" src="http://cdn.66173.cn/mobile/v2/css/img/dsgl/tip_preorder.png" data-synclogin="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-img share-collect-zone" style="background-image: url(http://cdn.66173.cn/mobile/v2/css/img/dsgl/share_pop_bg.png)">
            <div class="share-choose-zone">

            </div>
            <div class="cancel-share-btn"></div>
        </div>
    </div>
</div>
<div class="wx-share-mask">
    <div class="wx-share-arrow"><img src="http://cdn.66173.cn/mobile/v2/css/img/wx_share_arrow.png" alt=""></div>
    <div class="wx-share-text"><img src="http://cdn.66173.cn/mobile/v2/css/img/wx_share_text.png" alt=""></div>
</div>