<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>{$game.game_name}首冲号续充</title>
    <meta name="keywords" content="{$game.game_name}充值,{$game.game_name}首冲号续充" />
    <meta name="description" content="找{$game.game_name}首冲号续充吗？很多玩家都在66173交易坦克风云首充号，只需官网原价的2~5折。欢迎您到66173，66173是知名的手游交易平台。" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="http://static.66173.cn/shop/m/css/common.css?t={rand(1,10000)}" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://static.66173.cn/shop/m/css/pay.css?t={rand(1,10000)}" media="screen" />
</head>
<body>
{include file="{$TPL}/include/shop_header.html" title="{$shop.s_name}"}
<section class="pay-game clearfix">
    <img src="http://static.66173.cn/{$shop_game.game_icon}" alt="{$shop_game.game_name}" />
    <h2 class="pay-game-name">{$shop_game.game_name}</h2>
</section>
<!-- Str交易类型 -->
<section class="clearfix">
    <header class="pay-tit clearfix">
        <h3 class="pay-tit-h">商品类型:</h3>
        <span class="pay-type-txt">首充号续充</span>
    </header>
</section>
<!-- End交易类型 -->

{if !$characters and !$order}
    {include file="{$TPL}/include/recharge_no_user.html"}
{elseif $characters and !$order}
    <section class="mt-10 clearfix">
        <header class="pay-tit clearfix"><h3 class="pay-tit-h user">账号选择：</h3></header>
        <ul class="user-list gver-list clearfix">
            {foreach from=$characters item=u key=k}
            <li>
                <!-- <a href="/game{$game.id}/recharge?game_user={$u.id}"> -->
                <a href="/{$shop.s_id}-{$shop_game.id}-{$u.id}-recharge.html">
                    <span><label>服务器3：</label>{$u.serv_name}</span>
                    <span><label>角色名：</label>{$u.role_name}</span><em></em>
                </a>
            </li>
            {/foreach}
        </ul>
    </section>
    <section class="none-box clearfix">
    <a class="xc-btn" href="/check.html" />为其他账号进行续充</a>
    </section>
{elseif $order and $status eq 'not_this_shop_sale'}
<section class="none-box clearfix">
    <i class="g-logo"></i>
    <span>您的[{$game.game_name}首充号]并非在本店购买的哦~~<br/>你可以选择以下操作：</span>
    <a class="xc-btn" href="/{$order.shop_id}-{$shop_game.game_id}-{$order.id}-recharge.html"/>原店铺续充</a>
    <a class="xc-btn" href="http://m.66173.cn/game{$game.id}/renew"/>66173续充</a>
</section>
{elseif $order and $status eq 'order_not_found'}
<section class="none-box clearfix">
    <i class="g-logo"></i>
    <span>您的{$game.game_name}首充号不存在哦~~<br/></span>
</section>
{elseif $order}
    <!-- Str商品选择 -->
    <section class="com-choose clearfix">
        <header class="com-choose-h clearfix">
            <h3 class="pay-tit-h">商品选择：</h3>
            <span class="com-choose-s" id="slt-product">{$product.title}<em>点击更换</em></span>
        </header>
        {if $sub_title}
        <ul class="com-choose-list clearfix">
            <li><a data-txt="{$sub_title[0]}">{$sub_title[1]}</a></li>
        </ul>
        {/if}
    </section>
    <!-- End商品选择 -->

    <form action="/order-review.html" method="post" name="payform">
    <!-- Str渠道选择 -->
    <section class="mt-10 clearfix">
        <header class="pay-tit clearfix"><h3 class="pay-tit-h">渠道选择：</h3></header>

        {if $ch.platform eq 1}
        <h5 class="android">安卓版</h5>
        <ul class="gver-list clearfix">
            <li rel="{$ch.priority_discount}">
                <a href="#;" rel="{$ch.id}" class="on">
                    <span><img src="http://static.66173.cn/{$ch.icon}" /><label>{$ch.name}</label></span>
                    <em>{$ch.priority_discount}折</em>
                </a>
            </li>
        </ul>
        {/if}

        {if $ch.ch_platform eq 2}
        <h5 class="ios">苹果iOS版</h5>
        <ul class="gver-list clearfix">
            <li rel="{$ch.priority_discount}">
                <a href="#;" rel="{$ch.id}">
                    <span><img src="http://static.66173.cn/{$ch.icon}" /><label>{$ch.name}</label></span>
                    <em>{$ch.priority_discount}折</em>
                </a>
            </li>
        </ul>
        {/if}

        <div class="pay-money clearfix"><span>折扣价：<em id="dprice">￥{$product.dis_price}</em></span><span class="fr"><del>原价：￥{$product.price}</del></span> </div>
    </section>
    <!-- End渠道选择 -->

    <!-- Str填写账户信息 -->
    <section class="clearfix">
        <header class="pay-tit clearfix"><h3 class="pay-tit-h">填写账户信息</h3></header>
        <div class="card-info-box">
            <label><i>*</i>游戏区服</label>
            <input type="text" readonly value="{$order.serv_name}" name="serv_name" class="card-input" placeholder="游戏区服" />
        </div>
        <div class="card-info-box">
            <label><i>*</i>续充账号</label>
            <input type="text" readonly value="{$order.game_user}" name="game_user" class="card-input" placeholder="续充账号" />
        </div>
        <div class="card-info-box">
            <label><i>*</i>角色名：</label>
            <input name="role_name" value="{$order.role_name}" type="text" placeholder="请输入需要充值的角色名" class="card-input" />
        </div>
        <div class="card-info-box">
            <label><i>*</i>登入密码</label>
            <input type="text" name="game_pwd" class="card-input" placeholder="请输入登入密码" />
            <a class="card-close-1"></a>
        </div>
        <div class="card-info-box">
            <label><i></i>备注：</label>
            <input type="text" name="remarks" class="card-input" placeholder="请输入您需要给客服的留言" />
            <a class="card-close-1"></a>
        </div>
    </section>
    <!-- End填写账户信息 -->

    <!-- Str联系方式 -->
    <section class="mt-10 clearfix">
        <header class="pay-tit clearfix">
            <h3 class="pay-tit-h">联系方式</h3>
        </header>
        <div class="card-info-box clearfix">
            <label><i>*</i>手机：</label>
            <input name="tel" type="text" placeholder="{if !$smarty.session.buy_mobile}请输入联系手机{/if}" class="card-input" value="{$smarty.session.buy_mobile}" />
            <a class="card-close-1"></a>
        </div>
        <div class="card-info-box clearfix">
            <label><i>*</i>QQ：</label>
            <input name="qq" type="number" class="card-input" value="{$smarty.session.buy_qq}"/>
            <a class="card-close-1"></a>
        </div>
        <a class="b-btn" href="#;" onclick="go_pay();">提交订单</a>
    </section>
    <!-- End联系方式 -->

    <input type="hidden" name="channel_id" value="{$order.game_channel}">
    <input type="hidden" name="service_id" value="1">
    <input type="hidden" name="price" value="{$product.price}" />
    <input type="hidden" name="stprice" value="{$product.price}" />
    <input type="hidden" name="pagehash" value="{$pagehash}" />
    <input type="hidden" name="game_id" value="{$shop_game.id}" />
    <input type="hidden" name="shop_id" value="{$shop.s_id}" />
    <input type="hidden" name="is_login" value="{$is_login}" />
    <input type="hidden" name="id" value="{$product.id}" />
    <input type="hidden" name="is_rand_user" value="0" />
    <input type="hidden" name="serv_id" value="{$order.serv_id}" />
    <input type="hidden" name="buy_type" value="2" />
    <input type="hidden" name="do" value="recharge" />
    <input type="hidden" name="num" value="1" />
    <input type="hidden" name="is_agent" value="{$smarty.session.is_agent}" />
    <input type="hidden" name="role_level" value="0" />
    <input type="hidden" name="order" value="{$order.id}" />
    <input type="hidden" name="user_id" value="{$smarty.session.user_id}" />

    <input type="hidden" name="serv_name" value="{$order.serv_name}" />
    <input type="hidden" name="channel_name" value="{$ch.name}">
    <input type="hidden" name="shop_name" value="{$shop.s_name}" />
    <input type="hidden" name="product_name" value="{$product.title}" />
    <input type="hidden" name="game_name" value="{$shop_game.game_name}">
{/if}

{include file="{$TPL}/include/footer.html"}
<div class="side-bg" id="servs"></div>
<div class="side-bg" id="products"></div>
<div class="side-bg" id="login"></div>
{if !$smarty.session.buy_mobile}
{literal}
<script>
    $(document).ready(function(){
        $("input").on("click", function (e) {
            $(this).blur();
            login_mask();
        });
    })
    function login_mask(){
        var $url = "/index.php?act=ajax_login";
        if($("input[name='user_id']").val()){
            return true;
        }
        $('body,html').animate({scrollTop:0},0);
        $("#login").load($url,function(responseTxt,statusTxt,xhr){
            if(statusTxt=="error"){
                $("#login").html("<h5>加载数据失败</h5>");
            }
        }).css("display","block");
        $("#login").find("input[name='mobile']").focus();
        return false;
    }
</script>
{/literal}
{/if}
<script src="http://static.66173.cn/shop/m/scripts/buy_static.js"></script>
<script src="http://static.66173.cn/shop/m/css/side.css?t=3191"></script>
</body>
</html>