<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
	<title>牛牛小助手 - 66173</title>
	<meta name="keywords" content="66173" />
	<meta name="description" content="66173提供首充号、代充、装备、金币的购买。玩家都在66173进行的游戏交易。66173是知名的手游交易平台。" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="stylesheet" type="text/css" href="http://static.66173.cn/shop/m/css/common.css?t={rand(1,10000)}" media="screen" />
	<link rel="stylesheet" type="text/css" href="http://static.66173.cn/shop/m/css/pay.css?t={rand(1,10000)}" media="screen" />
</head>
<body>
	{include file="{$TPL}/include/shop_header.html" title="牛牛小助手"}
	<section class="none-box clearfix">
	    <i class="g-logo"></i>
	    <span>{$err}<br/></span>
	    <a class="xc-btn" href="{$url}"/>点我，给你一条明路...</a>
	</section>
	{include file="{$TPL}/include/footer.html"}
</body>
</html>