<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>在线咨询</title>
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="http://static.66173.cn/shop/m/css/common.css?t={rand(1,10000)}" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://static.66173.cn/shop/m/css/service.css?t={rand(1,10000)}" media="screen" />
</head>
<body>
{include file="{$TPL}/include/shop_header.html" title="在线咨询"}
{if $shop_id}
    <div class="welcome">{$data.shop.s_name} - 客服部</div>
    {if $data.shop.s_tel}
    <div class="tel">
        <p>{$data.shop.s_tel}</p>
        <span>注意：客服热线电话均无外拨功能</span>
    </div>
    {/if}
    {if $data.shop.s_qq|@is_array}
    <div class="qq">
        {foreach from=$data.shop.s_qq item=s_qq}
        {if $s_qq[1]|@is_numeric}
        <a href="http://wpa.qq.com/msgrd?v=3&uin={$s_qq[1]}&site=qq&menu=yes" target="_blank" rel="noopener noreferrer">{$s_qq[1]}<span>客服：{$s_qq[0]}</span></a>
        {/if}
        {/foreach}
    </div>
    {/if}
    {if !$data.shop.s_tel and !$data['shop']['s_qq'][0]}
    <div class="tel">
        <span>本店客服部正在筹备中...</span>
    </div>
    <div class="qq">
        <a href="http://shop.66173.cn/service.html" target="_blank" rel="noopener noreferrer"><span>点此进入66173客服部</span></a>
    </div>
    {/if}
{else}
    <div class="welcome">66173 - 客服部</div>
    <div class="tel">
        <p>{$data.master.tel}</p>
        <span>注意：客服热线电话均无外拨功能</span>
    </div>
    <div class="qq">
        {foreach from=$data.master.qq item=s}
        <a href="http://wpa.qq.com/msgrd?v=3&uin={$s.qq}&site=qq&menu=yes" target="_blank" rel="noopener noreferrer">{$s.qq}<span>客服：{$s.usr_name}</span></a>
        {/foreach}
    </div>
{/if}
{include file="{$TPL}/include/footer.html"}
</body>
</html>
