<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no,viewport-fit=cover" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title></title>
    <link rel="stylesheet" href="//cdn.66173.cn/mobile/moyu/css/common.css">
    <link rel="stylesheet" href="//cdn.66173.cn/mobile/moyu/css/manage.css">
    <script src="//cdn.66173.cn/mobile/moyu/js/setFontSize.min.js  " type="text/javascript"></script>
</head>

<body>
    <div class="ui-page-content">
        <div class="ui-header">
            <span class="ui-return-btn"></span>
            <h1>提现设置成功</h1>
            <div class="header-menu">
                <div class="header-menu-btn"></div>
                <nav class="header-menu-nav">
                    <ul>
                        <li><a href="/moyu"><i class="home"></i>首页</a></li>
                        <li><a href="/accountCenter"><i class="mine"></i>我的</a></li>
                        <li><a href="/moyu_product.php?act=publish_product_view"><i class="sell"></i>我要卖</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="withdraw-set-success">
            <img src="//cdn.66173.cn/mobile/moyu/images/success_icon.png" alt="">
            <p>提现账户设置成功</p>
            <div class="mod-text-tip">
                <p>提现账户类型：支付宝</p>
                <p>当前绑定账户：{$account_info['pay_account']}</p>
                <p>提现账户姓名：{$account_info['real_name']}</p>
            </div>
            <div class="success-bottom">
                <a href="/accountCenter">个人中心</a>
                <a href="/user_certification.php?act=withdraw_view">去提现</a>
            </div>
        </div>
    </div>
    <script src="//cdn.66173.cn/mobile/moyu/js/jquery.min.js" type="text/javascript"></script>
    <script src="//cdn.66173.cn/mobile/moyu/js/common.js" type="text/javascript"></script>
</body>

</html>