<!DOCTYPE html>
<html lang="en">
    <head>
        <title>牛果游戏移动客户端下载丨new游戏 new快乐</title>
        <meta name="description" content="享受纯粹的游戏乐趣"/>
        <meta name="keywords" content="牛果游戏,乐趣">
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdn.66173.cn/mobile/css/app_promote.css?t={$smarty.now}">
        <script type="application/javascript">
            var remSize;
            var resizeEvt = "orientationchange" in window ? "orientationchange" : "resize";
            function initHTMLSize() {
                var wWidth = document.body.clientWidth || document.documentElement.clientWidth;
                remSize = wWidth / 10 > 40 ? 40 : wWidth / 10;
                document.getElementsByTagName('html')[0].style.fontSize = remSize + 'px';
            }
            document.addEventListener("DOMContentLoaded",function () {
                initHTMLSize();
            }, false);
            window.addEventListener(resizeEvt,function() {
                initHTMLSize();
            }, false);
        </script>
    </head>
    <body>
        <div class="brief-tip-pop"><div class="con"></div></div>
        <div style="display:none;"><img class="share-img" src="http://cdn.66173.cn/mobile/css/img/app_promote/ngyx_icon.png" alt=""/></div>
        <!--图文垂直布局-->
        <div class="p-v">
            <section class="background-img sec sec1" style="background-image: url(//cdn.66173.cn/mobile/css/img/app_promote/mask_apps_h5.png)">
                <div class="line line1">牛果APP</div>
                <div class="line line2">New游戏 New快乐</div>
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/mobile_h5.png" alt=""></div>
                <div class="link-zone"><a class="link1"><img class="icon-img" src="//cdn.66173.cn/mobile/css/img/app_promote/icon_download_black.png"/><span class="text">安卓端下载</span></a></div>
            </section>
            <section class="sec sec2">
                <div class="desc-zone">
                    <div class="line line1">极致追求</div>
                    <div class="line line2">汇聚海量精品游戏</div>
                    <div class="line line3">经过精挑细选，让您第一时间玩到最新游戏</div>
                </div>
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/apps_h5.png" alt=""></div>
            </section>
            <section class="sec sec3">
                <div class="desc-zone">
                    <div class="line line1">分享精彩</div>
                    <div class="line line2">每日您都能发现新快乐</div>
                    <div class="line line3">最深度的游戏测评及前沿资讯持续更新</div>
                </div>
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/share_h5.png" alt=""></div>
            </section>
            <section class="sec sec4">
                <div class="desc-zone">
                    <div class="line line1">福利畅领</div>
                    <div class="line line2">所有礼品便捷领取</div>
                    <div class="line line3">都是给玩家的回馈不会额外收取任何费用</div>
                </div>
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/welfare_h5.png" alt=""></div>
            </section>
            <section class="sec sec5">
                <div class="desc-zone">
                    <div class="line line1">安全可靠</div>
                    <div class="line line2">保证了每一款游戏都来自于官方正版</div>
                    <div class="line line3">为您提供一个安全放心的游戏世界</div>
                </div>
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/safe_h5.png" alt=""></div>
            </section>
            <section class="sec sec6">
                <div class="desc-zone">
                    <div class="line line1">享受纯粹的游戏乐趣</div>
                    <div class="line line2">加入我们一起发现新游戏、新快乐...</div>
                </div>
                <div class="img-zone"><a class="link1"><img src="//cdn.66173.cn/mobile/css/img/app_promote/btn_download.png" alt=""></a></div>
            </section>
        </div>
        <!--图文横向布局-->
        <div class="l-v">
            <section class="background-img sec sec1" style="background-image: url(//cdn.66173.cn/mobile/css/img/app_promote/mask_apps_pc.png)">
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/mobile_h5.png" alt=""></div>
                <div class="right">
                    <div class="desc-zone">
                        <div class="line line1">牛果APP</div>
                        <div class="line line2">New游戏 New快乐</div>
                        <div class="link-zone"><a class="link1"><img class="icon-img" src="//cdn.66173.cn/mobile/css/img/app_promote/icon_download_black.png"/><span class="text">安卓端下载</span></a></div>
                    </div>
                    <div class="scan-zone">
                        <div id="qrcode" class="qr-img"></div>
                        <div class="text">扫码下载</div>
                    </div>
                </div>
            </section>
            <section class="sec sec2">
                <div class="desc-zone">
                    <div class="line line1">极致追求</div>
                    <div class="line line2">汇聚海量精品游戏</div>
                    <div class="line line3">经过精挑细选，让您第一时间玩到最新游戏</div>
                </div>
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/apps_pc.png" alt=""></div>
            </section>
            <section class="sec sec3">
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/share_pc.png" alt=""></div>
                <div class="desc-zone">
                    <div class="line line1">分享精彩</div>
                    <div class="line line2">每日您都能发现新快乐</div>
                    <div class="line line3">最深度的游戏测评及前沿资讯持续更新</div>
                </div>
            </section>
            <section class="sec sec4">
                <div class="desc-zone">
                    <div class="line line1">福利畅领</div>
                    <div class="line line2">所有礼品便捷领取</div>
                    <div class="line line3">都是给玩家的回馈不会额外收取任何费用</div>
                </div>
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/welfare_pc.png" alt=""></div>
            </section>
            <section class="sec sec5">
                <div class="img-zone"><img src="//cdn.66173.cn/mobile/css/img/app_promote/safe_pc.png" alt=""></div>
                <div class="desc-zone">
                    <div class="line line1">安全可靠</div>
                    <div class="line line2">保证了每一款游戏都来自于官方正版</div>
                    <div class="line line3">为您提供一个安全放心的游戏世界</div>
                </div>
            </section>
            <section class="sec sec6">
                <div class="desc-zone">
                    <div class="line line1">享受纯粹的游戏乐趣</div>
                    <div class="line line2">加入我们一起发现新游戏、新快乐...</div>
                </div>
                <div class="link-zone">
                    <a class="link link1"><img class="icon-img" src="//cdn.66173.cn/mobile/css/img/app_promote/icon_download_white.png"/><span class="text">下载安卓版APP</span></a>
                    <!--<span class="line link2"><span class="text">扫码下载</span><div id="qrcode2" class="qr-img"></div></span>-->
                    <a class="link link2"><img class="icon-img" src="//cdn.66173.cn/mobile/css/img/app_promote/icon_scan.png"/><span class="text">扫码下载</span></a>
                    <div id="qrcode2" class="qr-img"></div>
                </div>
            </section>
        </div>
        <input type="hidden" value="{$noncestr}" id="noncestr"/>
        <input type="hidden" value="{$timestamp}" id="timestamp"/>
        <input type="hidden" value="{$signature}" id="signature" />
    </body>
    {literal}
    <script>
        var commonM = {
            isFunction: function(a) {
                return typeof a === "function" ? true : false;
            },
            loadScript: function (url, id) {
                var hm = document.createElement("script");
                id && (hm.id = id);
                hm.src = url;
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
                return hm;
            },
            qrLoad: function () {
                var c = this;
                try {
                    var hm = c.loadScript("//cdn.66173.cn/mobile/v2/scripts/qrcode.min.js", "qrcodeJs");
                    hm.onload = hm.onreadystatechange = function () {
                        if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                            hm.onload = hm.onreadystatechange = null;
                            if ($("#qrcode").length > 0) {
                                var qrcode = new QRCode(document.getElementById("qrcode"), {
                                    width: 80,
                                    height: 80,
                                    correctLevel: QRCode.CorrectLevel.L
                                });
                                qrcode.makeCode(window.location.href || '');
                            }
                            if ($("#qrcode2").length > 0) {
                                var qrcode2 = new QRCode(document.getElementById("qrcode2"), {
                                    width: 80,
                                    height: 80,
                                    correctLevel: QRCode.CorrectLevel.L
                                });
                                qrcode2.makeCode(window.location.href || '');
                            }
                        }
                    }
                } catch (e) {
                    console.log(e);
                }
            },
            // 判断是否苹果移动端
            isMobileIOS: function() {
                var isIOS =(/iPhone|iPod|iPad/i).test(navigator.userAgent);
                return isIOS ? true : false;
            },
            // 判断是否在微信内置浏览器中打开
            isWeixinBrowser: function(){
                return (/MicroMessenger/i).test(window.navigator.userAgent);
            },
            // 判断是否可走app自带分享
            shareSelf: function() {
                var ua = navigator.userAgent;
                var isWX = ua.match(/MicroMessenger\/([\d\.]+)/), isQQ = ua.match(/QQ\/([\d\.]+)/), isQZ = ua.indexOf("Qzone/") !== -1;
                if(isWX || isQQ || isQZ) {
                    return true;
                } else {
                    console.log('not in weixin or qq or qq zone');
                }
            },
            // 微信QQ分享加载
            shareSelfLoad: function(share_title, share_desc, share_img, share_link, callback) {
                var c = this;
                if(c.shareSelf()) {
                    try {
                        var hm = c.loadScript("//cdn.66173.cn/mobile/v2/scripts/share_tenxun_co.js?t=3", "shareTengxunJs");
                        hm.onload = hm.onreadystatechange = function () {
                            if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                                hm.onload = hm.onreadystatechange = null;
                                c.shareSelfConfig(share_title, share_desc, share_img, share_link, callback);
                            }
                        }
                    } catch(e) {
                        console.log("微信/QQ/QQ空间分享配置失败\n"+e);
                    }
                }
            },
            // 微信QQ分享配置
            shareSelfConfig: function(share_title, share_desc, share_img, share_link, callback) {
                var noncestr = $("#noncestr").val();
                var timestamp = $("#timestamp").val();
                var signature = $("#signature").val();
                var WXconfig = {
                    swapTitleInWX: true,
                    appId: 'wxbaed68c7f2f3a62c',
                    timestamp: timestamp,
                    nonceStr: noncestr,
                    signature: signature,
                    debug: false
                };
                var shareConfig = {
                    title: share_title,
                    summary: share_desc,
                    pic: share_img,
                    url: share_link,
                    WXconfig: WXconfig
                };
                if(commonM.isFunction(callback)) {
                    shareConfig.callback = callback;
                }
                window.setShareInfo && setShareInfo(shareConfig);
            }
        };
        var commonS = {
            // 简单提示控制
            tip: function (text) {
                $(".brief-tip-pop .con").html(text);
                $(".brief-tip-pop").fadeIn(500).delay(1000).fadeOut(500);
            }
        }
    </script>

    <script>
        var appLink = "http://imtt.dd.qq.com/16891/A9ACD8808B63B7E2370C36A63572C427.apk?fsname=com.niuniu.market_3.0.0.2_4.apk&csr=1bbd";
        commonM.qrLoad();
        $(".sec1 .link1, .sec6 .link1").attr("href",appLink);
        $("body").on("click",".sec1 .link1, .sec6 .link1", function(e) {
            if(commonM.isMobileIOS()) {
                e.preventDefault();
                commonS.tip("暂无苹果版app,此为安卓版~")
            }
        });
        $(window).load(function() {
            commonM.shareSelfLoad($("title").html(), $("meta[name=description]").attr("content"), $(".share-img").attr("src"), window.location.href);
        });
    </script>
    {/literal}
</html>