<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.66173.cn/mobile/css/cqll.css">
    <script src="http://cdn.66173.cn/www/js/jquery-1.8.3.min.js"></script>
    <title>无兄弟 不传奇</title>
</head>
<body class="home-page">
    <img src="//cdn.66173.cn/mobile/css/img/cqll/red/top.jpg" class="img-top">
    <div class="img-main">
        <img src="//cdn.66173.cn/mobile/css/img/cqll/red/bg_01.jpg" class="bg-01">
        <img src="//cdn.66173.cn/mobile/css/img/cqll/red/bg_02.gif" class="bg-02">
        <img src="//cdn.66173.cn/mobile/css/img/cqll/red/bg_03.jpg" class="bg-03">
    </div>
<div class="footer">
    广告仅供参考，请以游戏为准
</div>
</body>
</html>