<!-- 首充号续充 -->
<div class="game_recharge">
	<!-- 标题 -->
	<div class="title">[{$gameinfo.game_name}]</div>
	<div class="color_red">购买即可获得{if $domain_name eq 1}66173{else if $domain_name eq 2}u2590{/if}送出的专属礼包</div>
	{include file="product/buy_type.html"}
	<div class="color_red fontsize_16">【首充号续充】就是对您在{if $domain_name eq 1}66173{else if $domain_name eq 2}u2590{/if}购买的首充号进行后续充值，折扣约为6折左右。<br/>
	</div>

	<!-- 首充号验证 -->
		<ul class="game_form" style="padding-bottom:0px;">
			<li style="padding-bottom:0px; padding-left:66px; ">
				<label style="text-align:left;"><span class="color_red">*</span>帐号名：</label>
				<input type="text" class="txt" placeholder="请输入帐号名" style="width:260px;" value="{$firstpay.game_user}"/>
				<input type="button" class="btn2" value="验证" id='do_check'/>
			</li>
			<li class="color_red" style="padding-bottom:0px;" id='baktip'>只能验证您在{if $domain_name eq 1}66173{else if $domain_name eq 2}u2590{/if}购买的首充号</li>
		</ul>


	<!-- 首充号验证 - 失败 -->
	<div id="firstpay_check_wrong">
		<div class="mt_20" style="padding-left:70px;">
			<a href="/buy/{$gameinfo.id}-character.html"><input type="button" class="btn_css1" value="购买首充号"></a>　
			<a href="/buy{$gameinfo.id}/3"><input type="button" class="btn_css3" value="为其他帐号代充"></a>
		</div>
	</div>


	<!-- 首充号验证 - 成功-->
	<div id="firstpay_check_right">

		<!-- 选中后的信息表单 -->
		<ul class="game_charge">
			<li class="maxrow">商品选择：*
				<select class="select" name="product_id" id="choose_product">
					{if $products neq ""}
					<option value="">请选择商品</option>
					{foreach from=$products item=product}
					<option value="{$product.id}">{$product.title}</option>
					{/foreach}
					{else}
					<option value="">暂无可选商品</option>
					{/if}
				</select>
			</li>
			<li class="maxrow" id="discount_price"></li>
		</ul>

		<!-- 填写账号信息 -->
		<div class="title_sub">
			<strong class="name">填写帐号信息</strong>
		</div>
		<ul class="game_form">
			<li>
				<label>
					<span class="color_red">*</span>区服：
				</label>
				<input type="text" class="txt" id="serv_id" disabled>
				<input type="hidden" class="txt" name="serv_id">
			</li>
			<li>
				<label><span class="color_red">*</span>角色名：</label>
				<input type="text" class="txt" name="role_name" placeholder="请输入角色名">
			</li>
			<li>
				<label><span class="color_red">*</span>续充帐号：</label>
				<input type="text" class="txt" id="game_user" disabled>
				<input type="hidden" name="channel_id" value="{$firstpay.channel_id}">
			</li>
			<li>
				<label><span class="color_red">*</span>密码：</label>
				<input type="text" class="txt" placeholder="请输入密码" name="game_pwd">
			</li>
		</ul>

		<!-- 联系方式 -->
		<div class="title_sub">
			<strong class="name">联系方式</strong>
		</div>
		<ul class="game_form">
			<li><label><span class="color_red">*</span>手机号码：</label><input type="text" class="txt" placeholder="请输入手机号码" name="tel" value="{if $smarty.session.buy_mobile neq ''}{$smarty.session.buy_mobile}{/if}"></li>
			<li><label><span class="color_red">*</span>QQ：</label><input type="text" class="txt" placeholder="请输入QQ号" name="qq" value="{$smarty.session.buy_qq}"></li>
			<li><a class="btn" id="recharge">立即购买</a></li>
		</ul>

		<input type="hidden" name="game_user">
		<input type="hidden" name="price" value="0" id="price"/>
		<input type="hidden" name="do" value="recharge" />
	</div>

</div>