<!doctype html>
<html lang="en">
<head>
    <title>忘记密码</title>
    {include file="../include/head.html"}
    <link href="http://cdn.66173.cn/niuguo/css/bootstrap3.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.66173.cn/niuguo/css/common.css?t={$smarty.now}">
    <link rel="stylesheet" href="http://cdn.66173.cn/niuguo/css/account.css?t={$smarty.now}">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body class="footer-fix-control-page password-forget-page">
{include file="../include/header.html"}

<div class="bg-white with-top-user-nav-mg container pd0 password-forget-box">
    <div class="common-box-top top">
        <div class="font-lg title">忘记密码</div>
    </div>
    <div class="password-forget-main">
        <div class="step-wrapper cur1">
            <div class="font-md step step1"><span class="text">1.验证手机</span><span class="end-icon"></span></div>
            <div class="font-md step step2"><span class="text">2.设置新密码</span><span class="end-icon"></span></div>
            <div class="font-md step step3"><span class="text">3.修改完成</span></div>
        </div>
        <div class="password-forget-form">
            <div class="step step1">
                <div class="line">
                    <div class="input-wrapper telephone-wrapper">
                        <label class="font-lg common-input-label">手机号码：</label>
                        <input type="text" class="font-md common-input"  id="telephone" name="telephone" placeholder="请输入您的手机号码"/>
                        <span class="captcha-tip  to-get-captcha">发送验证码</span>
                    </div>
                    <label for="telephone" class="font-sm msg-label"></label>
                </div>
                <div class="line ">
                    <div class="input-wrapper telcaptcha-wrapper">
                        <label class="font-lg common-input-label">验证码：</label>
                        <input type="text" class="font-md common-input" id="telcaptcha" name="telcaptcha" placeholder="请输入收到的验证码"/>
                    </div>
                    <label for="telcaptcha" class="font-sm msg-label"></label>
                </div>
                <div class="font-lg common-account-step-btn-zone">
                    <a class="step-btn link-login" href="account.php?act=login">返回登录</a>
                    <span class="step-btn next-step-btn step1-btn step1-btn-can">下一步</span>
                </div>
            </div>
            <div class="step step2">
                <div class="top-tip">登录账号：<span class="login-account"></span></div>
                <div class="line">
                    <div class="input-wrapper password-wrapper">
                        <label class="font-lg common-input-label">新密码：</label>
                        <input type="password" class="font-md common-input"  id="password" name="password" placeholder="请输入您的新密码"/>
                    </div>
                    <label for="password" class="font-sm msg-label"></label>
                </div>
                <div class="line ">
                    <div class="input-wrapper confirm-password-wrapper">
                        <label class="font-lg common-input-label">确认新密码：</label>
                        <input type="password" class="font-md common-input"  id="confirmpassword" name="confirmpassword" placeholder="请再次输入您的新密码"/>
                    </div>
                    <label for="confirmpassword" class="font-sm msg-label"></label>
                </div>
                <div class="font-lg common-account-step-btn-zone">
                    <span class="step-btn next-step-btn step2-btn step2-btn-can">确定修改</span>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="pagehash" value="{$pagehash}">
<input type="hidden" id="verify" name="verify" value="">
{include file="../include/side_float.html"}
{include file="../include/footer.html"}
</body>
<script src="http://cdn.66173.cn/niuguo/scripts/bootstrap3.3.6.min.js"></script>
{literal}
<script>
    var goRegisterTimeout; //登录定时
    var telCaptchaTimeout; //手机验证码定时
    var step1BtnTimeout; //第一个下一步定时
    var step2BtnTimeout; //第二个下一步定时
    var captchaInterval; // 手机验证码倒计时
    var $label_telephone = $("label[for=telephone]");
    var $label_telcaptcha = $("label[for=telcaptcha]");
    var $label_password = $("label[for=password]");
    var $label_confirmpassword = $("label[for=confirmpassword]");
    var hash = $("#pagehash").val();
    var loginAccount; // 登录账号
    // 输入时取消该提示
    $("body").on("input", ".common-input", function(e) {
        $(e.target).parents(".line").find(".msg-label").html("");
    });
    // 第一个下一步
    $("body").on("click", ".step1-btn-can", function(e) {
        var telephone = $("input[name=telephone]").val();
        var telcaptcha = $("input[name=telcaptcha]").val();
        var pass = true;
        if(!telephone || !regContact.test(telephone)) {
            pass = false;
            $label_telephone.html(!telephone ? formMsgTip.telephone.required:formMsgTip.telephone.error);
        }
        if(!telcaptcha || !regCaptchaTel.test(telcaptcha)) {
            pass = false;
            $label_telcaptcha.html(!telcaptcha ? formMsgTip.telcaptcha.required:formMsgTip.telcaptcha.error);
        }
        if(!pass) {
            return false;
        } else {
            btnTimeOutControl(".step1-btn", "step1-btn-can", step1BtnTimeout);
            var sendData = {
                mobile: telephone,
                sms_code: telcaptcha,
                pagehash:hash
            };
            $.ajax({
                url: "/account.php?act=verify_mobile",
                type: "post",
                dataType: "json",
                data: sendData
            }).success(function(data) {
                // type: 1 手机号有问题如账号未注册，2 验证码有问题，其他数字则为其他异常
//                var data = {
//                    code: 1,
//                    telephone: 15006667707
//                };
                var type = data.type;
                var msg = data.msg;
                if(data.code == 1){
                    $(".password-forget-form .step2").show().siblings().hide();
                    $(".password-forget-form .step2 .login-account").html(data.mobile);
                    $("#verify").val(data.verify);
                    $(".step-wrapper").removeClass("cur1").addClass("cur2");
                    loginAccount = data.mobile;
                }
                if(type == 1) {
                    $label_telephone.html(msg);
                } else if(type == 2) {
                    $label_telcaptcha.html(msg);
                } else {
                    msg ? briefTipControl(msg) : null;
                }
            })
        }
    });
    // 第二个下一步即确认修改
    $("body").on("click", ".step2-btn-can", function(e) {
        var password = $("input[name=password]").val();
        var confirmpassword = $("input[name=confirmpassword]").val();
        var verify = $("#verify").val();
        var pass = true;
        if(!password || !regPassword.test(password)) {
            pass = false;
            $label_password.html(!password ? formMsgTip.password.required:formMsgTip.password.error);
        }
        if(!confirmpassword || password !== confirmpassword) {
            pass = false;
            $label_confirmpassword.html(!confirmpassword ? formMsgTip.confirmpassword.required:formMsgTip.confirmpassword.equalTo);
        }
        if(!pass) {
            return false;
        } else {
            btnTimeOutControl(".step2-btn", "step2-btn-can", step2BtnTimeout);
            var sendData = {
                mobile: loginAccount,
                password: password,
                cpassword: confirmpassword,
                verify:verify,
                pagehash:hash
            };
            $.ajax({
                url: "/account.php?act=set_password",
                type: "post",
                dataType: "json",
                data: sendData
            }).success(function(data) {
            // type: 1 密码有问题，其他数字则为其他异常
                var type = data.type;
                var msg = data.msg;
                if(data.code == 1){
                    briefTipControl("修改成功，即将跳转至登录页");
                    setTimeout(function(){
                        window.location.href = "account.php?act=login"
                    }, 1000);
                }
                if(type == 1) {
                    $label_password.html(msg);
                } else {
                    briefTipControl(msg);
                }
            })
        }
    });
    // 获取验证码
    $("body").on("click", ".to-get-captcha", function() {
        if(!regContact.test($("input[name=telephone]").val())) {
            $label_telephone.html(formMsgTip.telephone.error);
            $(".captcha-tip").removeClass("to-get-captcha");
            btnTimeOutControl(".captcha-tip", "to-get-captcha", telCaptchaTimeout);
        }
        else {
            $(".captcha-tip").removeClass("to-get-captcha").html('<span class="count-time">120</span>s后获取');
            var countDownRest = 120;
            clearInterval(captchaInterval);
            captchaInterval = setInterval(function() {
                if(countDownRest > 1) {
                    countDownRest--;
                    $(".count-time").html(countDownRest)
                }
                else {
                    $(".captcha-tip").html("发送验证码").addClass("to-get-captcha");
                    clearInterval(captchaInterval)
                }

            }, 1000)
            var phone = $("input[name=telephone]").val();
             $.ajax({
                 url: "/account.php?act=sms_code",
                 type: "post",
                 data: {mobile: phone,pagehash:hash,type:1},
                 dataType: "json"
             }).success(function(json) {
                 if(json.type == 1){
                     $(".captcha-tip").html("发送验证码").addClass("to-get-captcha");
                     clearInterval(captchaInterval)
                 }
                briefTipControl(json.msg);
             })
        }
    })

</script>
{/literal}

</html>