<!--Str 页面通用底部-->
<footer class="footer">
    <nav class="footer-nav">
        <ul class="footer-nav-list clearfix">
            <li><a href="http://m.66173.cn">首页</a></li>
            <li><a href="http://m.66173.cn/info/list6">66173帮助</a></li>
            <li><a href="http://m.66173.cn/info/list4">意见反馈</a></li>
        </ul>
    </nav>
    <section class="footer-btm">
        <p>用心创造安全交易 &copy m.66173.cn</p>
            <p>客服热线：<em>0591-87766173</em></p>
            <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?1f0a1f65ba01082e76f89fd1b54a087a";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </section>
</footer>
<div id="service-fix">
    <a href="http://m.66173.cn/service.php">在线咨询</a>
</div>
<section id="search">
    <div class="page-header clearfix">
        <h1 class="logo">66173.cn</h1>
        <div class="search-box">
            <input type="search" placeholder="请输入游戏名称" class="search-input" />
            <a class="search-icon"></a>
        </div>
        <a class="cancel" href="#;">取消</a>
    </div>
    <div id="search-box"></div>
</section>